@using MarkdownSharp
@using NuGetGallery;
@model UserProfileModel
@{
    ViewBag.Title = @Model.Username;
    Layout = "~/Views/Shared/TwoColumnLayout.cshtml";
    var markdownGenerator = new Markdown
    {
        AutoHyperlink = true,
        AutoNewLines = true,
        //EncodeProblemUrlCharacters = true,
        LinkEmails = true,
        SkipCodeBlocks = true,
    };
}


@section SideColumn {
    @ViewHelpers.GravatarImage(Model.EmailAddress, Model.Username, 128)
     <div id="stats">
        <div class="stat">
            <p class="stat-number">@Model.PackagesModerationQueue.Count.ToString("n0")</p>
            <p class="stat-label">Packages in Queue</p>
        </div> 
        <div class="stat">
            <p class="stat-number">@Model.Packages.Count.ToString("n0")</p>
            <p class="stat-label">Packages</p>
        </div>
        <div class="stat">
            <p class="stat-number">@Model.TotalPackageDownloadCount.ToString("n0")</p>
            <p class="stat-label">Downloads of @Model.Username's packages</p>
        </div>
    </div>
}

<h1>@Model.Username's Profile</h1>
<h2>External Sites</h2>
 
<ul id="profileResults">
    @foreach (var siteProfile in Model.UserProfiles)
    {
        <li>
            <section class="package">
                <div class="profile">
                    <a href="@siteProfile.Url" target="_blank" title="View more about @Model.Username at @siteProfile.Name">
                        <img src="@(!string.IsNullOrWhiteSpace(siteProfile.Image) ? siteProfile.Image : SiteProfileConstants.Images.nothing_50x50_png)" alt="@siteProfile.Name Logo" />
                    </a>
                </div>
                <div class="main">
                    <h2><a href="@siteProfile.Url" target="_blank">@siteProfile.Name</a></h2>
                </div>
            </section>
        </li>
    }
    @if (Model.UserProfiles.Count == 0)
    {
        <li>
            <section class="package">
                <div class="main">
                    <h2>User has not linked any external sites</h2>
                </div>
            </section>
        </li>
    }

</ul>

@if (Model.PackagesModerationQueue.Any())
{
<h2>Packages In Moderation</h2>
<ul class="searchResults">
    @foreach (var package in Model.PackagesModerationQueue)
    {
        var submittedStatus = "Reviewed, waiting for user action";
       
         switch (package.SubmittedStatus)
         {
             case PackageSubmittedStatusType.Ready:
                submittedStatus = "Ready";
                break;
             case PackageSubmittedStatusType.Updated:
                submittedStatus = "Updated";
                break;
             case PackageSubmittedStatusType.Responded:
                submittedStatus = "Responded";
                break;
             default:
                break;
         }

         var packageImage = Url.ImageUrl(package.Id, package.Version, package.IconUrl);
        
        <li>
            <section class="package">
                <div class="side">
                    <a href="@Url.Package(package.Id, package.Version)" title="View more about @package.Title">
                        <img src="@(Url.Content(packageImage ?? @Links.Content.Images.packageDefaultIcon_50x50_png))" alt="@package.Id icon" onerror="this.src='@Links.Content.Images.packageDefaultIcon_50x50_png';" />
                    </a>
                </div>
                <div class="main">
                    <h1><a href="@Url.Package(package.Id, package.Version)">@package.Title</a></h1>
                
                    <p>
                        @if (String.IsNullOrEmpty(package.ReviewComments))
                        {
                            @Html.Raw(markdownGenerator.Transform(package.ReviewComments.clean_markdown()))
                        }
                    </p>
                    
                    <footer>
                            <ol>
                                <li><strong>Package Status:</strong> @submittedStatus</li>
                                <li><strong>Submitted Date:</strong> @package.PublishedDate.ToShortDateString()</li>
                                @if (package.ReviewedDate != null)
                                {
                                    <li><strong>Reviewed:</strong> @package.ReviewedDate.GetValueOrDefault().ToShortDateString()</li>
                                }
                                else
                                {
                                    <li><strong>Reviewed:</strong> Waiting for Review</li>
                                }
                            </ol> 
                      
                    </footer>
                </div>
            </section>
        </li>
    }
</ul>
}


<h2>Packages</h2>
<ul class="searchResults">
    @foreach (var package in Model.Packages)
    {
        var packageImage = Url.ImageUrl(package.Id, package.Version, package.IconUrl);
        <li>
            <section class="package">
                <div class="side">
                    <a href="@Url.Package(package.Id)" title="View more about @package.Title">
                        <img src="@(Url.Content(packageImage ?? @Links.Content.Images.packageDefaultIcon_50x50_png))" alt="@package.Id icon" onerror="this.src='@Links.Content.Images.packageDefaultIcon_50x50_png';" />
                    </a>
                </div>
                <div class="main">
                    <h1><a href="@Url.Package(package.Id)">@package.Title</a></h1>
                
                    <p>
                        @if (String.IsNullOrEmpty(package.Description) || package.Description.Length < 350)
                        {
                             @Html.Raw(markdownGenerator.Transform(package.Description.clean_markdown()))
                        }
                        else
                        {
                            @package.Description.Substring(0, 350)<text>... </text><a href="@Url.Package(package)">More information</a>
                        }
                    </p>

                    <footer>
                        <p class="downloads">
                            @package.TotalDownloadCount.ToString("n0") downloads
                        </p>
                    </footer>
                </div>
            </section>
        </li>
    }
</ul>
