@model PackageListViewModel
@{
    ViewBag.Title = string.IsNullOrWhiteSpace(Model.SearchTerm) ? "Packages" : "Packages matching " + Model.SearchTerm;
    ViewBag.Tab = "Search";

    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/packages.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/closeable");
    Bundles.Reference("Scripts/CookiesNotice");
}

<section id="package" class="container py-3 py-lg-5 body-tabs">
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-12">
                <div class="callout callout-warning">
                    <p class="mb-0">Your use of the packages on this site means you understand they are not supported or guaranteed in any way. Due to the nature of a public repository and unreliability due to distribution rights, these packages should not be used as is for organizational purposes either. <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "community-packages-disclaimer" })">Learn more</a>.</p>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Packages/_CommunityInfoDisclaimer.cshtml")
    }
    @if (!String.IsNullOrEmpty(Model.SearchTerm))
    {
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="packages-tab" data-toggle="tab" href="#packages-results" role="tab" aria-controls="packages-results" aria-selected="true">View Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="documentation-tab" data-toggle="tab" href="#documentation-results" role="tab" aria-controls="documentation-results" aria-selected="false">View Documentation</a>
            </li>
        </ul>
    }
    <div class="tab-content">
        <div class="tab-pane fade show active" id="packages-results" role="tabpanel" aria-labelledby="packages-tab">
            <div class="d-xl-flex align-items-xl-center justify-content-xl-between pt-3">
                <div>
                    @if (!String.IsNullOrEmpty(Model.SearchTerm))
                    {
                        <h2 class="mb-0">
                            Search for "@Model.SearchTerm" Returned @Model.TotalCount
                            @if (Model.TotalCount == 1)
                            {<text>Package</text>}
                            else
                            {<text>Packages</text>}
                        </h2>
                    }
                    else
                    {
                       <h2 class="mb-0">
                            @if (Model.TotalCount == 1)
                            {<text>There is @Model.TotalCount Community Maintained Package</text>}
                            else
                            {<text>There are @Model.TotalCount Community Maintained Packages</text>}
                        </h2>
                    }
                </div>
                @if (@Model.LastResultIndex > 0)
                {
                    <p class="mb-0">Displaying Results @Model.FirstResultIndex - @Model.LastResultIndex</p>
                }
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-8 col-xl-9">
                    <nav class="navbar navbar-expand-sm p-0">
                        <button class="btn btn-primary w-100 d-sm-none" type="button" data-toggle="collapse" data-target="#search-filters" aria-controls="search filters" aria-expanded="false" aria-label="Toggle Search Filters">View Search Filters</button>
                        <div class="collapse navbar-collapse" id="search-filters">
                            <div class="navbar-nav d-block w-100 mt-3 mt-sm-0">
                                <form method="get" action="">
                                    <fieldset class="form search">
                                        <input type="hidden" name="q" value="@Model.SearchTerm" />
                                        <div class="form-row align-items-center">
                                            <div class="col-sm mb-2 mb-sm-0">
                                                <select class="form-control" name="moderatorQueue" id="moderatorQueue" aria-label="Sort by Normal View or Moderator Queue">
                                                    @ViewHelpers.Option("", "Normal View", Model.ModeratorQueue)
                                                    @ViewHelpers.Option("true", "Moderator Queue", Model.ModeratorQueue)
                                                </select>
                                            </div>
                                            @*@if (moderationQueue == true)
                                            {
                                                <div class="col-sm mb-2 mb-sm-0">
                                                    <select class="form-control" name="moderationStatus" id="moderationStatus" aria-label="Moderation Sort Order">
                                                        @ViewHelpers.Option(Constants.SubmittedModerationStatus, "All Moderation Statuses", Model.ModerationStatus)
                                                        @ViewHelpers.Option(Constants.UpdatedModerationStatus, "Updated", Model.ModerationStatus)
                                                        @ViewHelpers.Option(Constants.PendingModerationStatus, "Pending", Model.ModerationStatus)
                                                        @ViewHelpers.Option(Constants.WaitingModerationStatus, "Waiting", Model.ModerationStatus)
                                                        @ViewHelpers.Option(Constants.RespondedModerationStatus, "Responded", Model.ModerationStatus)
                                                        @ViewHelpers.Option(Constants.ReadyModerationStatus, "Ready", Model.ModerationStatus)
                                                    </select>
                                                </div>
                                            }*@
                                            <div class="col-sm mb-2 mb-sm-0">
                                                <select class="form-control" name="prerelease" id="prerelease" aria-label="Sort by the inclusion of Prerelease Packages">
                                                    @ViewHelpers.Option("false", "Stable Only", Model.IncludePrerelease)
                                                    @ViewHelpers.Option("true", "Include Prerelease", Model.IncludePrerelease)
                                                </select>
                                            </div>
                                            <div class="col-sm mb-2 mb-sm-0">
                                                <select class="form-control" name="sortOrder" id="sortOrder" aria-label="Sort Order">
                                                    @if (!Model.SearchTerm.IsEmpty())
                                                    {
                                                        @ViewHelpers.Option(Constants.RelevanceSortOrder, "Relevance", Model.SortOrder)
                                                    }
                                                    @ViewHelpers.Option(Constants.PopularitySortOrder, "Popularity", Model.SortOrder)
                                                    @ViewHelpers.Option(Constants.AlphabeticSortOrder, "A-Z", Model.SortOrder)
                                                    @ViewHelpers.Option(Constants.RecentSortOrder, "Recent", Model.SortOrder)
                                                </select>
                                            </div>
                                            <div class="col-12 col-sm text-sm-right text-lg-left">
                                                <a href="@Url.RouteUrl(RouteName.ListPackages)" class="btn btn-outline-primary"><span class="icon-refresh"></span><span class="d-sm-none d-md-inline-block ml-2 ml-sm-0 ml-md-2">Reset Filters</span></a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-4 col-xl-3 mt-2 mt-lg-0">
                    <form class="form-inline justify-content-center justify-content-lg-end" role="search" action="@Url.SearchResults()" method="get">
                        <div class="input-group w-100">
                            <input class="form-control" name="q" type="text" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." placeholder="Search Packages" value="@(String.IsNullOrEmpty(ViewBag.SearchTerm) ? "" : ViewBag.SearchTerm)">
                            <div class="input-group-append">
                                <button class="input-group-text bg-primary" type="submit" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." value="">
                                    <span class="icon-search" alt="Search Packages"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-3 pt-lg-5">
                @foreach (var package in Model.Items)
                {
                    @Html.Partial(MVC.Packages.Views._ListPackage, package)
                }
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    @ViewHelpers.PreviousNextPager(Model.Pager)
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="documentation-results" role="tabpanel" aria-labelledby="documentation-tab">
            <div class="d-lg-flex align-items-xl-center justify-content-xl-between pt-3">
                <div>
                    <h2 class="mb-lg-0">Search for "@Model.SearchTerm" Docs and Site Search Results</h2>
                </div>
                <form class="form-inline justify-content-center justify-content-lg-end" role="search" action="@Url.SearchResults()" method="get">
                    <div class="input-group w-100">
                        <input class="form-control" name="q" type="text" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." placeholder="Search Packages" value="@(String.IsNullOrEmpty(ViewBag.SearchTerm) ? "" : ViewBag.SearchTerm)">
                        <div class="input-group-append">
                            <button class="input-group-text bg-primary" type="submit" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." value="">
                                <span class="icon-search" alt="Search Packages"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <hr />
            <gcse:searchresults-only></gcse:searchresults-only>
        </div>
    </div>
</section>

@section BottomScripts {
    
    <script>
        (function () {
            var cx = '013536524443644524775:xv95wv156yw';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
        $(function () {
            $("#sortOrder,#prerelease,#moderatorQueue").change(function () {
                $(this).closest("form").submit();
            });
            Closeable.modal("chocolatey_hide_packages_disclaimer");
            if (!getCookie('chocolatey_hide_packages_disclaimer')) {
                $(".modal-closeable").css('display', 'block');
            }
        });
    </script>
}
