@{
  ViewBag.Title = "_Footer";
}

<article>
<p><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "home" })">Home</a> | <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "installation" })">Installation</a> | <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-reference" })">Command Reference</a> | <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "create-packages" })">Creating Chocolatey Packages</a> | <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-reference" })">PowerShell Function Reference</a></p>
</article>
