@{
  ViewBag.Title = "_Sidebar";
}

<article>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "home" })">Home</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "why" })">Why Chocolatey?</a></li>
<li><a href="https://github.com/chocolatey/chocolatey/wiki">Choco 0.9.8.x &amp; below</a></li>
</ul>
<p><strong>General</strong></p>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes" })">Release Notes</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "road-map" })">Roadmap</a></li>
<li><a href="https://github.com/chocolatey/choco/blob/master/README.md#submitting-issues">Submitting Issues</a></li>
<li><a href="https://github.com/chocolatey/choco/blob/master/CONTRIBUTING.md">Contributing</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "chocolatey-faqs" })">FAQs</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "security" })">Security</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "moderation" })">Chocolatey.org Moderation</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "community-packages-disclaimer" })">Chocolatey.org Packages Disclaimer</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "package-triage-process" })#are-you-a-software-vendor">Software Vendor?</a></li>
</ul>
<p><strong>Features</strong></p>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-synchronize" })">Synchronize with Programs and Features</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-create-packages-from-installers" })">Create Packages Automatically from Installers!</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-automatically-recompile-packages" })">Automatically Internalize Existing Packages (Recompile)!</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-virus-check" })">Runtime Malware Protection</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-private-cdn" })">Private CDN Cache</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-install-directory-override" })">Install Directory Override</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-infrastructure-automation" })">Infrastructure Automation Integration</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-shim" })">Automatically Add exes to PATH w/out Clutter (shims)</a></li>
<li>In progress, check back for updates!</li>
</ul>
<p><strong>Usage</strong></p>
<p><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "getting-started" })#how-does-chocolatey-work">How does choco work?</a></p>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "installation" })">How to install</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "uninstallation" })">How to uninstall</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "getting-started" })">Getting Started</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "proxy-settings-for-chocolatey" })">Proxy Settings</a></li>
<li><strong>Commands:</strong></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-reference" })#how-to-pass-options-switches">Passing args to choco</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-reference" })">Complete Reference</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-list" })">List / Search </a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-install" })">Install</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-pin" })">Pin</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-outdated" })">Outdated</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-upgrade" })">Upgrade</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-uninstall" })">Uninstall</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-config" })">Config</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-sources" })">Source / Sources</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-feature" })">Feature</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-download" })">Download</a></li>
<li>Packaging
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-new" })">New</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-pack" })">Pack</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-api-key" })">Apikey</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-push" })">Push</a></li>
</ul></li>
</ul>
<p><strong>Creating Packages</strong></p>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "create-packages" })">Create Packages</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "create-packages-quick-start" })">Quick Start</a></li>
<li><strong>Commands:</strong></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-new" })">New</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-pack" })">Pack</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-api-key" })">Apikey</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-push" })">Push</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-download" })">Download</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "automatic-packages" })">Automatic Packaging</a></li>
<li><strong>PowerShell Reference:</strong></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-reference" })">Function and Variable Reference</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-package" })">Install-ChocolateyPackage</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-zip-package" })">Install-ChocolateyZipPackage</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-vsix-package" })">Install-ChocolateyVsixPackage</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-get-chocolatey-web-file" })">Get-ChocolateyWebFile</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-install-package" })">Install-ChocolateyInstallPackage</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-get-chocolatey-unzip" })">Get-ChocolateyUnzip</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-path" })">Install-ChocolateyPath</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-environment-variable" })">Install-ChocolateyEnvironmentVariable</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-shortcut" })">Install-ChocolateyShortcut</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-file-association" })">Install-ChocolateyFileAssociation</a></li>
</ul>
<p><strong>How To&#39;s</strong></p>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "proxy-settings-for-chocolatey" })">Use Chocolatey w/Proxy Server</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-change-cache" })">Change Download Cache Location aka Don&#39;t use TEMP for downloads</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-install-upgrade-package-without-scripts" })">Install/Upgrade a Package w/out running install scripts</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-create-custom-package-templates" })">Create Custom Package Templates</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "package-triage-process" })">Request Package Fixes/Updates</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-recompile-packages" })">Manually Recompile Packages, Embedding/Internalizing Remote Resources</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "package-triage-process" })">Request Package</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "package-triage-process" })#i-want-to-take-overhelp-with-package-maintenance-for-my-software">Maintain Packages for My Software</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "package-triage-process" })">Become a Maintainer</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "package-mantainer-handover" })">Take Over Package Maintenance Exclusively</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-parse-package-parameters-argument" })">Parse Package Parameters</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-mount-an-iso-in-chocolatey-package" })">Mount Iso</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-deprecate-a-chocolatey-package" })">Deprecate a Package</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-host-feed" })">Host Your Own Server</a></li>
</ul>
<p><strong>Use Cases</strong></p>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "development-environment-setup" })">Development Environment</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "hosting-chocolatey-packages-on-my-get" })">Host on MyGet</a></li>
</ul>
<p><strong>Learning Resources</strong></p>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "resources" })">Resources</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "videos" })">Videos</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "presentations" })">Presentations</a></li>
</ul>
<p><strong>Other</strong></p>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "why" })">Why Chocolatey?</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "legal" })">Legal</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "history" })">History</a></li>
</ul>
</article>
