@{
  ViewBag.Title = "ChocolateyFAQs";
}

<article>
<h1 id="frequently-asked-questions">Frequently Asked Questions</h1>
<h3 id="cant-find-your-answer-here">Can&#39;t find your answer here?</h3>
<p>Feel free to reach out to us on <a href="https://gitter.im/chocolatey/choco">Gitter</a> or by the <a href="https://groups.google.com/group/chocolatey">email distribution list / forum</a>.</p>
<h3 id="what-is-chocolatey">What is Chocolatey?</h3>
<p>Chocolatey is kind of like apt-get, but for Windows (with Windows comes limitations). It is a machine level package manager that is built on top of nuget command line and the nuget infrastructure.<br />
<a href="@Url.RouteUrl(RouteName.Docs, new { docName = "history" })">More behind the name</a></p>
<p>&quot;Okay, machine package manager, that&#39;s nice. What does that mean though?&quot; It means you can simply install software with a few keystrokes and go get coffee while your co-workers are downloading and running an install manually (and I do mean something like an MSI).</p>
<p>How about updates? Wouldn&#39;t it be nice to update nearly everything on your machine with a few simple keystrokes? We think so, too. Chocolatey does that. <code>choco upgrade all -y</code></p>
<h3 id="what-is-the-purpose-of-chocolatey">What is the purpose of Chocolatey?</h3>
<p>Great question! See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "why" })#what-is-the-purpose-of-chocolatey">The purpose of Chocolatey</a></p>
<h3 id="how-does-chocolatey-work">How does Chocolatey work?</h3>
<p>See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "why" })#what-is-chocolatey">What is Chocolatey?</a></p>
<h3 id="why-chocolatey">Why Chocolatey?</h3>
<p>First a <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "chocolatey-story" })">story</a>. Then <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "why" })">Why Chocolatey?</a></p>
<h3 id="what-can-a-chocolatey-package-consist-of">What can a Chocolatey Package consist of?</h3>
<p>See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "getting-started" })#what-are-chocolatey-packages">What are Chocolatey Packages?</a></p>
<h3 id="can-i-use-chocolatey-with-existing-installs">Can I use Chocolatey with existing installs?</h3>
<p>Fantastic question, see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "why" })#can-i-use-chocolatey-with-existing-software">Can I use Chocolatey with existing software?</a></p>
<h3 id="i-would-like-to-use-chocolatey-in-my-organization-is-the-licensing-friendly">I would like to use Chocolatey in my organization, is the licensing friendly?</h3>
<p>Yes, it is. Chocolatey carries a FOSS Apache 2.0 license, which is extremely business friendly. You can use Chocolatey and most of it&#39;s infrastructure completely free. Chocolatey also has a business edition with features organizations need for better software management . See <a href="https://chocolatey.org/pricing">Compare</a> for details.</p>
<h3 id="should-my-organization-depend-on-use-the-community-feed-httpschocolatey.orgpackages">Should my organization depend on (use) the community feed (<a href="https://chocolatey.org/packages" class="uri">https://chocolatey.org/packages</a>)?</h3>
<p>For production-level scenarios, I couldn&#39;t justify giving up that level of control and trust to the internet in an organization. It&#39;s recommended that you copy and modify existing packages and/or create your own internal packages and host them internally. That way you can completely guarantee that an install/upgrade/uninstall will always work every time. See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "security" })#chocolateyorg-the-community-feed">Security</a> for more details.</p>
<p>If you are just setting up or updating developer workstations and can tolerate things breaking every once in awhile because internet/uncertainty, it&#39;s fine to use the community feed.</p>
<h3 id="how-is-chocolatey-different-than-onegetpowershell-package-management">How is Chocolatey different than OneGet/PowerShell Package Management?</h3>
<p>OneGet is a package manager <strong><em>aggregator</em></strong>, which means <a href="http://blogs.msdn.com/b/garretts/archive/2015/05/05/10-things-about-oneget-that-are-completely-different-than-you-think.aspx">it is not really a package manager at all</a>. Chocolatey will have a provider that plugs right into OneGet. At the current time there is a CTP available, but it is based on 2 year old Chocolatey technology (we&#39;ve had security fixes since then, plus a world of features), so we can&#39;t really recommend it. But if you must use it, make sure your PowerShell execution policy is set correctly and you are in an administrative console. See <a href="http://www.hanselman.com/blog/AptGetForWindowsOneGetAndChocolateyOnWindows10.aspx" class="uri">http://www.hanselman.com/blog/AptGetForWindowsOneGetAndChocolateyOnWindows10.aspx</a> for more details.</p>
<h3 id="how-is-chocolatey-different-than-ninite">How is Chocolatey different than Ninite?</h3>
<p>Great question, see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "chocolatey-vs-ninite" })">Chocolatey vs Ninite</a>.</p>
<h3 id="how-is-chocolatey-different-than-nuget-andor-openwrap">How is Chocolatey different than NuGet and/or OpenWrap?</h3>
<p>Chocolatey is a machine package manager. Where NuGet/OW are focused on developer library packages, Chocolatey is focused on applications and tools, and not necessarily developer focused.</p>
<p>A typical way of stating the difference is &quot;Developers use NuGet to get 3rd party libraries that they use to build the .NET tools and applications that they release with Chocolatey!&quot;</p>
<h3 id="how-iswill-chocolatey-be-different-than-apt">How is/will Chocolatey be different than apt?</h3>
<ul>
<li>Chocolatey does not support the idea of source packages, which are packages that must be built to be used. For someone interested in that, check out <a href="https://github.com/coapp" class="uri">https://github.com/coapp</a>.</li>
<li>Library packages are not completely off the plate, but mostly. How would you link the library up to the application/tool?</li>
</ul>
<h3 id="is-there-a-video-i-can-watch-to-show-me-chocolatey-in-action">Is there a video I can watch to show me Chocolatey in action?</h3>
<p>There is! This is a long video due to slow internet connections, but watch the first 1:30ish minutes and the last 1:30ish minutes and that will give you a general idea. <a href="http://www.youtube.com/watch?v=N-hWOUL8roU" class="uri">http://www.youtube.com/watch?v=N-hWOUL8roU</a></p>
<p><strong>NOTE:</strong> This video shows dependency chaining, so you are seeing it install 11 applications/tools.</p>
<h3 id="what-is-the-default-feed-url-community-feed-url">What is the default feed URL (community feed url)?</h3>
<p><a href="https://chocolatey.org/api/v2/" class="uri">https://chocolatey.org/api/v2/</a></p>
<h3 id="what-can-i-install">What can I install?</h3>
<p>Check out <a href="http://chocolatey.org/packages" class="uri">http://chocolatey.org/packages</a><br />
and any package on another feed (nuget.org, rubygems.org, web pi tools, etc).</p>
<h3 id="what-if-i-install-x-and-i-already-have-x-installed">What if I install X and I already have X installed?</h3>
<p>With most packages when you already have something installed, the Chocolatey process will just perform the install again silently. Most times this means that it does nothing and in the end you have what you already had.</p>
<h3 id="can-i-override-the-installation-directory">Can I override the installation directory?</h3>
<p>Yes you can, see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "getting-started" })#overriding-default-install-directory-or-other-advanced-install-concepts">Overriding install directory</a>.</p>
<h3 id="what-is-moderation">What is moderation?</h3>
<p>Related to the community package repository only (aka the default feed aka <a href="https://chocolatey.org/packages" class="uri">https://chocolatey.org/packages</a>), we have a concept called moderation, where submitted packages are held until they are considered safe and of minimal quality for regular consumption.</p>
<p>Moderation involves checking a package version for quality (validation) and correctness, whether it installs and uninstalls correctly (verification). We have two automated services that validate and verify packages. The validator checks the quality of a package. If no requirements are flagged as failing review, it will be passed on to the verifier, which checks that the package actually works as intended (it may help to think of the validator as unit testing and the verifier as integration testing). If both of these automated reviews pass the package version is submitted to a moderator for final review and approval.</p>
<p>Things to note:</p>
<ul>
<li>We have trusted packages, and those packages skip human review/moderation.</li>
<li>A maintainer can not moderate his/her own pkgs.</li>
<li>You can see if a package has been verified by the green circle next to it&#39;s name on the package page. If it is green or red, it will also be a clickable link. To see all packages verified, see <a href="https://gist.github.com/choco-bot" class="uri">https://gist.github.com/choco-bot</a></li>
<li>Besides trusted packages, a package version is never approved without a moderator clicking approve.</li>
</ul>
<h3 id="how-does-the-moderation-review-process-work">How does the moderation review process work?</h3>
<p>See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "moderation" })#package-review-process">Review Process</a>.</p>
<h3 id="what-is-a-trusted-package">What is a trusted package?</h3>
<p>Related to the community package repository only (aka the default feed aka <a href="https://chocolatey.org/packages" class="uri">https://chocolatey.org/packages</a>).</p>
<p>A package that is considered trusted comes from the original software creator or is maintained by someone in the community who has a track record for high quality and safe packages.</p>
<p>Two ways your packages can become trusted:</p>
<ul>
<li>You write the underlying software that the package installs. For instance the ReSharper package that comes directly from JetBrains.</li>
<li>You put in a lot of good packages and your packages will eventually become trusted.</li>
</ul>
<p>For a package to switch to trusted, a moderator must manually make the change. It is not an automated process.</p>
<p><strong>Note:</strong> Once everything is ready, all packages will go under automated verification and validation and be held for fixes if they don&#39;t pass, even trusted packages.</p>
<p><strong>Note:</strong> Another note, we&#39;ve been setting trust per package. That is planned to change at some point for the most part as the trust level has always been about the maintainer and not always the package itself.</p>
<h3 id="how-do-i-install-a-package-version-under-moderation">How do I install a package version under moderation?</h3>
<p>Related to the community package repository only (aka the default feed aka <a href="https://chocolatey.org/packages" class="uri">https://chocolatey.org/packages</a>).</p>
<p>You can install a version of a package version that&#39;s still under moderation - however know that if the maintainer needs to fix the package version during the review process, you will never get those fixes locally since they are updating the <strong><em>SAME</em></strong> version. Package versions are not immutable until they are approved. The caveat for &quot;never&quot; is that if you know it changed (likely you won&#39;t and there is no notification, <em>what you have installed technically never existed</em>), you could force the reinstall of that same version of the package.</p>
<p>Another thing to consider: if the package version or the package as a whole is rejected (usually for renaming the package to something better to better meet naming standards), you are likely to get weird warnings later and won&#39;t see updates at all. Remember, you have installed something that technically never existed, so any thing you see related to choco not knowing about it is to be expected and not a bug.</p>
<p>To actually install, see the next question.</p>
<h3 id="how-do-i-install-an-unlisted-package-package-version">How do I install an unlisted package / package version?</h3>
<p>You need to specify name AND version to any package to install the unlisted/unapproved version. This goes for any NuGet compatible feed that understands unlisted packages.</p>
<h3 id="how-do-i-install-a-rejected-package">How do I install a rejected package?</h3>
<p>Related to the community package repository only (aka the default feed aka <a href="https://chocolatey.org/packages" class="uri">https://chocolatey.org/packages</a>), we have a concept of packages that have been rejected. You cannot install a rejected package. It could do bad things to your system so we don&#39;t allow install from the community repository.</p>
<h3 id="how-do-i-self-reject-a-package">How do I self-reject a package?</h3>
<p>If you are a maintainer of a package and you would like to self-reject an older version of a package that is failing verification or validation, we support that. If however you just want to reject a working package because it is older, we don&#39;t support that. Rejected != Obsolete. It&#39;s really about when the underlying software has the same download url for every release so the older versions do not apply. If you are using checksums to verify the download (and you should be), then your older versions should start failing.</p>
<p><img src="https://cloud.githubusercontent.com/assets/63502/12429736/8c67689c-beb1-11e5-83e9-02fe1db91272.png" alt="image" /></p>
<ul>
<li>Failing verification -<br />
<img src="https://cloud.githubusercontent.com/assets/63502/12429697/509d2b94-beb1-11e5-9e1d-73a156117672.png" alt="image" /></li>
<li>Failing validation - a message from the validator telling you it failed validation.</li>
</ul>
<h3 id="what-is-the-validator">What is the validator?</h3>
<p>The <a href="https://github.com/chocolatey/package-validator">validator</a> is a service that checks the quality of a package based on requirements, guidelines and suggestions for creating packages for Chocolatey&#39;s community feed. Many of the validation items will automatically roll back into choco and will be displayed when packaging a package. We like to think of the validator as unit testing. It is validating that everything is as it should be and meets the minimum requirements for a package on the community feed.</p>
<p>What does the validator check? <a href="https://github.com/chocolatey/package-validator/wiki" class="uri">https://github.com/chocolatey/package-validator/wiki</a></p>
<h3 id="what-is-the-verifier">What is the verifier?</h3>
<p>The <a href="https://github.com/chocolatey/package-verifier">verifier</a> is a service that checks the correctness (that the package actually works), that it installs and uninstalls correctly, has the right dependencies to ensure it is installed properly and can be installed silently. The verifier runs against both submitted packages and existing packages (currently checking once a month that a package can still install and sending notice when it fails). We like to think of the verifier as integration testing. It&#39;s testing all the parts and ensuring everything is good. On the site, you can see the current status of a package based on a little colored ball next to the title. If the ball is green or red, the ball is a link to the results (only on the package page, not in the list screen).</p>
<p><img src="https://cloud.githubusercontent.com/assets/63502/11872220/bf58f590-a499-11e5-84bb-6fcf6d320227.png" alt="Passing verification" /></p>
<ul>
<li>Green means good. The ball is a link to the results</li>
<li>Orange if still pending verification (has not yet run).</li>
<li>Red means it failed verification for some reason. The ball is a link to the results.</li>
<li>Grey means unknown or excluded from verification (if excluded, a reason will be listed on the package page).</li>
</ul>
<h3 id="what-does-chocolatey-do-are-you-redistributing-software">What does Chocolatey do? Are you redistributing software?</h3>
<p>Packages on Chocolatey.org are subject to software distribution rights, so in that case the following applies:</p>
<p>Chocolatey does the same thing that you would do based on the package instructions. This usually means going out and downloading an installer from the official distribution point and then silently installing it on your machine. With most packages this means Chocolatey is not redistributing software because they are going to the same distribution point that you yourself would go get the software if you were performing this process manually.</p>
<p>When you host internal packages, those packages can embed software and/or point to internal shares. You are not subject to software distribution rights, thus you can create packages that are more reliable and secure. See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "getting-started" })#what-are-chocolatey-packages">What are Chocolatey Packages</a> for more details.</p>
<h3 id="when-i-install-a-portable-app-like-autohotkey.portable-how-is-it-on-my-path-without-littering-my-path">When I install a portable app like <a href="https://chocolatey.org/packages/autohotkey.portable">autohotkey.portable</a>, how is it on my path? Without littering my path?</h3>
<p>When you install portable apps that have executables in the package, Chocolatey automatically creates a &quot;shim&quot; file and puts that in a folder that is on the path. That allows you to run a portable application by asking for it on the command line.</p>
<p>When you take an application with a native installer, say like WinDirStat, it is only on your path if the native installer has put it there or the instructions in the Chocolatey package itself has requested for it to be on the path. In this case, this is the &quot;littering&quot; the path concept.</p>
<h3 id="where-does-chocolatey-install-by-default">Where does Chocolatey install by default?</h3>
<p>As of version 0.9.8.24, binaries, libraries and Chocolatey components install in <code>C:\ProgramData\chocolatey</code> (environment variable %ProgramData%) by default. This reduces the attack surface on a local installation of Chocolatey and limits who can make changes to the directory.</p>
<p><strong>NOTE:</strong> Historically, Chocolatey installed to <code>C:\Chocolatey</code> and currently, performing an update of Chocolatey doesn&#39;t change the installation location, except for when the install path is <code>C:\chocolatey</code>. It will upgrade that path and all variables automatically. For more information about why Chocolatey used <code>C:\Chocolatey</code> as the default location, look here - <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "default-chocolatey-install-reasoning" })">Default Install Reasoning</a></p>
<h3 id="what-kind-of-package-types-does-chocolatey-support">What kind of package types does Chocolatey support?</h3>
<ul>
<li>Binary Packages – Installable/portable applications – This is 98% of the Chocolatey packages – most are pointers to the real deal native installers and/or zipped software.</li>
<li>PowerShell Command Packages – Packages that have the suffix <strong>.powershell</strong> will install PowerShell scripts as commands for you to call from anywhere.</li>
<li>Development Packages – Packages that have the suffix <strong>.dev</strong>. For instance <a href="http://nuget.org/list/packages/dropkick.dev">dropkick.dev</a>.</li>
<li>Coming soon – Virtual Packages – Packages that are like a category, and you just want one package from that category. <a href="https://github.com/chocolatey/chocolatey/issues/7">Read more ...</a></li>
</ul>
<p><a name="AppVsTool" /></p>
<h3 id="what-distinction-does-chocolatey-make-between-an-installable-and-a-portable-application">What distinction does Chocolatey make between an installable and a portable application?</h3>
<h4 id="installable-application">Installable application</h4>
<p>An installable application is something that comes with a native installer and ends up in the add/remove programs (in control panel of the system).<br />
Installable applications end up where the native installer wants them to end up (i.&nbsp; e. Program Files). If you want to override that, please feel free to with the proper commands using InstallArgs (-ia) at the command line and possibly override – Install Command. Yes this does mean you will need to have intimate knowledge of the installer. Having Chocolatey itself make the override directory is likely at some point, but it is wwwwaaaaayyyy out on the radar (like after Rob is somehow paid to work on Chocolatey full time ;) ).</p>
<h4 id="portable-application-something-that-doesnt-require-a-system-install-to-use">Portable application – something that doesn&#39;t require a system install to use</h4>
<p>A portable application is something that doesn&#39;t require a native installer to use. In other words, it is not &quot;installed&quot; on your system (where you can go to uninstall in the control panel). It also requires no administrative access for the package install.</p>
<p>Portable applications end up in the %ChocolateyInstall%/lib (i.&nbsp; e. C:\ProgramData\Chocolatey\lib) folder yes, but they get a &quot;shim&quot; to put them on the path of the machine. This behavior is very much to how Chocolatey works and is not configurable (the directory). Where the portable apps end up is still going to be %ChocolateyInstall%/lib no matter where you move the directory, unless a package itself unpacks the portable app elsewhere (as in the case of <a href="http://chocolatey.org/packages/gittfs">git-tfs</a>).</p>
<h3 id="why-doesnt-a-package-install-software-to-program-files">Why doesn&#39;t a package install software to Program Files?</h3>
<p>Most packages that use native installers (MSI, InnoSetup, etc) will install to Program Files, but there are packages that do not. There are two really important reasons why:</p>
<ul>
<li>Program Files is synonymous with software that has uninstall registry keys - or put another way, applications that have native installers that you can find for uninstall in the Control Panel under Programs and Features.</li>
<li>Writing to Program Files requires administrative permissions and the package you are installing is likely a portable package (even if not explicitly named so, it may have a zip that it extracts). There is also a way for non-administrators to use Chocolatey and these types of packages need to work for them as well.</li>
</ul>
<p>It really depends on the underlying software the package &quot;installs&quot;. If the underlying software is a native installer, then it has a machine install (meaning it gets an uninstall registry key and shows up in Programs and Features) and Program Files is the appropriate place for it.</p>
<p>Chocolatey has a different avenue for portable packages that allows both admins and non-admins to be able to use these packages, after all they are just downloading and unzipping an archive. These packages either go into a Tools Root location or just get shims (executables are put on the path) and continue to stay in the Chocolatey lib directory. If we restricted a non-admin for an avenue that would work for them manually, it wouldn&#39;t make choco useful for them at all. Since we support non-admin usage of Chocolatey, packages that can support the portable model should support it.</p>
<p>Also consider that if the package <strong>is</strong> using <code>$env:ChocolateyBinRoot</code> (which will later be named <code>$env:ChocolateyToolsRoot</code>) you can set the root under Program Files and then you get the better of both worlds.</p>
<h3 id="what-is-the-difference-between-packages-named-.install-i.e.-autohotkey.install-.portable-i.e.-autohotkey.portable-and-i.e.-autohotkey">What is the difference between packages named <em>.install (i.&nbsp; e. <a href="https://chocolatey.org/packages/autohotkey.install">autohotkey.install</a>), </em>.portable (i.&nbsp; e. <a href="https://chocolatey.org/packages/autohotkey.portable">autohotkey.portable</a>) and * (i.&nbsp; e. <a href="https://chocolatey.org/packages/autohotkey">autohotkey</a>)?</h3>
<p>Hey, good question! You are paying attention! Chocolatey has the concept of virtual packages (coming) and meta packages. Virtual packages are packages that represent other packages when used as a dependency. Metapackages are packages that only exist to provide a grouping of dependencies.</p>
<p>A package with no suffix that is surrounded by packages with suffixes is to provide a virtual package. So in the case of git, git.install, and git.commandline (deprecated for .portable) – git is that virtual package (currently it is really just a metapackage until the virtual packages feature is complete). That means that other packages could depend on it and you could have either git.install or git.portable installed and you would meet the dependency of having git installed. That keeps Chocolatey from trying to install something that already meets the dependency requirement for a package.</p>
<p>Talking specifically about the *.install package suffix – those are for the packages that have a native installer that they have bundled or they download and run.</p>
<p><strong>NOTE:</strong> the suffix <em>.app has been used previously to mean the same as </em>.install. But the *.app suffix is now deprecated and should not be used for new packages.</p>
<p>The <em>.portable packages are the packages that will usually result in an executable on your path somewhere but do not get installed onto the system (Add/Remove Programs). Previously the suffixes </em>.tool and *.commandline have been used to refer to the same type of packages.</p>
<p><strong>NOTE:</strong> now <em>.tool and </em>.commandline are deprecated and should not be used for new packages.</p>
<p>Want more information? See <a href="http://ferventcoder.com/archive/2012/02/25/chocolatey---guidance-on-packaging-apps-with-both-an-install.aspx" class="uri">http://ferventcoder.com/archive/2012/02/25/chocolatey---guidance-on-packaging-apps-with-both-an-install.aspx</a></p>
<h3 id="i-just-took-over-as-the-primary-maintainer-of-a-package.-what-do-i-need-to-do">I just took over as the primary maintainer of a package. What do I need to do?</h3>
<p>See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "package-mantainer-handover" })">Package Maintainer Handover</a></p>
<h3 id="im-seeing-chocolatey-application-tool-using-32-bit-to-run-instead-of-x64.-what-is-going-on">I&#39;m seeing Chocolatey / <em>application</em> / <em>tool</em> using 32 bit to run instead of x64. What is going on?</h3>
<p>The shims are generated as &quot;Any CPU&quot; programs, which depend on the <code>Enable64Bit</code> registry value to be set to <code>1</code>, which it is by default. A way to fix it is to issue the following command at the location where the prompt shows below:</p>
<pre class="cmd">C:\Windows\Microsoft.NET\Framework64\v2.0.50727&gt; Ldr64 set64</pre>
<p><a href="http://stackoverflow.com/a/14857294">Any CPU 32-bit mode on 64 bit machine</a></p>
<h3 id="is-there-a-powershell-module-for-chocolatey">Is there a PowerShell Module for Chocolatey?</h3>
<p>Not yet, but when there is it will be provided as a binary DLL.</p>
<p>Chocolatey itself is now a binary with 0.9.9+. This provides the ability to run it on Linux/OSX, which is why it is not by default a PowerShell module (*nix still doesn&#39;t really have PowerShell support). The intention is to have something that has a larger portability - this is why it is not something you can <strong><em>only</em></strong> use in PowerShell, but rather something you can <strong><em>also</em></strong> use in PowerShell.</p>
<p><strong>It was NEVER a PowerShell module, it just used PowerShell as a programming language and was meant to be a CLI app.</strong> I bolded this so it might get read twice. ;)</p>
<p>Chocolatey up until 0.9.9 was provided completely written in PowerShell, with the approach above. I don&#39;t know of any other app that has ever tried that approach, which made the original chocolatey client a rarity indeed.</p>
<h3 id="why-do-i-have-to-confirm-packages-now-is-there-a-way-to-remove-this">Why do I have to confirm packages now? Is there a way to remove this?</h3>
<p>tl;dr - Yes, completely possible. Use <code>-y</code> or turn on <code>allowGlobalConfirmation</code>.</p>
<p>Also check out the help menus now - <code>choco -h</code>, <code>choco install -h</code></p>
<p>Longer answer, we&#39;ve moved a little closer towards other package managers for security reasons, where by default we stop and confirm if you are okay with the state change. We always communicate changes in the <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes" })">release notes</a> / <a href="https://github.com/chocolatey/choco/blob/master/CHANGELOG.md">Changelog</a>, which also end up in the <a href="https://chocolatey.org/packages/chocolatey#releasenotes">nuspec file</a>, so we highly recommend folks scan at least one of those to see anything tagged breaking changes. Always scan from your current version up to the one you are upgrading to so that you catch all changes.</p>
<p>The one that is the most important right now is the <code>x.y.z</code> release (in this case 0.9.9), once we reach v1 we will be fully SemVer compliant and breaking changes will constitute a major version bump (we&#39;re still SemVer in a less than v1), so you can scan breaking changes and major new features in an <code>x</code> release, new compatible features in a <code>.y</code> release, and <code>.z</code> releases will only contain compatible fixes for the current release.</p>
<p>0.9.9 introduced a new compiled client that was/is a total rewrite. 0.9.10 will have complete feature parity with the older client - see <a href="https://github.com/chocolatey/choco/labels/FeatureParity">FeatureParity</a>. Why the rewrite? For a more maintainable, faster client that can run on mono now, so you are not completely tied to Windows. We&#39;ve started adding support for other install providers (like <a href="https://github.com/chocolatey/choco/issues/247">Scriptcs</a>).</p>
<p>The <a href="https://github.com/chocolatey/choco/wiki/ReleaseNotes#099-march-3-2015">relevant bits of the release notes</a> for the FAQ:</p>
<ul>
<li>[Security] Prompt for confirmation: For security reasons, we now stop for confirmation before changing the state of the system on most commands. You can pass <code>-y</code> to confirm any prompts or set a value in the config that will globally confirm and behave like older versions of Chocolatey (<code>allowGlobalConfirmation</code>, see <code>choco feature -h</code> for how to enable).</li>
</ul>
<p>Some folks may find the change quite annoying. The perspective of some folks isn&#39;t the perspective of everyone and we have some very security-conscious folks that want a verification of what they requested is what they end up with. So this prompt is extremely important for them. We are moving to a more secure by default approach so this change was important to get us there. Security related changes are some of the only things you will see that affect Chocolatey in such a way.</p>
<p>We spent many months stressing over this change because of the breaking part and decided it wasn&#39;t going to get easier to change later. We&#39;ve added the ability for you to set Chocolatey back to the way it was before with <code>allowGlobalConfirmation</code> and if the prompts annoy you, you should probably look at making this change.</p>
</article>
