@{
  ViewBag.Title = "FeaturesInfrastructureAutomation";
}

<article>
<h1 id="configuration-management-integration-free-open-source">Configuration Management Integration (Free / Open Source)</h1>
<p>Chocolatey integrates with several infrastructure automation tools!</p>
<p>With most of these tools, the interface you would interact with Chocolatey would be through the tool or through the interfaces of the tool, like in scripts.</p>
 @section SideColumn { 
<!-- TOC depthTo:2 -->
<ul>
<li><a href="#summary">Summary</a></li>
<li><a href="#ansible">Ansible</a></li>
<li><a href="#boxstarter">Boxstarter</a></li>
<li><a href="#chef">Chef</a></li>
<li><a href="#octopus-deploy">Octopus Deploy</a></li>
<li><a href="#otter">Otter</a></li>
<li><a href="#powershell-dsc">PowerShell DSC</a></li>
<li><a href="#powershell-packagemanagement">PowerShell PackageManagement</a></li>
<li><a href="#psdeploy">PSDeploy</a></li>
<li><a href="#puppet">Puppet</a></li>
<li><a href="#saltstack">Saltstack</a></li>
<li><a href="#system-center-configuration-manager">System Center Configuration Manager</a></li>
</ul>
<!-- /TOC -->
 } 
<h2 id="summary">Summary</h2>
<h3 id="chocolatey-integration-implementation-with-common-configuration-managers">Chocolatey Integration Implementation with Common Configuration Managers</h3>
<p>For common integrations, it&#39;s handy to refer to the table below to know what configuration manager to choose. Most of the implementations below are written and managed by the companies behind the product. These implementations are typically open source and each part could be added by community contributions for those familiar with the code implementations. If you are unable to provide code implementations for adding necessary functionality to the integrations, we find it best if you create issues/tickets with those organizations if you are a customer as you will have more leverage into getting them implemented. <strong>NOTE</strong>: If you are a configuration manager company identified in the table and you have implemented anything in the below or you find our information is incorrect, please let us know so we can get it fixed.</p>
<table style="width:100%;">
<colgroup>
<col style="width: 23%" />
<col style="width: 14%" />
<col style="width: 11%" />
<col style="width: 16%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 12%" />
</colgroup>
<thead>
<tr class="header">
<th>Configuration Managers</th>
<th><a href="https://docs.ansible.com/ansible/latest/modules/win_chocolatey_module.html">Ansible</a></th>
<th><a href="https://docs.chef.io/resource_chocolatey_package.html">Chef</a></th>
<th><a href="https://www.powershellgallery.com/packages/cChoco">PowerShell DSC</a></th>
<th><a href="https://forge.puppet.com/puppetlabs/chocolatey">Puppet</a></th>
<th><a href="https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.chocolatey.html">Salt</a></th>
<th><a href="https://inedo.com/den/inedox/chocolatey">Otter</a></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Manage Packages</td>
<td><a href="https://docs.ansible.com/ansible/latest/modules/win_chocolatey_module.html">x</a></td>
<td><a href="https://docs.chef.io/resource_chocolatey_package.html">x</a></td>
<td><a href="https://github.com/chocolatey/cChoco/blob/development/DSCResources/cChocoPackageInstall/cChocoPackageInstall.schema.mof">x</a></td>
<td><a href="https://forge.puppet.com/puppetlabs/chocolatey#package-provider-chocolatey">x</a></td>
<td><a href="https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.chocolatey.html#salt.modules.chocolatey.install">x</a></td>
<td><a href="https://github.com/Inedo/inedox-chocolatey/blob/master/Chocolatey/InedoExtension/Configurations/ChocolateyPackageConfiguration.cs">x</a></td>
</tr>
<tr class="even">
<td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "installation" })">Install Chocolatey</a></td>
<td><a href="https://docs.ansible.com/ansible/latest/modules/win_chocolatey_module.html">x</a></td>
<td><a href="https://supermarket.chef.io/cookbooks/chocolatey/">x</a></td>
<td><a href="https://github.com/chocolatey/cChoco/blob/development/DSCResources/cChocoInstaller/cChocoInstaller.schema.mof">x</a></td>
<td><a href="https://forge.puppet.com/puppetlabs/chocolatey#class-chocolatey">x</a></td>
<td><a href="https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.chocolatey.html#salt.modules.chocolatey.bootstrap">x</a></td>
<td><a href="https://github.com/Inedo/inedox-chocolatey/blob/master/Chocolatey/InedoExtension/Configurations/ChocolateyInstalledConfiguration.cs">x</a></td>
</tr>
<tr class="odd">
<td>Install Chocolatey from internal source</td>
<td><a href="https://docs.ansible.com/ansible/latest/modules/win_chocolatey_module.html">x</a></td>
<td><a href="https://supermarket.chef.io/cookbooks/chocolatey/">x</a></td>
<td><a href="https://github.com/chocolatey/cChoco/blob/development/DSCResources/cChocoInstaller/cChocoInstaller.schema.mof">x</a></td>
<td><a href="https://forge.puppet.com/puppetlabs/chocolatey#class-chocolatey">x</a></td>
<td></td>
<td><a href="https://github.com/Inedo/inedox-chocolatey/blob/master/Chocolatey/InedoExtension/Configurations/ChocolateyInstalledConfiguration.cs">x</a></td>
</tr>
<tr class="even">
<td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-source" })">Manage Sources</a></td>
<td><a href="https://docs.ansible.com/ansible/latest/modules/win_chocolatey_source_module.html">x</a></td>
<td><a href="https://docs.chef.io/resource_chocolatey_source.html">x</a></td>
<td><a href="https://github.com/chocolatey/cChoco/blob/development/DSCResources/cChocoSource/cChocoSource.schema.mof">x</a></td>
<td><a href="https://forge.puppet.com/puppetlabs/chocolatey#chocolateysource">x</a></td>
<td><a href="https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.chocolatey.html#salt.modules.chocolatey.add_source">x</a></td>
<td><a href="https://github.com/Inedo/inedox-chocolatey/blob/master/Chocolatey/InedoExtension/Configurations/ChocolateySourceConfiguration.cs">x</a></td>
</tr>
<tr class="odd">
<td>Manage Source Type (Admin/Self-Service)</td>
<td><a href="https://docs.ansible.com/ansible/latest/modules/win_chocolatey_source_module.html">x</a></td>
<td></td>
<td></td>
<td><a href="https://forge.puppet.com/puppetlabs/chocolatey#chocolateysource">x</a></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-feature" })">Manage Features</a></td>
<td><a href="https://docs.ansible.com/ansible/latest/modules/win_chocolatey_feature_module.html">x</a></td>
<td></td>
<td><a href="https://github.com/chocolatey/cChoco/blob/master/DSCResources/cChocoFeature/cChocoFeature.schema.mof">x</a></td>
<td><a href="https://forge.puppet.com/puppetlabs/chocolatey#chocolateyfeature">x</a></td>
<td></td>
<td><a href="https://github.com/Inedo/inedox-chocolatey/blob/master/Chocolatey/InedoExtension/Configurations/ChocolateyFeatureConfiguration.cs">x</a></td>
</tr>
<tr class="odd">
<td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-config" })">Manage Config Settings</a></td>
<td><a href="https://docs.ansible.com/ansible/latest/modules/win_chocolatey_config_module.html">x</a></td>
<td><a href="https://docs.chef.io/resource_chocolatey_config.html">x</a></td>
<td></td>
<td><a href="https://forge.puppet.com/puppetlabs/chocolatey#chocolateyconfig">x</a></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
<p><strong>NOTE: Each <em>x</em> is linked to the specific feature documentation.</strong></p>
<p>For most of these, those configuration managers have some sort of exec you could use to manage those additional aspects, but it would be best if they supported all aspects of configuration of Chocolatey as part of the provider implementations.</p>
<h2 id="ansible">Ansible</h2>
<p>Ansible has the <code>win_chocolatey</code> module that manages both packages and the installation of Chocolatey itself.</p>
<pre><code class="language-yaml">win_chocolatey:
  name: git
  source: https://my.internal.repository/api/v2/</code></pre>
<p><a href="https://bit.ly/choco_ansible">Read More...</a></p>
<h2 id="boxstarter">Boxstarter</h2>
<p>Boxstarter is a lightweight configuration management utility.</p>
<blockquote>
<p>Repeatable, <strong>reboot resilient</strong> Windows environment installations made easy using Chocolatey packages. When its time to repave either <strong>bare metal or virtualized instances</strong>, locally or on a <strong>remote machine</strong>, Boxstarter can automate both trivial and highly complex installations. Compatible with all Windows versions from <strong>Windows 7/2008 R2 forward</strong>.</p>
</blockquote>
<p><a href="http://boxstarter.org/">Read more...</a></p>
<h2 id="chef">Chef</h2>
<p>Chef 12.7+ has a <a href="https://www.chef.io/blog/2016/02/12/chef-client-12-7-released/">built-in</a> <code>chocolatey_package</code> resource to use with Chocolatey.</p>
<pre><code class="language-ruby">chocolatey_package &#39;git&#39; do
  action :install
  source &#39;https://my.internal.repository/api/v2&#39;
end</code></pre>
<p><a href="https://docs.chef.io/resource_chocolatey_package.html">Resource - Read More...</a></p>
<p>When you need to also install Chocolatey, you would use the community cookbook to do so. The cookbook is maintained by the Chocolatey team. It has a package resource that can be used with older Chef versions.</p>
<pre><code class="language-ruby">include_recipe &#39;chocolatey&#39;</code></pre>
<p><a href="https://bit.ly/choco_chef">Cookbook - Read More...</a></p>
<h3 id="example">Example</h3>
<p>Here&#39;s a more in depth example from <a href="https://github.com/Nordstrom/chefdk_bootstrap/blob/master/recipes/windows.rb">Nordstrom</a>:</p>
<pre><code class="language-ruby">include_recipe &#39;chocolatey&#39;

home = Dir.home
%W(
  #{home}/.chef
  #{home}/chef
  #{home}/chef/cookbooks
).each do |directory|
  directory directory
end

packages = node[&#39;chefdk_bootstrap&#39;][&#39;package&#39;]

packages.each do |pkg, install|
  include_recipe &quot;#{cookbook_name}::#{pkg}&quot; if install
end</code></pre>
<p>Another example from <a href="https://github.com/facebook/IT-CPE/tree/master/chef/cookbooks/cpe_choco">Facebook</a>:</p>
<pre><code class="language-ruby">node.default[&#39;cpe_choco&#39;][&#39;sources&#39;][&#39;bacon&#39;] =
  &#39;source&#39; =&gt; &#39;http://bacon.es.yummy&#39;,
}</code></pre>
<h2 id="octopus-deploy">Octopus Deploy</h2>
<p>Octopus is a friendly deployment automation tool for .NET developers. It integrates with lots of utilities, and they have a template for installing Chocolatey packages: <a href="https://library.octopusdeploy.com/step-template/actiontemplate-chocolatey-install-package" class="uri">https://library.octopusdeploy.com/step-template/actiontemplate-chocolatey-install-package</a></p>
<p><a href="https://octopus.com/">Read more...</a></p>
<h2 id="otter">Otter</h2>
<p>Otter has an <a href="https://github.com/Inedo/inedox-chocolatey">open source Chocolatey extension</a> that allows installing and uninstalling packages, specifying package versions, chocolatey sources, chocolatey features, and installing chocolatey istelf.</p>
<p>Otter also keeps an inventory of Chocolatey packages installed on any or all servers.</p>
<pre><code class="language-none">Chocolatey::Ensure-Package
(
    Name: 7zip.install,
    Version: 18.5,
    Source: https://proget.local/chocolatey
);

Chocolatey::Ensure-Installed
(
    Version: latest,
    Source: https://proget.local/chocolatey
);

Chocolatey::Ensure-Source
(
    Name: Internal,
    Url: https://proget.local/chocolatey,
    Credential: DomainCred
);

Chocolatey::Ensure-Feature
(
    Feature: checksumFiles,
    Enabled: false
);</code></pre>
<p><a href="https://inedo.com/den/otter/chocolatey">Read More...</a></p>
<h2 id="powershell-dsc">PowerShell DSC</h2>
<p>PowerShell DSC (Desired State Configuration) has a cChoco module that can manage both packages and the installation of Chocolatey itself.</p>
<pre><code class="language-powershell">  cChocoInstaller installChoco
  {
    InstallDir = &quot;c:\ProgramData\chocolatey&quot;
  }

  cChocoPackageInstaller installGit
  {
     Name = &quot;git&quot;
     DependsOn = &quot;[cChocoInstaller]installChoco&quot;
  }</code></pre>
<p><a href="https://bit.ly/choco_dsc">Read More...</a></p>
<h2 id="powershell-packagemanagement">PowerShell PackageManagement</h2>
<p><strong>NOTE:</strong> Chocolatey has a prototype provider for the built-in package manager on Windows 10/Windows Server 2016 that was created by Microsoft awhile back. It is not fully functional and it may have security issues. If you want to use Chocolatey with PackageManagement, we recommend using ChocolateyGet, which is a nice bridge until an official one is implemented. No ETA has been defined.</p>
<p><a href="https://github.com/OneGet/oneget">PowerShell PackageManagement (aka OneGet)</a> is a package manager <strong><em>aggregator</em></strong> that depends on the existence of package managers as providers to work, one of which is Chocolatey. For a pretty comprehensive post about what PackageManagement is and what it is not, see the PackageManagement Blog post on <a href="https://blogs.technet.microsoft.com/packagemanagement/2015/05/05/10-things-about-oneget-that-are-completely-different-than-you-think/">10 things about OneGet that are completely different than you think</a>.</p>
<h2 id="psdeploy">PSDeploy</h2>
<p>PSDeploy is a quick and dirty module to simplify PowerShell based deployments.</p>
<pre><code class="language-powershell">Deploy SingleChocolateyPackage {
    By Chocolatey {
        FromSource &#39;c:\ChocolateyPackages\examplepackage.0.1.1.nupkg&#39;
        To &quot;http://your-choco-repo.internal.com/&quot;
        WithOptions @@{
            ApiKey = &#39;yourAPIkey&#39;
            Force = $true
        }
    }
}</code></pre>
<p><a href="http://psdeploy.readthedocs.io/en/latest/Example-Chocolatey-Deployment/">Read More...</a></p>
<h2 id="puppet">Puppet</h2>
<p>Puppet has a <a href="https://forge.puppet.com/supported">Supported module</a> for Chocolatey <code>puppetlabs/chocolatey</code>. Note that there is also a <code>chocolatey/chocolatey</code> module, the supported module is a drop in replacement for the <code>chocolatey/chocolatey</code> module - please use <code>puppetlabs/chocolatey</code> as it has full configuration of Chocolatey.</p>
<pre><code class="language-puppet">include chocolatey

package { &#39;git&#39;:
  ensure   =&gt; latest,
  provider =&gt; &#39;chocolatey&#39;,
  source   =&gt; &#39;https://my.internal.repository/api/v2&#39;,
}</code></pre>
<p>Puppet has some great documentation on getting started with Chocolatey. Be sure to check that out at <a href="https://docs.puppet.com/pe/latest/windows_modules.html">Using Windows modules</a>.</p>
<p>The Chocolatey team is most familiar with Puppet and has written some documentation for using Puppet with Chocolatey. Please see</p>
<ul>
<li><a href="https://chocolatey.org/install#install-with-puppet">Install with Puppet</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "installation-licensed" })#set-up-licensed-edition-with-puppet">Chocolatey Licensed Editions Configuration/Setup with Puppet</a></li>
</ul>
<p><strong>Note:</strong> if anyone would be interested in providing documentation similar to the above for other frameworks, we&#39;d accept it as Pull Requests at <a href="https://github.com/chocolatey/choco-wiki" class="uri">https://github.com/chocolatey/choco-wiki</a>.</p>
<p><a href="https://forge.puppet.com/puppetlabs/chocolatey">Read More...</a></p>
<h2 id="saltstack">Saltstack</h2>
<p>Salt has a Chocolatey module that manages both packages and the installation of Chocolatey itself.</p>
<pre><code class="language-python">salt &#39;*&#39; chocolatey.bootstrap
salt &#39;*&#39; chocolatey.install git</code></pre>
<p><a href="https://bit.ly/choco_salt">Read More...</a></p>
<h2 id="system-center-configuration-manager">System Center Configuration Manager</h2>
<p>Chocolatey integrates with SCCM by handling the software management, and pointing to <a href="https://technet.microsoft.com/en-us/library/bb680614.aspx">distribution points</a> as the source for packages. This allows folks to get packages and larger binaries out to their network without constraints and still take advantage of Chocolatey&#39;s fantastic abilities!</p>
<p>To direct Chocolatey package installs, you can still write GPOs to ensure this.</p>
</article>
