@{
  ViewBag.Title = "GettingStarted";
}

<article>
<h1 id="getting-started">Getting Started</h1>
<!-- TOC -->
<ul>
<li><a href="#using-chocolatey">Using Chocolatey</a></li>
<li><a href="#overriding-default-install-directory-or-other-advanced-install-concepts">Overriding default install directory or other advanced install concepts</a></li>
<li><a href="#terminology">Terminology</a></li>
<li><a href="#what-are-chocolatey-packages">What Are Chocolatey Packages?</a></li>
<li><a href="#how-does-chocolatey-work">How does Chocolatey work?</a></li>
<li><a href="#installation">Installation</a></li>
<li><a href="#upgrade">Upgrade</a></li>
<li><a href="#uninstall">Uninstall</a></li>
<li><a href="#where-are-chocolatey-packages-installed-to">Where are Chocolatey packages installed to?</a></li>
<li><a href="#how-does-chocolatey-work-with-programs-and-features-existing-installs">How does Chocolatey work with Programs and Features? Existing installs?</a></li>
<li><a href="#where-does-chocolatey-install-packages-from">Where does Chocolatey install packages from?</a></li>
</ul>
<!-- /TOC -->
<h2 id="using-chocolatey">Using Chocolatey</h2>
<p>Now that you have Chocolatey on your machine (<a href="@Url.RouteUrl(RouteName.Docs, new { docName = "installation" })">need to install?</a>), you can run several commands.</p>
<p>Take a look at the <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-reference" })">command reference</a>. We are going to be using the <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-install" })">install command</a>.</p>
<p>Let&#39;s install <a href="http://notepad-plus-plus.org/">Notepad++</a>.</p>
<ol>
<li>Open a command line.</li>
<li>Type <code>choco install notepadplusplus</code> and press Enter.</li>
<li>If you have UAC turned on or are not an administrator, Chocolatey is going to request administrative permission at some point (at least once during the process). Otherwise it will not be able to finish what it is doing successfully. If you don&#39;t have UAC turned on, it will just continue on without stopping to bother you.</li>
<li>That&#39;s it. Pretty simple but powerful little concept!</li>
</ol>
<h3 id="overriding-default-install-directory-or-other-advanced-install-concepts">Overriding default install directory or other advanced install concepts</h3>
<ol>
<li>Yes we support that through the use of install arguments - see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-install" })#installarguments">Install Arguments</a></li>
<li>If you wanted to pass native argument to the installer, like the install directory, you would need to know the silent argument passed to that particular installer and then you would specify it on the command line or in the packages.config.</li>
<li>If it was an MSI, then usually you could pass <code>-ia &quot;INSTALLDIR=&quot;&quot;D:\Program Files&quot;&quot;&quot;</code> (for cmd.exe, it&#39;s different for PowerShell). See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-reference" })#how-to-pass-options-switches">how to pass options/switches</a> for specifics on passing quoted values through.</li>
<li>For example, Notepad++ uses the <a href="http://nsis.sourceforge.net/Main_Page">NSIS</a> (NullSoft Scriptable Install System) installer. If we look at the silent options, we see that <a href="http://nsis.sourceforge.net/Docs/Chapter3.html#installerusagecommon">/D</a> is how we influence the install directory. So we would pass <code>choco install notepadplusplus.install -ia &quot;'/D=E:\SomeDirectory\somebody\npp'&quot;</code> -note that we are looking at the specific package over the virtual (although you can do the same with notepadplusplus as well).</li>
</ol>
<p>Is there a better way? Absolutely, see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-install-directory-override" })">ubiquitous install directory switch</a>!</p>
<h2 id="terminology">Terminology</h2>
<p>Software and Package are not terms used interchangeably in the Chocolatey community. It&#39;s important to understand the distinction between them and how they are related.</p>
<ul>
<li><strong>Chocolatey</strong> - Windows package manager for software management, can also be considered a framework</li>
<li><strong>Chocolatey.org</strong> - Website that is one stop shop for Chocolatey information and contains a community maintained package repository. It is important to understand that Chocolatey and the community feed are not intertwined, they are not the same thing. See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "community-packages-disclaimer" })">community feed disclaimer</a> to get a better understanding.</li>
<li><strong>NuGet</strong> - Framework and .NET package manager for software libraries. Chocolatey uses the NuGet packaging framework</li>
<li><strong>Package</strong> - See <a href="#what-are-chocolatey-packages">What are Chocolatey Packages?</a>. Packages can contain the software they represent and the final location of software may or may not be in the package.</li>
<li><strong>Software</strong> - Software refers to the actual runtime software that a package represents. This can be installed to the system through native installers, or come from zip/archive files or just dropping the runtime software right into the package.</li>
<li><strong>Native Installer</strong> - Actual installers that install software into Programs and Features, &quot;natively&quot; on a Windows machine. This is like MSI, InnoSetup (exe), NSIS (exe), InstallShield (exe/msi), etc. Windows has over 20 different installer formats.</li>
<li><strong>Install Package</strong> - packages that wrap native installers</li>
<li><strong>Portable Package</strong> - packages that use zip or just contain the runtime software. Usually these packages do not require administrative privileges to install or run. See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "<a href=" })"https://github.com/chocolatey/choco/wiki/ChocolateyFAQs#portable-application-something-that-doesnt-require-a-system-install-to-use" class="uri">https://github.com/chocolatey/choco/wiki/ChocolateyFAQs#portable-application-something-that-doesnt-require-a-system-install-to-use</a>"></a></li>
<li><strong>Extension Package</strong> - packages that provide extensions to Chocolatey&#39;s PowerShell module through additional PowerShell modules.</li>
<li><strong>Template Package</strong> - packages that have packaging templates in them, used in package creation. See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-create-custom-package-templates" })">create your own package templates</a>.</li>
<li><strong>Metapackage</strong> - packages that only exist to take dependencies on other packages, usually as a way of providing one command to get a complete setup. Some metapackages exist to provide discoverability, such as &quot;git&quot; versus &#39;git.install.&quot; The git package just depends on git.install, so running the install for either package will result in the git software being installed on the machine.</li>
<li><strong>Virtual package</strong> - a concept that a package can &quot;provide&quot; some functionality and any package that meets that provides will be considered a dependency met. For example, if you need to take a dependency on a pdf reader, you wouldn&#39;t want to take a hard dependency on AdobeReader, but instead you would hope that adobereader provides pdf as well as other packages like SumatraPDF and FoxitReader. Then you could take a dependency on pdf and if any of those packages are installed, the dependency is met. Otherwise an algorithm would determine which one to install. THIS IS NOT IMPLEMENTED AT THIS TIME WITH CHOCOLATEY.</li>
</ul>
<h2 id="what-are-chocolatey-packages">What Are Chocolatey Packages?</h2>
<p>Chocolatey packages are known as nupkg files, which is a compiled NuSpec or a fancy zip file that knows about package metadata (including dependencies and versioning). These packages are an enhanced NuGet package, they have additional metadata that is specific to Chocolatey. Chocolatey is also compatible with vanilla NuGet packages. A Chocolatey package can contain embedded software and/or automation scripts.</p>
<p>Chocolatey packages are not just something fancy on top of MSI/Exe installers. Chocolatey definitely supports that avenue and, with the addition of unzipping archives, it is the most widely used aspect of Chocolatey, especially when you see the packages on the community feed (<a href="https://chocolatey.org/packages" class="uri">https://chocolatey.org/packages</a> aka dot org). Chocolatey is about managing packages, and it works best when those packages contain all of the software instead of reaching out to external/internet resources for the software those packages represent. When you look at the community feed, you are seeing one representation of the way you can build packages, mostly driven by <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "legal" })#distributions">distribution rights</a> that govern when packages can redistribute software or not. Those distribution rules do not govern private/internal packages, so the rules are a bit different. Packages internal to organizations are wide open to do quite a bit more. You can do software embedded packages where executables are automatically added to the path (shimmed) and/or PowerShell automation scripts to do pretty much anything, including running native installers that may be embedded or downloaded as part of the automation script (again, one of the most widely seen aspects on dot org).</p>
<p>Packages with everything embedded are much more deterministic and repeatable, things most businesses require. You just won&#39;t see that as often on the community feed due to the aforementioned <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "legal" })#distributions">distribution rights</a>.</p>
<p>The closer the underlying software a package represents is to the package (as in executables and files included in the package), the more Chocolatey behaves like a package manager.</p>
<h2 id="how-does-chocolatey-work">How does Chocolatey work?</h2>
<p>How the heck does this all work?</p>
<h3 id="installation">Installation</h3>
<ol>
<li>Chocolatey uses Nuget.Core to retrieve the package from the source.</li>
<li>Choco determines if it self-contained or has automation scripts - PowerShell scripts (*.ps1 files), and soon to be open to Scriptcs files in the <code>0.9.10.x</code> timeframe (I know, right?!).</li>
<li>Choco takes a registry snapshot for later comparison.</li>
<li>If there are automation scripts, choco will run those. They can contain whatever you need to do, if they are PowerShell you have the full power of Posh (PowerShell), but you should try to ensure they are compatible with Posh v2+.</li>
<li>Choco compares the snapshot and determines uninstaller information and saves that to a .registry file.</li>
<li>Choco snapshots the folder based on all files that are currently in the package directory.</li>
<li>Choco looks for executable files in the package folder and generates shims into the <code>$env:ChocolateyInstall\bin</code> folder so those items are available on the path. Those could have been embedded into the package or brought down from somewhere (internet, ftp, file folder share, etc) and placed there.</li>
</ol>
<h3 id="upgrade">Upgrade</h3>
<ol>
<li>Starting in 0.9.10, Chocolatey will look for and run a chocolateyBeforeModify.ps1 file in the existing package prior to upgrading or uninstalling a package. This is your opportunity to shut down services and/or processes. This is run from the existing package, not the new version of the package. If it fails, it just passes a warning and continues on.</li>
<li>Similar to install, except choco will make a backup of the package folder (and only the package folder) prior to attempting upgrade.</li>
<li>The files snapshot is used to determine what files can be removed from the package folder. If those files have not changed, they will be removed.</li>
<li>If the upgrade fails, choco will ask if you want to rollback the package folder to the previous version. If you choose to move roll back, it will put the backed up package directory back in place. This does not fix any folders you may have been using outside of the package directory, such as where the native installer may have installed a program to nor the location of <code>Get-ToolsLocation</code>/<code>Get-BinRoot</code> (e.g. <code>c:\tools</code>). You will need to handle those fixes on your own. Chocolatey also doesn&#39;t rerun any install scripts on rollback.</li>
</ol>
<h3 id="uninstall">Uninstall</h3>
<ol>
<li>Choco makes the determination that the package is actually installed.</li>
<li>Starting in 0.9.10, Chocolatey will look for and run a chocolateyBeforeModify.ps1 file in the existing package prior to upgrading or uninstalling a package. This is your opportunity to shut down services and/or processes. If it fails, it just passes a warning and continues on.</li>
<li>Choco will make a backup of the package folder.</li>
<li>The automation script is run if found. This should be used to clean up anything that is put there with the install script.</li>
<li>If auto uninstaller is turned on, choco will attempt to run the auto uninstaller if a silent uninstall can be determined. Otherwise it will prompt the user (unless -y) to ask if they want the uninstaller to continue. The auto uninstaller can automatically detect about 80% of the different native uninstallers and determine or use the silent uninstall arguments.</li>
<li>If everything is successful so far, the files snapshot is used to determine what files can be removed from the package folder. If those files have not changed, they will be removed.</li>
<li>If everything is deleted from the package folder, the folder is also removed.</li>
</ol>
<p>When a package has an exe file, Chocolatey will create a link &quot;shortcut&quot; to the file (called a shim) so that you can run that tool anywhere on the machine. See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-shim" })">shimming</a> for more information<br />
When a package has a chocolateyInstall.ps1, it will run the script. The instructions in the file can be anything. This is limited only by the .NET framework and PowerShell.<br />
Most of the Chocolatey packages that take advantage of the PowerShell download an application installer and execute it silently.</p>
<h2 id="where-are-chocolatey-packages-installed-to">Where are Chocolatey packages installed to?</h2>
<p>Chocolatey packages are installed to <code>ChocolateyInstall\lib</code>, but the software could go to various locations, depending on how the package maintainer created the package.</p>
<p>Some packages are installed under <code>ChocolateyInstall\lib</code>, others - especially packages that are based on Windows installers (.msi files) - install to the default path of the original installer (which is most likely within <code>Program Files</code>).</p>
<p>There are also packages for which you can set a custom installation path. These packages (like ruby) use the <code>$env:ChocolateyBinRoot</code> environment variable. If this variable does not exist, it will be created as <code>c:\tools</code> e.g. <code>C:\tools\ruby193</code>. To change this behaviour, you can set <code>$env:ChocolateyBinRoot</code> to an existing folder, e. g. <code>C:\somestuff</code>. Packages that use the environment variable, will then be installed in the given subfolder, f. ex. <code>C:\somestuff\ruby193</code>.</p>
<h2 id="how-does-chocolatey-work-with-programs-and-features-existing-installs">How does Chocolatey work with Programs and Features? Existing installs?</h2>
<p>Many packages use native software installers, so Chocolatey allows the installer itself to handle install/upgrade/uninstall scenarios. This means it can work directly with already installed software just by using <code>choco install</code> to make Chocolatey aware of existing software. You can also use a specially crafted install command (skip powershell) to allow choco to install a package without installing the already installed native software.</p>
<h2 id="where-does-chocolatey-install-packages-from">Where does Chocolatey install packages from?</h2>
<p>By default it installs packages from chocolatey.org (the community feed). But you can change this by adding default sources and/or using the <code>--source</code> switch when running a command.</p>
<p>When you <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-host-feed" })">host internal packages</a>, those packages can embed software and/or point to internal shares. You are not subject to software distribution rights like the packages on the community feed, so you can <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "create-packages" })">create packages</a> that are more reliable and secure. See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "getting-started" })#what-are-chocolatey-packages">What are Chocolatey Packages</a> for more details.</p>
</article>
