@{
  ViewBag.Title = "HelpersInstallChocolateyPowershellCommand";
}

<article>
<h1 id="install-chocolateypowershellcommand">Install-ChocolateyPowershellCommand</h1>
<p>Installs a PowerShell Script as a command</p>
<h2 id="syntax">Syntax</h2>
<pre class="brush: ps">Install-ChocolateyPowershellCommand `
  [-PackageName &lt;String&gt;] `
  -PsFileFullPath &lt;String&gt; `
  [-Url &lt;String&gt;] `
  [-Url64bit &lt;String&gt;] `
  [-Checksum &lt;String&gt;] `
  [-ChecksumType &lt;String&gt;] `
  [-Checksum64 &lt;String&gt;] `
  [-ChecksumType64 &lt;String&gt;] `
  [-Options &lt;Hashtable&gt;] `
  [-IgnoredArguments &lt;Object[]&gt;] [&lt;CommonParameters&gt;]</pre>
<h2 id="description">Description</h2>
<p>This will install a PowerShell script as a command on your system. Like<br />
an executable can be run from a batch redirect, this will do the same,<br />
calling PowerShell with this command and passing your arguments to it.<br />
If you include a url, it will first download the PowerShell file.</p>
<h2 id="notes">Notes</h2>
<p>Chocolatey works best when the packages contain the software it is<br />
managing and doesn&#39;t require downloads. However most software in the<br />
Windows world requires redistribution rights and when sharing packages<br />
publicly (like on the <a href="https://chocolatey.org/packages">community feed</a>), maintainers may not have those<br />
aforementioned rights. Chocolatey understands how to work with that,<br />
hence this function. You are not subject to this limitation with<br />
internal packages.</p>
<h2 id="aliases">Aliases</h2>
<p>None</p>
<h2 id="examples">Examples</h2>
<p><strong>EXAMPLE 1</strong></p>
<pre class="brush: ps">
$psFile = Join-Path $(Split-Path -Parent $MyInvocation.MyCommand.Definition) &quot;Install-WindowsImage.ps1&quot;
Install-ChocolateyPowershellCommand -PackageName &#39;installwindowsimage.powershell&#39; -PSFileFullPath $psFile</pre>
<p><strong>EXAMPLE 2</strong></p>
<pre class="brush: ps">
$psFile = Join-Path $(Split-Path -Parent $MyInvocation.MyCommand.Definition) `
 &quot;Install-WindowsImage.ps1&quot;
Install-ChocolateyPowershellCommand `
 -PackageName &#39;installwindowsimage.powershell&#39; `
 -PSFileFullPath $psFile `
 -PSFileFullPath $psFile `
 -Url &#39;http://somewhere.com/downloads/Install-WindowsImage.ps1&#39;</pre>
<p><strong>EXAMPLE 3</strong></p>
<pre class="brush: ps">
$psFile = Join-Path $(Split-Path -Parent $MyInvocation.MyCommand.Definition) `
 &quot;Install-WindowsImage.ps1&quot;
Install-ChocolateyPowershellCommand `
 -PackageName &#39;installwindowsimage.powershell&#39; `
 -PSFileFullPath $psFile `
 -Url &#39;http://somewhere.com/downloads/Install-WindowsImage.ps1&#39; `
 -Url64 &#39;http://somewhere.com/downloads/Install-WindowsImagex64.ps1&#39;</pre>
<h2 id="inputs">Inputs</h2>
<p>None</p>
<h2 id="outputs">Outputs</h2>
<p>None</p>
<h2 id="parameters">Parameters</h2>
<h3 id="packagename-string">-PackageName [&lt;String&gt;]</h3>
<p>The name of the package - while this is an arbitrary value, it&#39;s<br />
recommended that it matches the package id.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>1</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="psfilefullpath-string">-PsFileFullPath &lt;String&gt;</h3>
<p>Full file path to PowerShell file to turn into a command. If embedding<br />
it in the package next to the install script, the path will be like<br />
<code>&quot;$(Split-Path -parent $MyInvocation.MyCommand.Definition)\\Script.ps1&quot;</code></p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>true</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>2</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="url-string">-Url [&lt;String&gt;]</h3>
<p>This is the 32 bit url to download the resource from. This resource can<br />
be used on 64 bit systems when a package has both a Url and Url64bit<br />
specified if a user passes <code>--forceX86</code>. If there is only a 64 bit url<br />
available, please remove do not use the paramter (only use Url64bit).<br />
Will fail on 32bit systems if missing or if a user attempts to force<br />
a 32 bit installation on a 64 bit system.</p>
<p>Prefer HTTPS when available. Can be HTTP, FTP, or File URIs.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>3</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="url64bit-string">-Url64bit [&lt;String&gt;]</h3>
<p>OPTIONAL - If there is a 64 bit resource available, use this<br />
parameter. Chocolatey will automatically determine if the user is<br />
running a 64 bit OS or not and adjust accordingly. Please note that<br />
the 32 bit url will be used in the absence of this. This parameter<br />
should only be used for 64 bit native software. If the original Url<br />
contains both (which is quite rare), set this to &quot;˜$url&#39; Otherwise remove<br />
this parameter.</p>
<p>Prefer HTTPS when available. Can be HTTP, FTP, or File URIs.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td>url64</td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>4</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="checksum-string">-Checksum [&lt;String&gt;]</h3>
<p>OPTIONAL (Highly recommended) - The checksum hash value of the Url<br />
resource. This allows a checksum to be validated for files that are not<br />
local. The checksum type is covered by ChecksumType.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>named</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="checksumtype-string">-ChecksumType [&lt;String&gt;]</h3>
<p>OPTIONAL - The type of checkum that the file is validated with - valid<br />
values are &quot;˜md5&#39;, &quot;˜sha1&#39;, &quot;˜sha256&#39; or &quot;˜sha512&#39; - defaults to &quot;˜md5&#39;.</p>
<p>MD5 is not recommended as certain organizations need to use FIPS<br />
compliant algorithms for hashing - see<br />
<a href="https://support.microsoft.com/en-us/kb/811833" class="uri">https://support.microsoft.com/en-us/kb/811833</a> for more details.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>named</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="checksum64-string">-Checksum64 [&lt;String&gt;]</h3>
<p>OPTIONAL (Highly recommended) - The checksum hash value of the Url64bit<br />
resource. This allows a checksum to be validated for files that are not<br />
local. The checksum type is covered by ChecksumType64.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>named</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="checksumtype64-string">-ChecksumType64 [&lt;String&gt;]</h3>
<p>OPTIONAL - The type of checkum that the file is validated with - valid<br />
values are &quot;˜md5&#39;, &quot;˜sha1&#39;, &quot;˜sha256&#39; or &quot;˜sha512&#39; - defaults to<br />
ChecksumType parameter value.</p>
<p>MD5 is not recommended as certain organizations need to use FIPS<br />
compliant algorithms for hashing - see<br />
<a href="https://support.microsoft.com/en-us/kb/811833" class="uri">https://support.microsoft.com/en-us/kb/811833</a> for more details.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>named</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="options-hashtable">-Options [&lt;Hashtable&gt;]</h3>
<p>OPTIONAL - Specify custom headers. Available in 0.9.10+.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>named</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td>@@<script type="text/javascript">
<!--
h='&#x25;&#x37;&#66;&#x25;&#x37;&#68;&#x25;&#x37;&#68;';a='&#64;';n='&#x25;&#x37;&#66;&#72;&#x65;&#x61;&#100;&#x65;&#114;&#x73;&#x3d;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'" clas'+'s="em' + 'ail">'+'&#x7b;&#72;&#x65;&#x61;&#100;&#x65;&#114;&#x73;&#x3d;&#64;&#x7b;&#x7d;&#x7d;'+'<\/'+'a'+'>');
// -->
</script><noscript>&#x7b;&#72;&#x65;&#x61;&#100;&#x65;&#114;&#x73;&#x3d;&#64;&#x7b;&#x7d;&#x7d;&#32;&#40;&#x25;&#x37;&#66;&#72;&#x65;&#x61;&#100;&#x65;&#114;&#x73;&#x3d;&#32;&#x61;&#116;&#32;&#x25;&#x37;&#66;&#x25;&#x37;&#68;&#x25;&#x37;&#68;&#x29;</noscript></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="ignoredarguments-object">-IgnoredArguments [&lt;Object[]&gt;]</h3>
<p>Allows splatting with arguments that do not apply. Do not use directly.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>named</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="commonparameters">&lt;CommonParameters&gt;</h3>
<p>This cmdlet supports the common parameters: -Verbose, -Debug, -ErrorAction, -ErrorVariable, -OutBuffer, and -OutVariable. For more information, see <code>about_CommonParameters</code> <a href="http://go.microsoft.com/fwlink/p/?LinkID=113216" class="uri">http://go.microsoft.com/fwlink/p/?LinkID=113216</a> .</p>
<h2 id="links">Links</h2>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-get-chocolatey-web-file" })">Get-ChocolateyWebFile</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-install-package" })">Install-ChocolateyInstallPackage</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-package" })">Install-ChocolateyPackage</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-zip-package" })">Install-ChocolateyZipPackage</a></li>
</ul>
<p><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-reference" })">Function Reference</a></p>
<p><strong><em>NOTE:</em></strong> This documentation has been automatically generated from <code>Import-Module &quot;$env:ChocolateyInstall\helpers\chocolateyInstaller.psm1&quot; -Force; Get-Help Install-ChocolateyPowershellCommand -Full</code>.</p>
</article>
