@{
  ViewBag.Title = "HelpersInstallChocolateyEnvironmentVariable";
}

<article>
<h1 id="install-chocolateyenvironmentvariable">Install-ChocolateyEnvironmentVariable</h1>
<p><strong>NOTE:</strong> Administrative Access Required when <code>-VariableType 'Machine'.</code></p>
<p>Creates a persistent environment variable.</p>
<h2 id="syntax">Syntax</h2>
<pre><code class="powershell">Install-ChocolateyEnvironmentVariable `
  [-VariableName &lt;String&gt;] `
  [-VariableValue &lt;String&gt;] `
  [-VariableType {Process | User | Machine}] `
  [-IgnoredArguments &lt;Object[]&gt;] [&lt;CommonParameters&gt;]</code></pre>
<h2 id="description">Description</h2>
<p>Install-ChocolateyEnvironmentVariable creates an environment variable<br />
with the specified name and value. The variable is persistent and<br />
will remain after reboots and across multiple PowerShell and command<br />
line sessions. The variable can be scoped either to the User or to<br />
the Machine. If Machine level scoping is specified, the command is<br />
elevated to an administrative session.</p>
<h2 id="notes">Notes</h2>
<p>This command will assert UAC/Admin privileges on the machine when<br />
<code>-VariableType Machine</code>.</p>
<p>This will add the environment variable to the current session.</p>
<h2 id="aliases">Aliases</h2>
<p>None</p>
<h2 id="examples">Examples</h2>
<p><strong>EXAMPLE 1</strong></p>
<pre><code class="powershell">
# Creates a User environment variable &quot;JAVA_HOME&quot; pointing to
# &quot;d:\oracle\jdk\bin&quot;.
Install-ChocolateyEnvironmentVariable &quot;JAVA_HOME&quot; &quot;d:\oracle\jdk\bin&quot;</code></pre>
<p><strong>EXAMPLE 2</strong></p>
<pre><code class="powershell">
# Creates a User environment variable &quot;_NT_SYMBOL_PATH&quot; pointing to
# &quot;symsrv*symsrv.dll*f:\localsymbols*http://msdl.microsoft.com/download/symbols&quot;.
# The command will be elevated to admin priviledges.
Install-ChocolateyEnvironmentVariable `
  -VariableName &quot;_NT_SYMBOL_PATH&quot; `
  -VariableValue &quot;symsrv*symsrv.dll*f:\localsymbols*http://msdl.microsoft.com/download/symbols&quot; `
  -VariableType Machine</code></pre>
<p><strong>EXAMPLE 3</strong></p>
<pre><code class="powershell">
# Remove an environment variable
Install-ChocolateyEnvironmentVariable -VariableName &#39;bob&#39; -VariableValue $null</code></pre>
<h2 id="inputs">Inputs</h2>
<p>None</p>
<h2 id="outputs">Outputs</h2>
<p>None</p>
<h2 id="parameters">Parameters</h2>
<h3 id="variablename-string">-VariableName [&lt;String&gt;]</h3>
<p>The name or key of the environment variable</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>1</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="variablevalue-string">-VariableValue [&lt;String&gt;]</h3>
<p>A string value assigned to the above name.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>2</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="variabletype">-VariableType</h3>
<p>Specifies whether this variable is to be accesible at either the<br />
individual user level or at the Machine level.</p>
<p>Valid options: Process, User, Machine</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>3</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td>User</td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="ignoredarguments-object">-IgnoredArguments [&lt;Object[]&gt;]</h3>
<p>Allows splatting with arguments that do not apply. Do not use directly.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>named</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="commonparameters">&lt;CommonParameters&gt;</h3>
<p>This cmdlet supports the common parameters: -Verbose, -Debug, -ErrorAction, -ErrorVariable, -OutBuffer, and -OutVariable. For more information, see <code>about_CommonParameters</code> <a href="http://go.microsoft.com/fwlink/p/?LinkID=113216" class="uri">http://go.microsoft.com/fwlink/p/?LinkID=113216</a> .</p>
<h2 id="links">Links</h2>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-uninstall-chocolatey-environment-variable" })">Uninstall-ChocolateyEnvironmentVariable</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-get-environment-variable" })">Get-EnvironmentVariable</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-set-environment-variable" })">Set-EnvironmentVariable</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-path" })">Install-ChocolateyPath</a></li>
</ul>
<p><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-reference" })">Function Reference</a></p>
<p><strong><em>NOTE:</em></strong> This documentation has been automatically generated from <code>Import-Module &quot;$env:ChocolateyInstall\helpers\chocolateyInstaller.psm1&quot; -Force; Get-Help Install-ChocolateyEnvironmentVariable -Full</code>.</p>
<p>View the source for <a href="https://github.com/chocolatey/choco/tree/stable/src/chocolatey.resources/helpers/functions/Install-ChocolateyEnvironmentVariable.ps1">Install-ChocolateyEnvironmentVariable</a></p>
</article>
