@{
  ViewBag.Title = "HelpersUninstallChocolateyPackage";
}

<article>
<h1 id="uninstall-chocolateypackage">Uninstall-ChocolateyPackage</h1>
<p>Uninstalls software from &quot;Programs and Features&quot;.</p>
<h2 id="syntax">Syntax</h2>
<pre><code class="powershell">Uninstall-ChocolateyPackage `
  -PackageName &lt;String&gt; `
  [-FileType &lt;String&gt;] `
  [-SilentArgs &lt;String[]&gt;] `
  [-File &lt;String&gt;] `
  [-ValidExitCodes &lt;Object&gt;] `
  [-IgnoredArguments &lt;Object[]&gt;] [&lt;CommonParameters&gt;]</code></pre>
<h2 id="description">Description</h2>
<p>This will uninstall software from your machine (in Programs and<br />
Features). This may not be necessary if Auto Uninstaller is turned on.</p>
<p>Choco 0.9.9+ automatically tracks registry changes for &quot;Programs and<br />
Features&quot; of the underlying software&#39;s native installers when<br />
installing packages. The &quot;Automatic Uninstaller&quot; (auto uninstaller)<br />
service is a feature that can use that information to automatically<br />
determine how to uninstall these natively installed applications. This<br />
means that a package may not need an explicit chocolateyUninstall.ps1<br />
to reverse the installation done in the install script.</p>
<p>With auto uninstaller turned off, a chocolateyUninstall.ps1 is required<br />
to perform uninstall from &quot;Programs and Features&quot;. In the absence of<br />
chocolateyUninstall.ps1, choco uninstall only removes the package from<br />
Chocolatey but does not remove the sofware from your system without<br />
auto uninstaller.</p>
<h2 id="notes">Notes</h2>
<p>May not be required. Starting in 0.9.10+, the Automatic Uninstaller<br />
(AutoUninstaller) is turned on by default.</p>
<h2 id="aliases">Aliases</h2>
<p>None</p>
<h2 id="examples">Examples</h2>
<p><strong>EXAMPLE 1</strong></p>
<pre><code class="powershell">Uninstall-ChocolateyPackage &#39;__NAME__&#39; &#39;EXE_OR_MSI&#39; &#39;SILENT_ARGS&#39; &#39;FilePath&#39;
</code></pre>
<p><strong>EXAMPLE 2</strong></p>
<pre><code class="powershell">
Uninstall-ChocolateyPackage -PackageName $packageName `
                                -FileType $installerType `
                                -SilentArgs &quot;$silentArgs&quot; `
                                -ValidExitCodes $validExitCodes `
                                -File &quot;$file&quot;</code></pre>
<h2 id="inputs">Inputs</h2>
<p>None</p>
<h2 id="outputs">Outputs</h2>
<p>None</p>
<h2 id="parameters">Parameters</h2>
<h3 id="packagename-string">-PackageName &lt;String&gt;</h3>
<p>The name of the package - while this is an arbitrary value, it&#39;s<br />
recommended that it matches the package id.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>true</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>1</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="filetype-string">-FileType [&lt;String&gt;]</h3>
<p>This is the extension of the file. This should be either exe or msi.</p>
<p>If what is provided is empty or null, Chocolatey will use &quot;˜exe&#39;<br />
starting in 0.10.1.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td>installerType</td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>2</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td>exe</td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="silentargs-string">-SilentArgs [&lt;String[]&gt;]</h3>
<p>OPTIONAL - These are the parameters to pass to the native uninstaller,<br />
including any arguments to make the uninstaller silent/unattended.<br />
<a href="https://chocolatey.org/compare">Licensed editions</a> of Chocolatey will automatically determine the<br />
installer type and merge the arguments with what is provided here.</p>
<p>Try any of the to get the silent (unattended) uninstaller -<br />
<code>/s /S /q /Q /quiet /silent /SILENT /VERYSILENT</code>. With msi it is always<br />
<code>/quiet</code>. Please pass it in still but it will be overridden by<br />
Chocolatey to <code>/quiet</code>. If you don&#39;t pass anything it could invoke the<br />
installer with out any arguments. That means a nonsilent installer.</p>
<p>Please include the <code>notSilent</code> tag in your Chocolatey package if you<br />
are not setting up a silent/unattended package. Please note that if you<br />
are submitting to the <a href="https://chocolatey.org/packages">community repository</a>, it is nearly a requirement<br />
for the package to be completely unattended.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>3</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="file-string">-File [&lt;String&gt;]</h3>
<p>The full path to the native uninstaller to run.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>4</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="validexitcodes-object">-ValidExitCodes [&lt;Object&gt;]</h3>
<p>Array of exit codes indicating success. Defaults to <code>@@(0)</code>.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>named</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td>@@(0)</td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="ignoredarguments-object">-IgnoredArguments [&lt;Object[]&gt;]</h3>
<p>Allows splatting with arguments that do not apply. Do not use directly.</p>
<table>
<thead>
<tr class="header">
<th>Property</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Aliases</td>
<td></td>
</tr>
<tr class="even">
<td>Required?</td>
<td>false</td>
</tr>
<tr class="odd">
<td>Position?</td>
<td>named</td>
</tr>
<tr class="even">
<td>Default Value</td>
<td></td>
</tr>
<tr class="odd">
<td>Accept Pipeline Input?</td>
<td>false</td>
</tr>
</tbody>
</table>
<h3 id="commonparameters">&lt;CommonParameters&gt;</h3>
<p>This cmdlet supports the common parameters: -Verbose, -Debug, -ErrorAction, -ErrorVariable, -OutBuffer, and -OutVariable. For more information, see <code>about_CommonParameters</code> <a href="http://go.microsoft.com/fwlink/p/?LinkID=113216" class="uri">http://go.microsoft.com/fwlink/p/?LinkID=113216</a> .</p>
<h2 id="links">Links</h2>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-package" })">Install-ChocolateyPackage</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-install-chocolatey-install-package" })">Install-ChocolateyInstallPackage</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-uninstall-chocolatey-zip-package" })">Uninstall-ChocolateyZipPackage</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-get-uninstall-registry-key" })">Get-UninstallRegistryKey</a></li>
</ul>
<p><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-reference" })">Function Reference</a></p>
<p><strong><em>NOTE:</em></strong> This documentation has been automatically generated from <code>Import-Module &quot;$env:ChocolateyInstall\helpers\chocolateyInstaller.psm1&quot; -Force; Get-Help Uninstall-ChocolateyPackage -Full</code>.</p>
<p>View the source for <a href="https://github.com/chocolatey/choco/tree/stable/src/chocolatey.resources/helpers/functions/Uninstall-ChocolateyPackage.ps1">Uninstall-ChocolateyPackage</a></p>
</article>
