@{
  ViewBag.Title = "Home";
}

<article>
<h1 id="chocolatey---software-management-for-windows">Chocolatey - Software Management for Windows</h1>
<p><img src="https://cdn.rawgit.com/chocolatey/choco/14a627932c78c8baaba6bef5f749ebfa1957d28d/docs/logo/chocolateyicon.gif" title="Chocolatey" alt="Chocolatey Logo" /></p>
<!-- TOC -->
<ul>
<li><a href="#what-is-chocolatey">What is Chocolatey?</a></li>
<li><a href="#requirements">Requirements</a></li>
<li><a href="#information">Information</a></li>
<li><a href="#using-chocolatey">Using Chocolatey</a></li>
<li><a href="#packages">Packages</a></li>
<li><a href="#walkthroughs--how-to-links">Walkthroughs / How To Links</a></li>
<li><a href="#road-map">Road Map</a>
<ul>
<li><a href="#important-reference-links">Important Reference Links</a></li>
</ul></li>
<li><a href="#see-it-in-action">See It In Action</a></li>
<li><a href="#who-are-we">Who Are We?</a></li>
</ul>
<!-- /TOC -->
<h2 id="what-is-chocolatey">What is Chocolatey?</h2>
<p>Chocolatey is a software management solution unlike anything else you&#39;ve ever experienced on Windows. It focuses on simplicity, security, and scalability. You write a software deployment in PowerShell once for any software (not just installers), then you can deploy it everywhere you have Windows with any solution that can manage systems (configuration management, endpoint management, etc) and track and manage updates of that software over time. Manage software on-premise, in the &quot;Cloud&quot;, or in <a href="https://github.com/Microsoft/vsts-agent-docker/blob/f870fbf259a803c6a6d902e1c01f631936069d66/windows/servercore/10.0.14393/standard/VS2017/Dockerfile">Docker containers</a> with Chocolatey.</p>
<p>Whew, that was a mouthful! For a bit more detail into what all of that means and more, see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "getting-started" })#what-is-chocolatey">What is Chocolatey?</a></p>
<h2 id="requirements">Requirements</h2>
<ul>
<li>Windows 7+/Windows 2003+ (Server Core also, but not Windows Nano Server)</li>
<li>Windows PowerShell v2+ (not PowerShell Core aka PowerShell 6 yet)</li>
<li>.NET Framework 4.x+</li>
<li>See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "getting-started" })#requirements">Requirements</a></li>
</ul>
<h2 id="information">Information</h2>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "chocolatey-faqs" })">Frequently Asked Questions</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "why" })">Why Chocolatey</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "legal" })#package-license-acceptance-terms">License Acceptance Terms</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "legal" })#waiver-of-responsibility">Waiver of Responsibility</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes" })">Release Notes</a></li>
</ul>
<h2 id="using-chocolatey">Using Chocolatey</h2>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "installation" })">Installing Chocolatey</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "uninstallation" })">Uninstalling Chocolatey</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "getting-started" })">Getting Started</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-reference" })">Command Reference</a></li>
<li>Use Chocolatey to set up <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "development-environment-setup" })">source code development environments</a>!</li>
<li>What distinction does Chocolatey make between an <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "chocolatey-faqs" })#what-distinction-does-chocolatey-make-between-an-installable-and-a-portable-application">installable and a portable application</a>?</li>
</ul>
<h2 id="packages">Packages</h2>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "create-packages" })">Creating packages</a></li>
<li>Keep in Mind <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "legal" })#distributions-aka-chocolatey-packages">Distribution Rights</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-reference" })">Package Function and Variable Reference</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "package-triage-process" })">Outdated packages? Triage process</a></li>
</ul>
<h2 id="walkthroughs-how-to-links">Walkthroughs / How To Links</h2>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-parse-package-parameters-argument" })">Parse PackageParameters Argument</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-mount-an-iso-in-chocolatey-package" })">Mount an Iso in Chocolatey Package</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-deprecate-a-chocolatey-package" })">Deprecate a Chocolatey Package</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-host-feed" })">Host Your Own Feed</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-setup-offline-installation" })">Deploy Chocolatey in an Organization</a></li>
</ul>
<h2 id="road-map">Road Map</h2>
<p>Where are <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "road-map" })">we</a>? Where are we <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "road-map" })">going</a>?</p>
<h3 id="important-reference-links">Important Reference Links</h3>
<ul>
<li><a href="https://chocolatey.org">Chocolatey Website and Community Package Repository</a></li>
<li><a href="http://groups.google.com/group/chocolatey">Mailing List</a> / <a href="https://groups.google.com/group/chocolatey-announce">Release Announcements Only Mailing List</a> / <a href="http://groups.google.com/group/chocolatey-build-status">Build Status Mailing List</a></li>
<li><a href="https://twitter.com/chocolateynuget">Twitter</a> / <a href="https://www.facebook.com/ChocolateySoftware">Facebook</a> / <a href="https://github.com/chocolatey">Github</a></li>
<li><a href="https://chocolatey.org/blog">Blog</a> / <a href="https://chocolatey.us8.list-manage1.com/subscribe?u=86a6d80146a0da7f2223712e4&amp;id=73b018498d">Newsletter</a></li>
<li><a href="https://chocolatey.org/docs">Documentation</a> / <a href="https://chocolatey.org/support">Support</a> / <a href="https://gitter.im/chocolatey/choco?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge"><img src="https://badges.gitter.im/Join%20Chat.svg" alt="Gitter" /></a></li>
</ul>
<h2 id="see-it-in-action">See It In Action</h2>
<p><img src="https://raw.githubusercontent.com/wiki/chocolatey/choco/images/gifs/choco_install.gif" alt="Chocolatey Install" /></p>
<h2 id="who-are-we">Who Are We?</h2>
<p>You can find all of the members of the Chocolatey Team <a href="https://github.com/orgs/chocolatey/people">here</a>.</p>
</article>
