@{
  ViewBag.Title = "How-To-Recompile-Packages";
}

<article>
<h1 id="how-to-recompile-packages">How To Recompile Packages</h1>
<h2 id="what-is-it-why">What is it? Why?</h2>
<p>Sometimes creating packages from scratch can be an involved process. Not all software installers are created equal (and not all are easily automated either)! Thankfully there is already a tremendous resource you can use to make the process of getting your software all packaged up even smoother.</p>
<p>On <a href="https://chocolatey.org">chocolatey.org</a>, you will find packages with all of the install logic you need to automatically install your software. However, many of these publicly available packages also rely on software that is available from official distribution points because they are subject to <a href="https://en.wikipedia.org/wiki/Software_license">software licensing and copyright law</a>. Unless you&#39;re granted the right to distribute the software via the license, you can&#39;t redistribute it publicly. These laws do not apply when you use internal packages, and that is a good thing!</p>
<p>Why? Downloading software from the internet creates a failure point because it may not be available, the software vendor site could go down, etc. With internal packages, you don&#39;t have to worry about any of that. You can create internal packages and embed the software directly in the package and/or use internal file shares.</p>
<p>This is where recompiling packages comes in. Recompiling a package lets you take an existing package and internalize all of the resources to embedded/internal resources so you can reuse the install logic without the hassle of downloading stuff from the internet. This guarantees complete control, trust, reliability, and repeatability of a package for organizations that have a low tolerance for production issues.</p>
<h2 id="process-of-recompiling">Process of Recompiling</h2>
<p>Recompiling a Chocolatey package at a high level involves:</p>
<ol>
<li>Downloading and unpacking the existing package as a zip file.</li>
<li>Downloading the resources the package has and putting them in the package or somewhere internal (<a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-host-feed" })">UNC, internal Http repository, DFS</a>, <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-infrastructure-automation" })">SCCM Distribution point</a>, etc).</li>
<li>Editing the install script to point to the internal/embedded software.</li>
<li>Packaging it back up.</li>
<li>Pushing it to your internal server.</li>
<li>And that&#39;s it!</li>
</ol>
<p>Recompiling is a great way to quickly get your organization up to speed on managing software with Chocolatey packages.</p>
<h2 id="how-to-recompile-an-existing-package-automatically">How to Recompile An Existing Package Automatically</h2>
<p>See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-automatically-recompile-packages" })">Automatically Recompile Packages</a>.</p>
<ul>
<li>Have Chocolatey for Business</li>
<li>Call <code>choco download --recompile notepadplusplus.commandline</code>.</li>
<li>That&#39;s it! It does all of the manual steps below in a fraction of the time.</li>
</ul>
<h2 id="how-to-recompile-an-existing-package-manually">How To Recompile An Existing Package Manually</h2>
<p>Chocolatey&#39;s <a href="https://chocolatey.org/packages">community feed</a> has quite a few packages but they are geared towards community and use the internet for downloading from official distribution sites. However, they are attractive as they have everything necessary to install a piece of software on your machine. Through the recompiling process, by which you take a community package and bring all of the bits internal and/or embed them into the pacakge, you can completely internalize a package to host on an internal Chocolatey repository. This gives you complete control over a package and removes the aforementioned production trust and control issues.</p>
<p>To make the existing package local, use these steps.</p>
<p><code>1.</code> Download the package from Chocolatey&#39;s community feed by going to the <a href="https://chocolatey.org/packages/notepadplusplus.commandline">package page</a> and clicking the download link.</p>
<p><img src="@Url.Content("~/content/images/docs/recompile/choco_npp_download.png")" alt="Download Link" /></p>
<p><code>2.</code> Rename the downloaded file to end with <code>.zip</code> and unpack the file as a regular archive.</p>
<p><img src="@Url.Content("~/content/images/docs/recompile/choco_rename_nupkg_zip.png")" alt="Rename to append .zip suffix" /></p>
<p><code>3.</code> Delete the <code>_rels</code> and <code>package</code> folders and the <code>[Content_Types].xml</code> file. These are created during <code>choco pack</code> and should not be included, as they will be regenerated (and their existence leads to issues).</p>
<p><img src="@Url.Content("~/content/images/docs/recompile/choco_delete_pkg_files.png")" alt="Remove _rels, package, and the xml file" /></p>
<p><code>4.</code> Next, open <code>tools\chocolateyInstall.ps1</code>.</p>
<pre class="brush: ps">Install-ChocolateyZipPackage &#39;notepadplusplus.commandline&#39; &#39;https://notepad-plus-plus.org/repository/6.x/6.8.7/npp.6.8.7.bin.zip&#39; &quot;$(Split-Path -parent $MyInvocation.MyCommand.Definition)&quot;</pre>
<p><code>5.</code> Download the zip file and place it in the tools folder of the package.</p>
<p><img src="@Url.Content("~/content/images/docs/recompile/choco_download_zip.png")" alt="Zip file embedding in package" /></p>
<p><code>6.</code> If the file ends in <code>.exe</code>, create an empty file called <code>*.exe.ignore</code>, where the name is an exact match with the exe with <code>.ignore</code> appended at the end (e.g. <code>bob.exe</code> would have a file next to it named <code>bob.exe.ignore</code>).</p>
<p><code>7.</code> Next, edit <code>chocolateyInstall.ps1</code> to point to this embedded file instead of reaching out to the internet (if the size of the file is over 100MB, you might want to put it on a file share somewhere internally for better performance).</p>
<pre class="brush: ps">$toolsDir   = &quot;$(Split-Path -parent $MyInvocation.MyCommand.Definition)&quot;
Install-ChocolateyZipPackage &#39;notepadplusplus.commandline&#39; &quot;$toolsDir\npp.6.8.7.bin.zip&quot; &quot;$toolsDir&quot;</pre>
<p>The double quotes allow for string interpolation (meaning variables get interpreted instead of taken literally).</p>
<p><code>8.</code> Next, open the <code>*.nuspec</code> file to view its contents and make any necessary changes.</p>
<pre class="brush: xml">&lt;?xml version=&quot;1.0&quot;?&gt;
&lt;package xmlns=&quot;http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd&quot;&gt;
 &lt;metadata&gt;
   &lt;id&gt;notepadplusplus.commandline&lt;/id&gt;
   &lt;version&gt;6.8.7&lt;/version&gt;
   &lt;title&gt;Notepad++ (Portable, CommandLine)&lt;/title&gt;
   &lt;authors&gt;Don Ho&lt;/authors&gt;
   &lt;owners&gt;Rob Reynolds&lt;/owners&gt;
   &lt;projectUrl&gt;https://notepad-plus-plus.org/&lt;/projectUrl&gt;
   &lt;iconUrl&gt;https://cdn.rawgit.com/ferventcoder/chocolatey-packages/02c21bebe5abb495a56747cbb9b4b5415c933fc0/icons/notepadplusplus.png&lt;/iconUrl&gt;
   &lt;requireLicenseAcceptance&gt;false&lt;/requireLicenseAcceptance&gt;
   &lt;description&gt;Notepad++ is a ... &lt;/description&gt;
   &lt;summary&gt;Notepad++ is a free (as in &quot;free speech&quot; and also as in &quot;free beer&quot;) source code editor and Notepad replacement that supports several languages. &lt;/summary&gt;
   &lt;tags&gt;notepad notepadplusplus notepad-plus-plus&lt;/tags&gt;
 &lt;/metadata&gt;
&lt;/package&gt;</pre>
<p>Some organizations will change the version field to denote this is an edited internal package, for example changing <code>6.8.7</code> to <code>6.8.7.20151202</code>. For now, this is not necessary.</p>
<p><code>9.</code> Now you can navigate via the command line to the folder with the <code>.nuspec</code> file (from a Windows machine unless you&#39;ve installed Mono and built choco.exe from source) and use <code>choco pack</code>. You can also be more specific and type <code>choco pack path\to\notepadplusplus.commandline.nuspec</code>. The output should be similar to below.</p>
<pre class="cmd">Attempting to build package from &#39;notepadplusplus.commandline.nuspec&#39;.
Successfully created package &#39;notepadplusplus.commandline.6.8.7.nupkg&#39;</pre>
<p><code>10.</code> Normally you test on a system to ensure that the package you just built is good prior to pushing the package (just the *.nupkg) to your internal repository. This can be done by using <code>choco.exe</code> on a test system to install (<code>choco install notepadplusplus.commandline -source .</code>) and uninstall (<code>choco uninstall notepadplusplus.commandline</code>).</p>
<p><strong>NOTE:</strong> Originally posted at <a href="https://puppet.com/blog/chocolatey-creating-recompiled-packages" class="uri">https://puppet.com/blog/chocolatey-creating-recompiled-packages</a> and <a href="https://docs.puppet.com/pe/latest/windows_modules.html" class="uri">https://docs.puppet.com/pe/latest/windows_modules.html</a></p>
</article>
