@{
  ViewBag.Title = "Installation";
}

<article>
<ul>
<li><a href="#requirements">Requirements</a></li>
<li><a href="#installing-chocolatey">Installing Chocolatey</a></li>
<li><a href="#more-install-options" onclick="document.getElementById('div-moreoptions').classList.remove('hide')">More Install Options</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "installation-licensed" })">Installing Licensed Edition</a></li>
<li><a href="#upgrading-chocolatey">Upgrading Chocolatey</a></li>
<li><a href="#uninstalling-chocolatey">Uninstalling Chocolatey</a></li>
<li><a href="#faqs">FAQs</a></li>
</ul>
<h2 id="requirements">Requirements</h2>
<ul>
<li>Windows 7+ / Windows Server 2003+</li>
<li>PowerShell v2+</li>
<li>.NET Framework 4+ (the installation will attempt to install .NET 4.0 if you do not have it installed)</li>
</ul>
<p>That&#39;s it! All you need is choco.exe (that you get from the installation scripts) and you are good to go! No Visual Studio required.</p>
<h2 id="installing-chocolatey">Installing Chocolatey</h2>
<p>Chocolatey installs in seconds. You are just a few steps from running choco right now!</p>
<ol>
<li>First, ensure that you are using an <strong><em><a href="http://www.howtogeek.com/194041/how-to-open-the-command-prompt-as-administrator-in-windows-8.1/">administrative shell</a></em></strong> - you can also install as a non-admin, check out <a href="#non-administrative-install" onclick="document.getElementById('div-moreoptions').classList.remove('hide')">Non-Administrative Installation</a>.</li>
<li>Copy the text specific to your command shell - <a href="#install-with-cmdexe">cmd.exe</a> or <a href="#install-with-powershellexe">powershell.exe</a>.</li>
<li>Paste the copied text into your shell and press Enter.</li>
<li>Wait a few seconds for the command to complete.</li>
<li>If you don&#39;t see any errors, you are ready to use Chocolatey! Type <code>choco</code> or <code>choco -?</code> now.</li>
</ol>
<p><strong>NOTES</strong>:</p>
<ul>
<li>If you are behind a proxy, please see <a href="#installing-behind-a-proxy" onclick="document.getElementById('div-moreoptions').classList.remove('hide')">Installing behind a proxy</a>.</li>
<li>Need completely offline solution? See <a href="#completely-offline-install" onclick="document.getElementById('div-moreoptions').classList.remove('hide')">Completely Offline Install</a>.</li>
<li>Installing the licensed edition? See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "installation-licensed" })">install licensed edition</a>.</li>
<li><a href="#more-install-options" onclick="document.getElementById('div-moreoptions').classList.remove('hide')">More Options</a> / <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "troubleshooting" })">Troubleshooting</a></li>
</ul>
<h4 id="install-with-cmdexe">Install with cmd.exe</h4>
<p>Run the following command:  <button class="icon-clipboard copy-button" data-clipboard-text="@@&quot;%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -NoProfile -InputFormat None -ExecutionPolicy Bypass -Command &quot;iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))&quot; && SET &quot;PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin&quot;"></button> (copy command text) </p>
<pre><code class="nohighlight">
@@&quot;%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -NoProfile -InputFormat None -ExecutionPolicy Bypass -Command &quot;iex ((New-Object System.Net.WebClient).DownloadString(&#39;https://chocolatey.org/install.ps1&#39;))&quot; &amp;&amp; SET &quot;PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin&quot;
</code></pre>
<h4 id="install-with-powershellexe">Install with PowerShell.exe</h4>
<p>With PowerShell, there is an additional step. You must ensure <a href="https://go.microsoft.com/fwlink/?LinkID=135170">Get-ExecutionPolicy</a> is not Restricted. We suggest using <code>Bypass</code> to bypass the policy to get things installed or <code>AllSigned</code> for quite a bit more security.</p>
<ul>
<li>Run <code>Get-ExecutionPolicy</code>. If it returns <code>Restricted</code>, then run <code>Set-ExecutionPolicy AllSigned</code> or <code>Set-ExecutionPolicy Bypass -Scope Process</code>.</li>
<li>Now run the following command:  <button class="icon-clipboard copy-button" data-clipboard-text="Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))"></button> (copy command text) </li>
</ul>
<pre><code class="powershell">
Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString(&#39;https://chocolatey.org/install.ps1&#39;))
</code></pre>
<h4 id="additional-considerations">Additional considerations</h4>
<p><strong>NOTE:</strong> Please inspect <a href="https://chocolatey.org/install.ps1" class="uri">https://chocolatey.org/install.ps1</a> prior to running any of these scripts to ensure safety. We already know it&#39;s safe, but you should verify the security and contents of <strong><em>any</em></strong> script from the internet you are not familiar with. All of these scripts download a remote PowerShell script and execute it on your machine.</p>
<p>We take security very seriously. <a href="https://chocolatey.org/security">Learn more</a>.</p>
<h2 id="more-install-options">More Install Options</h2>


<p><strong>Troubleshooting? Proxy? Need more options?</strong><br />

<a onclick="if ($(this).text() == 'Less Options') {$('#div-moreoptions').addClass('hide');$(this).text('More Options');} else {$('#div-moreoptions').removeClass('hide');$(this).text('Less Options');}">More Options</a>
</p>

<div id="div-moreoptions" class="hide">

<ul>
<li><a href="#install-from-powershell-v3">Install from PowerShell v3+</a></li>
<li><a href="#completely-offline-install">Completely offline/internal install</a></li>
<li><a href="#install-with-puppet">Install with Puppet</a></li>
<li><a href="#install-using-powershell-from-cmdexe">Install using PowerShell from cmd.exe</a></li>
<li><a href="#install-using-nuget-package-manager">Install using NuGet Package Manager</a></li>
<li><a href="#install-using-nugetexe-from-powershell">Install using NuGet.exe from PowerShell</a></li>
<li><a href="#install-downloaded-nuget-package-from-powershell">Install downloaded NuGet package from PowerShell</a></li>
<li><a href="#install-licensed-edition">Install licensed edition</a></li>
<li><a href="#installing-behind-a-proxy">Installing behind a proxy</a></li>
<li><a href="#installing-behind-an-explicit-proxy">Installing behind an explicit proxy</a></li>
<li><a href="#installing-to-a-different-location">Installing to a different location</a></li>
<li><a href="#installing-a-particular-version-of-chocolatey">Installing a particular version of Chocolatey</a></li>
<li><a href="#use-windows-built-in-compression-instead-of-downloading-7zip">Use Windows built-in compression instead of downloading 7zip</a></li>
<li><a href="#installing-with-restricted-tls">Installing with restricted TLS</a></li>
<li><a href="#non-administrative-install">Non-Administrative install</a></li>
</ul>
<h3 id="install-from-powershell-v3">Install from PowerShell v3+</h3>
<p>With PowerShell, there is an additional step or two. You must ensure <a href="https://go.microsoft.com/fwlink/?LinkID=135170">Get-ExecutionPolicy</a> is not Restricted. We suggest using <code>Bypass</code> to bypass the policy to get things installed or <code>AllSigned</code> for quite a bit more security.</p>
<ul>
<li>Run <code>Get-ExecutionPolicy</code>. If it returns <code>Restricted</code>, then run <code>Set-ExecutionPolicy AllSigned</code> or <code>Set-ExecutionPolicy Bypass</code>.</li>
<li>Now run the following command:  <button class="icon-clipboard copy-button" data-clipboard-text="Set-ExecutionPolicy Bypass -Scope Process -Force; iwr https://chocolatey.org/install.ps1 -UseBasicParsing | iex"></button> (copy command text) </li>
</ul>
<pre><code class="powershell">
Set-ExecutionPolicy Bypass -Scope Process -Force; iwr https://chocolatey.org/install.ps1 -UseBasicParsing | iex
</code></pre>
<h3 id="completely-offline-install">Completely offline install</h3>
<p>With completely offline use of Chocolatey, you want to ensure you remove the default community package source (<code>choco source list</code> followed by <code>choco source remove -n chocolatey</code>, or however you would do that with a configuration manager <a href="https://forge.puppet.com/puppetlabs/chocolatey#sources-configuration">like Puppet</a>).</p>
<ol>
<li>The first step with offline is to obtain a copy of the Chocolatey Nupkg (nupkg files are just fancy zip files). Go to <a href="https://chocolatey.org/packages/chocolatey" class="uri">https://chocolatey.org/packages/chocolatey</a> and find a version you want.</li>
<li><p>Click on Download to download that version&#39;s nupkg file.</p>
<p><img src="@Url.Content("~/content/images/docs/DownloadChocolateyPackage.png")" alt="download chocolatey.nupkg visual" /></p></li>
<li>You can also download <a href="https://chocolatey.org/api/v2/package/chocolatey">the latest version directly</a>.</li>
<li>You can put the chocolatey.nupkg on an internal package repository and then address that full path, similar to how you see in the Puppet provider - <a href="https://forge.puppet.com/puppetlabs/chocolatey#manage-chocolatey-installation" class="uri">https://forge.puppet.com/puppetlabs/chocolatey#manage-chocolatey-installation</a></li>
<li><p>Then you would run a script similar to the below to address that local install. If it is on a repository somewhere, you will need to enhance the below script to get that file (the Chocolatey Puppet provider install script shows that).</p></li>
</ol>
<pre><code class="powershell"># use an internal repository to download Chocolatey nupkg to the local path:
$packageRepo = &#39;&lt;INSERT REPO URL&gt;&#39;
# uncomment if you want to download the file from a remote OData (HTTP/HTTPS) internal url (such as Artifactory, Nexus, ProGet, or Chocolatey.Server)
#$searchUrl = ($packageRepo.Trim(&#39;/&#39;), &#39;Packages()?$filter=(Id%20eq%20%27chocolatey%27)%20and%20IsLatestVersion&#39;) -join &#39;/&#39;

# UPDATE THIS PATH
$localChocolateyPackageFilePath = &#39;c:\packages\chocolatey.0.10.0.nupkg&#39;
# Determine unzipping method
# 7zip is the most compatible, but you need an internally hosted 7za.exe.
# Make sure the version matches for the arguments as well.
# Built-in does not work with Server Core, but if you have PowerShell 5
# it uses Expand-Archive instead of COM
$unzipMethod = &#39;builtin&#39;
#$unzipMethod = &#39;7zip&#39;
#$7zipUrl = &#39;https://chocolatey.org/7za.exe&#39; (download this file, host internally, and update this to internal)

$ChocoInstallPath = &quot;$($env:SystemDrive)\ProgramData\Chocolatey\bin&quot;
$env:ChocolateyInstall = &quot;$($env:SystemDrive)\ProgramData\Chocolatey&quot;
$env:Path += &quot;;$ChocoInstallPath&quot;
$DebugPreference = &quot;Continue&quot;;
# if you really want to see debugging output related to the
# installation, uncomment the next line
#$env:ChocolateyEnvironmentDebug = &#39;true&#39;

function Get-Downloader {
param (
  [string]$url
 )

  $downloader = new-object System.Net.WebClient

  $defaultCreds = [System.Net.CredentialCache]::DefaultCredentials
  if ($defaultCreds -ne $null) {
    $downloader.Credentials = $defaultCreds
  }

  $ignoreProxy = $env:chocolateyIgnoreProxy
  if ($ignoreProxy -ne $null -and $ignoreProxy -eq &#39;true&#39;) {
    Write-Debug &quot;Explicitly bypassing proxy due to user environment variable&quot;
    $downloader.Proxy = [System.Net.GlobalProxySelection]::GetEmptyWebProxy()
  } else {
    # check if a proxy is required
    $explicitProxy = $env:chocolateyProxyLocation
    $explicitProxyUser = $env:chocolateyProxyUser
    $explicitProxyPassword = $env:chocolateyProxyPassword
    if ($explicitProxy -ne $null -and $explicitProxy -ne &#39;&#39;) {
      # explicit proxy
      $proxy = New-Object System.Net.WebProxy($explicitProxy, $true)
      if ($explicitProxyPassword -ne $null -and $explicitProxyPassword -ne &#39;&#39;) {
        $passwd = ConvertTo-SecureString $explicitProxyPassword -AsPlainText -Force
        $proxy.Credentials = New-Object System.Management.Automation.PSCredential ($explicitProxyUser, $passwd)
      }

      Write-Debug &quot;Using explicit proxy server &#39;$explicitProxy&#39;.&quot;
      $downloader.Proxy = $proxy

    } elseif (!$downloader.Proxy.IsBypassed($url)) {
      # system proxy (pass through)
      $creds = $defaultCreds
      if ($creds -eq $null) {
        Write-Debug &quot;Default credentials were null. Attempting backup method&quot;
        $cred = get-credential
        $creds = $cred.GetNetworkCredential();
      }

      $proxyaddress = $downloader.Proxy.GetProxy($url).Authority
      Write-Debug &quot;Using system proxy server &#39;$proxyaddress&#39;.&quot;
      $proxy = New-Object System.Net.WebProxy($proxyaddress)
      $proxy.Credentials = $creds
      $downloader.Proxy = $proxy
    }
  }

  return $downloader
}

function Download-File {
param (
  [string]$url,
  [string]$file
 )
  #Write-Output &quot;Downloading $url to $file&quot;
  $downloader = Get-Downloader $url

  $downloader.DownloadFile($url, $file)
}

function Download-Package {
param (
  [string]$packageODataSearchUrl,
  [string]$file
 )
  $downloader = Get-Downloader $packageODataSearchUrl

  Write-Output &quot;Querying latest package from $packageODataSearchUrl&quot;
  [xml]$pkg = $downloader.DownloadString($packageODataSearchUrl)
  $packageDownloadUrl = $pkg.feed.entry.content.src

  Write-Output &quot;Downloading $packageDownloadUrl to $file&quot;
  $downloader.DownloadFile($packageDownloadUrl, $file)
}

function Install-LocalChocolateyPackage {
param (
  [string]$chocolateyPackageFilePath = &#39;&#39;
)

  if ($chocolateyPackageFilePath -eq $null -or $chocolateyPackageFilePath -eq &#39;&#39;) {
    throw &quot;You must specify a local package to run the local install.&quot;
  }

  if (!(Test-Path($chocolateyPackageFilePath))) {
    throw &quot;No file exists at $chocolateyPackageFilePath&quot;
  }

  if ($env:TEMP -eq $null) {
    $env:TEMP = Join-Path $env:SystemDrive &#39;temp&#39;
  }
  $chocTempDir = Join-Path $env:TEMP &quot;chocolatey&quot;
  $tempDir = Join-Path $chocTempDir &quot;chocInstall&quot;
  if (![System.IO.Directory]::Exists($tempDir)) {[System.IO.Directory]::CreateDirectory($tempDir)}
  $file = Join-Path $tempDir &quot;chocolatey.zip&quot;
  Copy-Item $chocolateyPackageFilePath $file -Force

  # unzip the package
  Write-Output &quot;Extracting $file to $tempDir...&quot;
  if ($unzipMethod -eq &#39;7zip&#39;) {
    $7zaExe = Join-Path $tempDir &#39;7za.exe&#39;
    if (-Not (Test-Path ($7zaExe))) {
      Write-Output &quot;Downloading 7-Zip commandline tool prior to extraction.&quot;
      # download 7zip
      Download-File $7zipUrl &quot;$7zaExe&quot;
    }

    $params = &quot;x -o`&quot;$tempDir`&quot; -bd -y `&quot;$file`&quot;&quot;
    # use more robust Process as compared to Start-Process -Wait (which doesn&#39;t
    # wait for the process to finish in PowerShell v3)
    $process = New-Object System.Diagnostics.Process
    $process.StartInfo = New-Object System.Diagnostics.ProcessStartInfo($7zaExe, $params)
    $process.StartInfo.RedirectStandardOutput = $true
    $process.StartInfo.UseShellExecute = $false
    $process.StartInfo.WindowStyle = [System.Diagnostics.ProcessWindowStyle]::Hidden
    $process.Start() | Out-Null
    $process.BeginOutputReadLine()
    $process.WaitForExit()
    $exitCode = $process.ExitCode
    $process.Dispose()

    $errorMessage = &quot;Unable to unzip package using 7zip. Perhaps try setting `$env:chocolateyUseWindowsCompression = &#39;true&#39; and call install again. Error:&quot;
    switch ($exitCode) {
      0 { break }
      1 { throw &quot;$errorMessage Some files could not be extracted&quot; }
      2 { throw &quot;$errorMessage 7-Zip encountered a fatal error while extracting the files&quot; }
      7 { throw &quot;$errorMessage 7-Zip command line error&quot; }
      8 { throw &quot;$errorMessage 7-Zip out of memory&quot; }
      255 { throw &quot;$errorMessage Extraction cancelled by the user&quot; }
      default { throw &quot;$errorMessage 7-Zip signalled an unknown error (code $exitCode)&quot; }
    }
  } else {
    if ($PSVersionTable.PSVersion.Major -lt 5) {
      try {
        $shellApplication = new-object -com shell.application
        $zipPackage = $shellApplication.NameSpace($file)
        $destinationFolder = $shellApplication.NameSpace($tempDir)
        $destinationFolder.CopyHere($zipPackage.Items(),0x10)
      } catch {
        throw &quot;Unable to unzip package using built-in compression. Set `$env:chocolateyUseWindowsCompression = &#39;false&#39; and call install again to use 7zip to unzip. Error: `n $_&quot;
      }
    } else {
      Expand-Archive -Path &quot;$file&quot; -DestinationPath &quot;$tempDir&quot; -Force
    }
  }

  # Call chocolatey install
  Write-Output &quot;Installing chocolatey on this machine&quot;
  $toolsFolder = Join-Path $tempDir &quot;tools&quot;
  $chocInstallPS1 = Join-Path $toolsFolder &quot;chocolateyInstall.ps1&quot;

  &amp; $chocInstallPS1

  Write-Output &#39;Ensuring chocolatey commands are on the path&#39;
  $chocInstallVariableName = &quot;ChocolateyInstall&quot;
  $chocoPath = [Environment]::GetEnvironmentVariable($chocInstallVariableName)
  if ($chocoPath -eq $null -or $chocoPath -eq &#39;&#39;) {
    $chocoPath = &#39;C:\ProgramData\Chocolatey&#39;
  }

  $chocoExePath = Join-Path $chocoPath &#39;bin&#39;

  if ($($env:Path).ToLower().Contains($($chocoExePath).ToLower()) -eq $false) {
    $env:Path = [Environment]::GetEnvironmentVariable(&#39;Path&#39;,[System.EnvironmentVariableTarget]::Machine);
  }
}

# Idempotence - do not install Chocolatey if it is already installed
if (!(Test-Path $ChocoInstallPath)) {
  # download the package to the local path
  if ($searchUrl) {
    Download-Package $searchUrl $localChocolateyPackageFilePath
  }

  # Install Chocolatey
  Install-LocalChocolateyPackage $localChocolateyPackageFilePath
}</code></pre>
<h3 id="install-with-puppet">Install with Puppet</h3>
<p><strong>NOTE</strong>: If you have the licensed edition, see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "installation-licensed" })#set-up-licensed-edition-with-puppet">Setting up Licensed Edition with Puppet</a> instead. This only additionally contains some package examples and setting up tab completion.</p>
<p>Here&#39;s an example of setting Chocolatey up with Puppet that sets up and configures Chocolatey, sets up an internal package repository, and shows setting up the licensed edition and ensuring some packages.</p>
<ul>
<li>Download the chocolatey.nupkg from the community repository - <a href="https://chocolatey.org/api/v2/package/chocolatey">download the latest chocolatey nupkg</a> or see <a href="#completely-offline-install">Completely offline install</a> to get an older version.</li>
<li>Optionally download the chocolatey.server package from the community repository - <a href="https://chocolatey.org/api/v2/package/chocolatey.server">download the latest chocolatey.server nupkg</a>.</li>
<li>Use <code>choco push</code> to push those items to your internal package repository (e.g. <code>choco push chocolatey.0.10.7.nupkg -s http://internal_repo/ -k abc123</code>)</li>
<li>Determine how to get the bare url to download the Chocolatey.Nupkg directly. You will need that for the internal url for installing Chocolatey offline. For the community repository, it is <a href="https://chocolatey.org/api/v2/package/chocolatey" class="uri">https://chocolatey.org/api/v2/package/chocolatey</a></li>
</ul>
<pre><code class="puppet"># Requires puppetlabs/chocolatey module
# See https://forge.puppet.com/puppetlabs/chocolatey

## Set resource defaults for `package` resources on Windows to use the Chocolatey provider
case $operatingsystem {
  &#39;windows&#39;:    {
    Package {
      provider =&gt; chocolatey,
    }
  }
}

## - Ensure Chocolatey Install -
#include chocolatey
## OR
## Download chocolatey.nupkg to your internal repository (see above
##  about getting the package for offline use)
## Note: `chocolatey_download_url is completely different than normal
##  source locations. This is directly to the bare download url for the
##  chocolatey.nupkg, similar to what you see when you browse to
##  https://chocolatey.org/api/v2/package/chocolatey
class {&#39;chocolatey&#39;:
  chocolatey_download_url =&gt; &#39;https://&lt;internalurl/to&gt;/chocolatey.nupkg&#39;,
  use_7zip                =&gt; false,
}

## If you need FIPS compliance
## make this the first thing you configure before you do any additional
## configuration or package installations
#chocolateyfeature {&#39;useFipsCompliantChecksums&#39;:
#  ensure =&gt; enabled,
#}

## Keep chocolatey up to date based on your internal source
## You control the upgrades based on when you push an updated version
##  to your internal repository.
## Note the source here is to the OData feed, similar to what you see
##  when you browse to https://chocolatey.org/api/v2
package {&#39;chocolatey&#39;:
  ensure   =&gt; latest,
  provider =&gt; chocolatey,
  source   =&gt; &#39;https://&lt;internal_repo&gt;/chocolatey&#39;,
}


## - Configure Chocolatey -
### Config Settings

## Move cache location so Chocolatey is very deterministic about
## cleaning up temporary data
chocolateyconfig {&#39;cacheLocation&#39;:
  value =&gt; &#39;c:\ProgramData\choco-cache&#39;,
}

## Increase timeout to 4 hours
chocolateyconfig {&#39;commandExecutionTimeoutSeconds&#39;:
  value =&gt; &#39;14400&#39;,
}

### Sources
## Remove the default community package repository source
chocolateysource {&#39;chocolatey&#39;:
  ensure   =&gt; absent,
  location =&gt; &#39;https://chocolatey.org/api/v2/&#39;,
}

## Add default sources for your internal repositories
chocolateysource {&#39;internal_chocolatey&#39;:
  ensure   =&gt; present,
  location =&gt; &#39;http://internal_location/OData/endpoint&#39;,
  priority =&gt; 1,
  username =&gt; &#39;optional&#39;,
  password =&gt; &#39;optional,not ensured&#39;,
}

### Features
chocolateyfeature {&#39;checksumFiles&#39;:
  ensure =&gt; enabled,
}

## When using Puppet for installs
chocolateyfeature {&#39;showDownloadProgress&#39;:
  ensure =&gt; disabled,
}

chocolateyfeature {&#39;useRememberedArgumentsForUpgrades&#39;:
  ensure =&gt; enabled,
}


## - Chocolatey Simple Server Package Repository -
## Requires chocolatey/chocolatey_server module  - see
##  https://forge.puppet.com/chocolatey/chocolatey_server
## this contains the bits to install the custom server
## - Ensures IIS and Ensure ASP.NET
## - Installs and configures the Chocolatey.Server website and app pool
## - Sets permissions appropriately

#include chocolatey_server
## OR
## `server_package_source` is to the OData feed, similar to what you see
##  when you browse to https://chocolatey.org/api/v2
class {&#39;chocolatey_server&#39;:
  server_package_source =&gt; &#39;https://internalurl/odata/server&#39;,
}

chocolateysource {&#39;local_chocolatey_server&#39;:
  ensure   =&gt; present,
  location =&gt; &#39;http://localhost/chocolatey&#39;,
  priority =&gt; 2,
}


## - Tab Completion -
## Ensure that when someone uses choco from powershell.exe, they have tab completion
file {&#39;C:/Users/Administrator/Documents/WindowsPowerShell&#39;:
  ensure =&gt; directory,
}

file {&#39;C:/Users/Administrator/Documents/WindowsPowerShell/Microsoft.PowerShell_profile.ps1&#39;:
  ensure =&gt; file,
  content =&gt; &#39;$ChocolateyProfile = &quot;$env:ChocolateyInstall\helpers\chocolateyProfile.psm1&quot;
if (Test-Path($ChocolateyProfile)) {
  Import-Module &quot;$ChocolateyProfile&quot;
}&#39;,
}


## - Package Examples -
package {&#39;roundhouse&#39;:
  ensure   =&gt; &#39;0.8.5.0&#39;,
}

package {&#39;git&#39;:
  ensure =&gt; latest,
}

## see https://forge.puppet.com/puppetlabs/chocolatey#install-options-with-spaces
package {&#39;launchy&#39;:
  ensure          =&gt; installed,
  install_options =&gt; [&#39;--override&#39;, &#39;--installArgs&#39;,&#39;&quot;&#39;, &#39;/VERYSILENT&#39;,&#39;/NORESTART&#39;,&#39;&quot;&#39;],
}

package {[&#39;virustotaluploader&#39;,
          &#39;googlechrome&#39;,
          &#39;notepadplusplus&#39;,
          &#39;7zip&#39;,
          &#39;ruby&#39;,
          &#39;charles&#39;,
          &#39;grepwin&#39;,
          &#39;stexbar&#39;,
          &#39;inkscape&#39;,
          &#39;gitextensions&#39;,
          &#39;pandoc&#39;,
          &#39;snagit&#39;,
          &#39;nodejs&#39;,
          ]:
  ensure =&gt; latest,
  source =&gt; &#39;https://chocolatey.org/api/v2/&#39;,
}

package {&#39;screentogif&#39;:
  ensure =&gt; &#39;2.2.160907&#39;,
  source =&gt; &#39;https://chocolatey.org/api/v2/&#39;,
}

package {&#39;dotnet4.5.2&#39;:
  ensure =&gt; latest,
}</code></pre>
<h3 id="install-using-powershell-from-cmdexe">Install using PowerShell from cmd.exe</h3>
<p>This is the best method if you want to repeat it or include it in source control. It requires no change to your existing PowerShell to allow for remote unsigned scripts.</p>
<p>Create a file named <code>installChocolatey.cmd</code> with the following:</p>
<pre><code class="nohighlight">@@echo off

SET DIR=%~dp0%

::download install.ps1
%systemroot%\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -ExecutionPolicy Bypass -Command &quot;((new-object net.webclient).DownloadFile(&#39;https://chocolatey.org/install.ps1&#39;,&#39;%DIR%install.ps1&#39;))&quot;
::run installer
%systemroot%\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -ExecutionPolicy Bypass -Command &quot;&amp; &#39;%DIR%install.ps1&#39; %*&quot;</code></pre>
<p>You can also get to this file by going to <a href="https://chocolatey.org/installchocolatey.cmd" class="uri">https://chocolatey.org/installchocolatey.cmd</a>.</p>
<p>If you prefer to have the install.ps1 file already, comment out the download line in the batch file and download the <a href="https://chocolatey.org/install.ps1"><code>install.ps1</code></a> from <a href="https://chocolatey.org/install.ps1">chocolatey.org</a> and save it as <code>install.ps1</code> next to the <code>installChocolatey.cmd</code> file.</p>
<p>Run <code>installChocolatey.cmd</code> from an elevated <code>cmd.exe</code> command prompt and it will install the latest version of Chocolatey. You can not run this from <code>powershell.exe</code> without making changes to your execution policy.</p>
<p><strong>NOTE</strong>: To create and save a <code>.cmd</code> file, please use a text editor and nothing fancy like Microsoft Word or OneNote.</p>
<h3 id="install-using-nuget-package-manager">Install using NuGet Package Manager</h3>
<p>When you have Visual Studio 2010+ and the NuGet extension installed (pre-installed on any newer versions of Visual Studio), you can simply type the following three commands and you will have Chocolatey installed on your machine.</p>
<p><code>Install-Package chocolatey</code><br />
<code>Initialize-Chocolatey</code><br />
<code>Uninstall-Package chocolatey</code></p>
<h3 id="install-using-nugetexe-from-powershell">Install using NuGet.exe from PowerShell</h3>
<p>You can also use NuGet command line to download Chocolatey:</p>
<p><code>nuget install chocolatey</code> or <code>nuget install chocolatey -pre</code></p>
<p>Once you download it, open PowerShell (remote unsigned), navigate to the tools folder and run:</p>
<p><code>&amp; .\chocolateyInstall.ps1</code></p>
<h3 id="install-downloaded-nuget-package-from-powershell">Install downloaded NuGet package from PowerShell</h3>
<p>You can also just download and unzip the Chocolatey package (<code>.nupkg</code> is a fancy zip file):</p>
<ol>
<li>Download the <a href="https://chocolatey.org/api/v2/package/chocolatey/">Chocolatey package</a>.</li>
<li>Ensure the downloaded nupkg is not blocked.</li>
<li>Unzip it using any application that supports <code>zip</code> format.</li>
<li>Open a PowerShell command shell and navigate into the unzipped package&#39;s tools folder.</li>
<li><strong>NOTE</strong>: Ensure PowerShell execution policy is set to at least bypass or remote signed (if you have issues, you may need to set it to Unrestricted).</li>
<li>Call <code>&amp; .\chocolateyInstall.ps1</code> to allow Chocolatey to install.</li>
<li><strong>NOTE</strong>: This will not set Chocolatey as an installed package, so it may be a good idea to also call <code>choco upgrade chocolatey -y</code> and let it reinstall the same version, but at least it will be available for upgrades then.</li>
</ol>
<h3 id="install-licensed-edition">Install licensed edition</h3>
<p>Please see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "installation-licensed" })">installation of licensed edition</a>.</p>
<h3 id="installing-behind-a-proxy">Installing behind a proxy</h3>
<p>Have a proxy? Try</p>
<ul>
<li>Cmd.exe:  <button class="icon-clipboard copy-button" data-clipboard-text="@@powershell -NoProfile -ExecutionPolicy Bypass -Command &quot;[System.Net.WebRequest]::DefaultWebProxy.Credentials = [System.Net.CredentialCache]::DefaultCredentials; iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))&quot; && SET PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin"></button> (copy command text) </li>
</ul>
<pre><code class="nohighlight">
@@powershell -NoProfile -ExecutionPolicy Bypass -Command &quot;[System.Net.WebRequest]::DefaultWebProxy.Credentials = [System.Net.CredentialCache]::DefaultCredentials; iex ((New-Object System.Net.WebClient).DownloadString(&#39;https://chocolatey.org/install.ps1&#39;))&quot; &amp;&amp; SET PATH=&quot;%PATH%;%ALLUSERSPROFILE%\chocolatey\bin&quot;
</code></pre>
<ul>
<li>PowerShell.exe (Ensure <a href="https://go.microsoft.com/fwlink/?LinkID=135170">Get-ExecutionPolicy</a> is at least RemoteSigned):  <button class="icon-clipboard copy-button" data-clipboard-text="[System.Net.WebRequest]::DefaultWebProxy.Credentials = [System.Net.CredentialCache]::DefaultCredentials; iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))"></button> (copy command text) </li>
</ul>
<pre><code class="powershell">
[System.Net.WebRequest]::DefaultWebProxy.Credentials = [System.Net.CredentialCache]::DefaultCredentials; iex ((New-Object System.Net.WebClient).DownloadString(&#39;https://chocolatey.org/install.ps1&#39;))
</code></pre>
<h3 id="installing-behind-an-explicit-proxy">Installing behind an explicit proxy</h3>
<p>See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "proxy-settings-for-chocolatey" })#installing-chocolatey-behind-a-proxy-server">Installing Chocolatey Behind a Proxy Server</a></p>
<h3 id="installing-to-a-different-location">Installing to a different location</h3>
<ol>
<li>Create a <strong>machine</strong> level (<strong>user</strong> level will also work) environment variable named <code>ChocolateyInstall</code> and set it to the folder you want Chocolatey to install to prior to installation (this environment variable must be set globally or available to PowerShell- it is not enough to simply make it available to your current command prompt session).</li>
<li>Don&#39;t use <code>&quot;C:\Chocolatey&quot;</code> unless necessary.</li>
<li>Create the folder manually.</li>
<li>If you have already installed (and want to change the location after the fact):
<ul>
<li>Follow the above steps.</li>
<li>Install Chocolatey again.</li>
<li>Copy/Move over the items from the old lib/bin directory.</li>
<li>Delete your old install directory.</li>
</ul></li>
</ol>
<p><strong>NOTE</strong>: There is one really important consideration when installing Chocolatey to a non-default location - Chocolatey only locks down the permissions to Admins when installed to the default location.<br />
If you are installing to another location, you will need to handle this yourself.<br />
This is due to alternative locations could have a range of permissions that should not be changed.<br />
See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "default-chocolatey-install-reasoning" })">Why does Chocolatey install where it does</a> and <a href="https://github.com/chocolatey/choco/issues/398" class="uri">https://github.com/chocolatey/choco/issues/398</a> for more details.</p>
<h3 id="installing-a-particular-version-of-chocolatey">Installing a particular version of Chocolatey</h3>
<p>Set the following environment variable prior to install:</p>
<ul>
<li><code>chocolateyVersion</code> - controls what version of Chocolatey is installed</li>
</ul>
<p>In PowerShell, it looks like this:</p>
<pre><code class="powershell">$env:chocolateyVersion = &#39;0.9.9.12&#39;
# install script</code></pre>
<p><strong>NOTE:</strong> This will only work with the installation methods that call <a href="https://chocolatey.org/install.ps1" class="uri">https://chocolatey.org/install.ps1</a> as part of the install.</p>
<h3 id="use-windows-built-in-compression-instead-of-downloading-7zip">Use Windows built-in compression instead of downloading 7zip</h3>
<p>Set the following environment variable prior to install:</p>
<ul>
<li><code>chocolateyUseWindowsCompression</code> - this will bypass the download and use of 7zip.</li>
</ul>
<p>In PowerShell, it looks like this:</p>
<pre><code class="powershell">$env:chocolateyUseWindowsCompression = &#39;true&#39;
# install script</code></pre>
<p><strong>NOTE:</strong> This will only work with the installation methods that call <a href="https://chocolatey.org/install.ps1" class="uri">https://chocolatey.org/install.ps1</a> as part of the install.</p>
<h3 id="installing-with-restricted-tls">Installing with restricted TLS</h3>
<p><strong>NOTE:</strong> If your server is restricted to TLS 1.1+, you need to add additional logic to be able to download and install Chocolatey (this is not necessary when running Chocolatey normally as it does this automatically). If this is for organizational use, you should consider hosting the Chocolatey package internally and installing from there. Otherwise, please see this section.</p>
<p>If you see an error that looks similar to the following:</p>
<pre><code class="nohighlight">Exception calling &quot;DownloadString&quot; with &quot;1&quot; argument(s): &quot;The underlying connection was closed: An unexpected error
occurred on a receive.&quot;
At line:1 char:1
+ iex ((New-Object System.Net.WebClient).DownloadString(&#39;https://chocolatey.org/in ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [], MethodInvocationException
    + FullyQualifiedErrorId : WebException</code></pre>
<p>It&#39;s possible that you are attempting to install from a server that needs to use TLS 1.1 or TLS 1.2 (has restricted the use of TLS 1.0 and SSL v3), you have some options.</p>
<h4 id="option-1">Option 1</h4>
<p>If you have the following:</p>
<ul>
<li>PowerShell v3+</li>
<li>.NET Framework 4.5</li>
</ul>
<p>You can just run the following instead of just the one-liner to get Chocolatey installed:</p>
<pre><code class="powershell">$securityProtocolSettingsOriginal = [System.Net.ServicePointManager]::SecurityProtocol

try {
  # Set TLS 1.2 (3072), then TLS 1.1 (768), then TLS 1.0 (192), finally SSL 3.0 (48)
  # Use integers because the enumeration values for TLS 1.2 and TLS 1.1 won&#39;t
  # exist in .NET 4.0, even though they are addressable if .NET 4.5+ is
  # installed (.NET 4.5 is an in-place upgrade).
  [System.Net.ServicePointManager]::SecurityProtocol = 3072 -bor 768 -bor 192 -bor 48
} catch {
  Write-Warning &#39;Unable to set PowerShell to use TLS 1.2 and TLS 1.1 due to old .NET Framework installed. If you see underlying connection closed or trust errors, you may need to do one or more of the following: (1) upgrade to .NET Framework 4.5 and PowerShell v3, (2) specify internal Chocolatey package location (set $env:chocolateyDownloadUrl prior to install or host the package internally), (3) use the Download + PowerShell method of install. See https://chocolatey.org/install for all install options.&#39;
}

iex ((New-Object System.Net.WebClient).DownloadString(&#39;https://chocolatey.org/install.ps1&#39;))

[System.Net.ServicePointManager]::SecurityProtocol = $securityProtocolSettingsOriginal</code></pre>
<h4 id="option-2">Option 2</h4>
<p>You need to download and unzip the Chocolatey package, then call the PowerShell install script from there. See the <a href="#download--powershell-method">Download + PowerShell Method</a> section below.</p>
<h3 id="non-administrative-install">Non-Administrative install</h3>
<p><strong>NOTE</strong>: This option should be a last resort and is considered to be a more advanced scenario - most things you do on Windows require administrative rights, especially surrounding software management, so you are going to be limited even in packages you attempt to install. If you are using the <a href="https://chocolatey.org/packages">community package repository</a>, there are over 200 packages you can install from the community repository without administrative permission - see <a href="https://chocolatey.org/packages?q=id%3Aportable">https://chocolatey.org/packages?q=id%3Aportable</a>.</p>
<ol>
<li>You must choose a different location than the default (see <a href="#installing-to-a-different-location">Installing to a different location</a> above). The default is a more secure location that only administrators can update.</li>
<li>Follow that with the command line / PowerShell methods of installation.</li>
<li>Here is an example of this.</li>
</ol>
<p>NonAdmin.ps1:</p>
<pre><code class="powershell"># Set directory for installation - Chocolatey does not lock
# down the directory if not the default
$InstallDir=&#39;C:\ProgramData\chocoportable&#39;
$env:ChocolateyInstall=&quot;$InstallDir&quot;

# If your PowerShell Execution policy is restrictive, you may
# not be able to get around that. Try setting your session to
# Bypass.
Set-ExecutionPolicy Bypass

# All install options - offline, proxy, etc at
# https://chocolatey.org/install
iex ((New-Object System.Net.WebClient).DownloadString(&#39;https://chocolatey.org/install.ps1&#39;))
# PowerShell 3+?
#iwr https://chocolatey.org/install.ps1 -UseBasicParsing | iex

choco install puppet-agent.portable -y
choco install ruby.portable -y
choco install git.commandline -y

# pick an editor
#choco install visualstudiocode.portable -y # not yet available
choco install notepadplusplus.commandline -y
#choco install nano -y
#choco install vim-tux.portable

# What else can I install without admin rights?
# https://chocolatey.org/packages?q=id%3Aportable</code></pre>
<p>If you prefer or need cmd.exe example, please see <a href="https://gist.github.com/ferventcoder/78fa6b6f4d6e2b12c89680cbc0daec78" class="uri">https://gist.github.com/ferventcoder/78fa6b6f4d6e2b12c89680cbc0daec78</a></p>

</div>

<h2 id="upgrading-chocolatey">Upgrading Chocolatey</h2>
<p>Once installed, Chocolatey can be upgraded in exactly the same way as any other package that has been installed using Chocolatey. Simply use the command to upgrade to the latest stable release of Chocolatey:</p>
<pre><code class="nohighlight">choco upgrade chocolatey</code></pre>
<h2 id="uninstalling-chocolatey">Uninstalling Chocolatey</h2>
<p>See <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "uninstallation" })">uninstall</a>.</p>
<h2 id="faqs">FAQs</h2>
<h3 id="im-having-trouble-installing-chocolatey">I&#39;m having trouble installing Chocolatey</h3>
<p>Make sure you&#39;ve reviewed <a href="#more-install-options" onclick="document.getElementById('div-moreoptions').classList.remove('hide')">More Install Options</a> and looked over <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "troubleshooting" })">Troubleshooting</a>. If you&#39;ve done those things, reach out over the mailing list or over the chat (Gitter). The links to those can be found in the open source section of <a href="https://chocolatey.org/support" class="uri">https://chocolatey.org/support</a>.</p>
<h3 id="im-getting-a-403-attempting-to-install">I&#39;m getting a 403 attempting to install</h3>
<p>This is addressed in <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "troubleshooting" })">Troubleshooting</a>.</p>
<h3 id="why-isnt-there-an-msi">Why isn&#39;t there an MSI?</h3>
<p><strong>tl;dr</strong> - Chocolatey installs as a nupkg like everything else, a PowerShell install script just ensures that.</p>
<p>Chocolatey was born out of providing automation for Windows and doing that with packages, packages that could surround an installer but didn&#39;t necessarily need to. The Chocolatey install scripts use the Chocolatey package (a nupkg file itself) to be installed and upgraded as just another package. This means Chocolatey is &quot;eating its own dogfood&quot; and it is unlikely we&#39;d offer it as an MSI (native installer)as it would fly a bit in the face of what Chocolatey represents (although it is something that we would not rule out).</p>
<p>The installation actually ensures a couple of things:</p>
<ul>
<li><p>PowerShell is installed and is set up properly.</p>
<p>PowerShell is a requirement for using Chocolatey, not just for install. It is what drives the package installation process in most cases. Every package can have binaries and/or installation/uninstallation scripts (written in PowerShell). Chocolatey is the framework and each package gets to define how it is installed, upgraded, and uninstalled. It&#39;s an extremely flexible framework that has been proven to meet the insanity that is the Windows software installation ecosystem. That flexibility would not be easily achieved without PowerShell.</p>
<p>We do recognize there are a few organizations that disable PowerShell, so it&#39;s very likely in the future our <a href="https://chocolatey.org/pricing#compare">Business Edition</a> will meet that need. PowerShell is a staple of Windows automation, so it is not the norm for an organization in this day and age to disable PowerShell.</p>
<p>Having an install process that uses PowerShell helps you determine quickly if Chocolatey will be able to be used in your environment.</p></li>
<li><p>You are open to doing things in a slightly different way, e.g.&nbsp; working with packages as opposed to installers.</p>
<p>You are open to the concept of using packages. Some folks might say this means we are asking folks to learn to &#39;do things &quot;our way&quot; because we know better&#39;. It&#39;s less about &quot;knowing better&quot; and more about learning that Chocolatey does things in a slightly different way. It does that because the world of software is not just installers. Software goes beyond Programs and Features and a system that can track all of that also needs to as well. Package management is not a new concept in the world of software, perhaps just newer to Windows. If folks are not open to that, then they are probably not going to be open to Chocolatey. And that&#39;s completely fine. Chocolatey is not for everyone. We may eventually get to more of a masses approach. Right now we are targeting a specific type of audience - those that are looking for better ways to manage software on Windows and open to looking for the best process of doing that.</p></li>
</ul>

<p>&nbsp;</p>


<script language="javascript" type="text/javascript" src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js"></script>
<script language="javascript" type="text/javascript">
  new Clipboard('.copy-button');
</script>

<script language="javascript" type="text/javascript">
  if (window.location.hash) {
    document.getElementById("div-moreoptions").classList.remove("hide");
  }
</script>


</article>
