@{
  ViewBag.Title = "ReleaseNotesLicensed";
}

<article>
<h1 id="chocolatey-release-notes---commercial-editions">Chocolatey Release Notes - Commercial Editions</h1>
<p><strong>NOTE</strong>: For commercial editions, refer to both this set of release notes and <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes" })">Open Source Release Notes</a>.</p>
<p>If you have Pro, MSP or Architect, please refer to the following:</p>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes-extension" })">Chocolatey Licensed Extension Release Notes</a></li>
</ul>
<p>If you have Chocolatey for Business (C4B), please refer to the following:</p>
<ul>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes-extension" })">Chocolatey Licensed Extension Release Notes</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes-agent" })">Chocolatey Agent Release Notes</a></li>
<li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "release-notes-central-management" })">Chocolatey Central Management Release Notes</a></li>
</ul>
</article>
