@using NuGetGallery;
@model CourseViewModel

<ol class="course-list @if (User.Identity.IsAuthenticated){<text>authenticated</text>}">
    <li class="@if (User.Identity.IsAuthenticated && Model.UserCourseProfiles != null){foreach (var siteProfile in Model.UserCourseProfiles){if (siteProfile.Name == CourseProfileConstants.CreatingChocolateyPackages && siteProfile.ModOne == true){<text>mod-completed</text>}}}">
        <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "creating-chocolatey-packages", courseModuleName = "summary-rules-and-guidlines"})">
            Course Summary, Rules, and Guidlines<i class="icon-chevron-right"></i>
            <span class="text-muted">10 Minutes | Critical information to be consumed before creating your first package.</span>
        </a>
    </li>
    <li class="@if (User.Identity.IsAuthenticated && Model.UserCourseProfiles != null){foreach (var siteProfile in Model.UserCourseProfiles){if (siteProfile.Name == CourseProfileConstants.CreatingChocolateyPackages && siteProfile.ModTwo == true){<text>mod-completed</text>}}}">
        <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "creating-chocolatey-packages", courseModuleName = "nuget-packages-and-nuspec"})">
            Nuget (and Chocolatey) General Information and Nuspec<i class="icon-chevron-right"></i>
            <span class="text-muted">5 Minutes</span>
        </a>
    </li>
    <li class="@if (User.Identity.IsAuthenticated && Model.UserCourseProfiles != null){foreach (var siteProfile in Model.UserCourseProfiles){if (siteProfile.Name == CourseProfileConstants.CreatingChocolateyPackages && siteProfile.ModThree == true){<text>mod-completed</text>}}}">
        <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "creating-chocolatey-packages", courseModuleName = "choco-new-command"})">
            The choco new Command<i class="icon-chevron-right"></i>
            <span class="text-muted">5 Minutes | Learn the exit codes, options, and switches.</span>
        </a>
    </li>
    <li class="@if (User.Identity.IsAuthenticated && Model.UserCourseProfiles != null){foreach (var siteProfile in Model.UserCourseProfiles){if (siteProfile.Name == CourseProfileConstants.CreatingChocolateyPackages && siteProfile.ModFour == true){<text>mod-completed</text>}}}">
        <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "creating-chocolatey-packages", courseModuleName = "naming-description-and-versioning"})">
            Naming, Description, and Versioning Recommendations<i class="icon-chevron-right"></i>
            <span class="text-muted">15 Minutes</span>
        </a>
    </li>
    <li class="@if (User.Identity.IsAuthenticated && Model.UserCourseProfiles != null){foreach (var siteProfile in Model.UserCourseProfiles){if (siteProfile.Name == CourseProfileConstants.CreatingChocolateyPackages && siteProfile.ModFive == true){<text>mod-completed</text>}}}">
        <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "creating-chocolatey-packages", courseModuleName = "installing-upgrading-and-uninstalling"})">
            Installing, Upgrading, and Uninstalling Your Package<i class="icon-chevron-right"></i>
            <span class="text-muted">10 Minutes | Learn about installation paths, upgrading, and uninstalling your package.</span>
        </a>
    </li>
    <li class="@if (User.Identity.IsAuthenticated && Model.UserCourseProfiles != null){foreach (var siteProfile in Model.UserCourseProfiles){if (siteProfile.Name == CourseProfileConstants.CreatingChocolateyPackages && siteProfile.ModSix == true){<text>mod-completed</text>}}}">
        <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "creating-chocolatey-packages", courseModuleName = "shims"})">
            All About Shims<i class="icon-chevron-right"></i>
            <span class="text-muted">5 Minutes</span>
        </a>
    </li>
    <li class="@if (User.Identity.IsAuthenticated && Model.UserCourseProfiles != null){foreach (var siteProfile in Model.UserCourseProfiles){if (siteProfile.Name == CourseProfileConstants.CreatingChocolateyPackages && siteProfile.ModSeven == true){<text>mod-completed</text>}}}">
        <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "creating-chocolatey-packages", courseModuleName = "internationalization-and-localization"})">
            Internationalization and Localization of Packages<i class="icon-chevron-right"></i>
            <span class="text-muted">5 Minutes | Find examples of the various techniques used to internalize a package.</span>
        </a>
    </li>
    <li class="@if (User.Identity.IsAuthenticated && Model.UserCourseProfiles != null){foreach (var siteProfile in Model.UserCourseProfiles){if (siteProfile.Name == CourseProfileConstants.CreatingChocolateyPackages && siteProfile.ModEight == true){<text>mod-completed</text>}}}">
        <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "creating-chocolatey-packages", courseModuleName = "building-testing-and-pushing"})">
            Building, Testing, and Pushing Your Package<i class="icon-chevron-right"></i>
            <span class="text-muted">10 Minutes</span>
        </a>
    </li>
    <li class="@if (User.Identity.IsAuthenticated && Model.UserCourseProfiles != null){foreach (var siteProfile in Model.UserCourseProfiles){if (siteProfile.Name == CourseProfileConstants.CreatingChocolateyPackages && siteProfile.ModNine == true){<text>mod-completed</text>}}}">
        <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "creating-chocolatey-packages", courseModuleName = "automatic-packaging"})">
            Automatically Updating a Package<i class="icon-chevron-right"></i>
            <span class="text-muted">5 Minutes | Requirements and setup instructions on how to automatically update a package.</span>
        </a>
    </li>
    <li class="@if (User.Identity.IsAuthenticated && Model.UserCourseProfiles != null){foreach (var siteProfile in Model.UserCourseProfiles){if (siteProfile.Name == CourseProfileConstants.CreatingChocolateyPackages && siteProfile.ModTen == true){<text>mod-completed</text>}}}">
        <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "creating-chocolatey-packages", courseModuleName = "package-maintainer-handover"})">
            Taking Over an Existing Package<i class="icon-chevron-right"></i>
            <span class="text-muted">5 Minutes | Read the steps on how to properly take of an existing package</span>
        </a>
    </li>
</ol>