@using System.Configuration
@using NuGetGallery;
@using StackExchange.Profiling
@{
  if (!ViewData.ContainsKey(Constants.ReturnUrlViewDataKey) || string.IsNullOrWhiteSpace((string)ViewData[Constants.ReturnUrlViewDataKey]))
  {
    if (TempData.ContainsKey(Constants.ReturnUrlViewDataKey))
    {
      TempData[Constants.ReturnUrlViewDataKey] = Request.RawUrl;
    }
    else
    {
      TempData.Add(Constants.ReturnUrlViewDataKey, Request.RawUrl);
    }
  }

  //css
  Bundles.Reference("Content/style.css");
  //js
  Bundles.Reference("Scripts");
  Bundles.Reference("Scripts/header", "header");
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>@ViewBag.Title</title>
  @RenderSection("ExtraHeaders", required: false)
  <meta property="og:title" content="@ViewBag.Title" />
  <meta property="DC.title" content="@ViewBag.Title"/>
  <meta property="og:site_name" content="Chocolatey" />
  <meta property="og:type" content="product" />
  <meta property="product:category" content="software" />
  <meta property="og:image" content="https://chocolatey.org/content/images/icon_slogan.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="700" />
  <meta property="copyright" content="Chocolatey is Copyright 2017 - @DateTime.UtcNow.Year Chocolatey Software, Inc. Copyright 2011 - 2017 RealDimensions Software, LLC."/> 
  @Bundles.RenderStylesheets()
  @RenderSection("css", required: false)
  <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
  <link rel="nuget" type="application/atom+xml" title="Chocolatey" href="http://www.chocolatey.org/api/v2" />
  <link rel="search" type="application/opensearchdescription+xml" href="@Url.Content("~/opensearch.xml")" title="Chocolatey Search" />
  @Bundles.RenderScripts("header")
  @MiniProfiler.RenderIncludes()
  @{
    var propertyId = ConfigurationManager.AppSettings["Gallery:GoogleAnalyticsPropertyId"];
  }
  @if (propertyId != null)
  {
    @Analytics.GetGoogleHtml(propertyId)
  }
  @RenderSection("TopScripts", required: false)
</head>
@RenderBody()
</html>
