@Html.Partial("~/Views/Shared/_AlertBottom.cshtml")
<footer class="bg-medium">
    <section id="mc_embed_signup" class="container-fluid bg-primary py-2">
        <form action="//chocolatey.us8.list-manage.com/subscribe/post?u=86a6d80146a0da7f2223712e4&amp;id=73b018498d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="form-row align-items-center justify-content-center">
                <div class="col-12 col-md-auto text-center text-md-left">
                    <h3 class="mb-0">Signup for the Newsletter!</h3>
                </div>
                <div class="col-12 col-md-3">
                    <label class="sr-only" for="mce-EMAIL">E-Mail</label>
                    <input type="email" class="form-control email mt-2 mt-md-0" id="mce-EMAIL" placeholder="Your e-mail address" value="" name="EMAIL" required>
                </div>
                <div style="position: absolute; left: -5000px;">
                    <input title="Invisible Field" type="text" name="b_86a6d80146a0da7f2223712e4_73b018498d" tabindex="-1" value="">
                </div>
                <div class="col-12 col-md-auto">
                    <button type="submit" class="btn btn-light col-12 mt-2 mt-md-0" id="mc-embedded-subscribe"><strong>Subscribe</strong></button>
                </div>
            </div>
            <div class="form-row text-center mt-1 mt-md-0">
                <div class="col-12">
                    <p class="mb-0"><i>Be the first to know about upcoming features, security releases, and news about Chocolatey.</i></p>
                </div>
            </div>
        </form>
    </section>
    <section class="container py-5 text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <h3>Chocolatey</h3>
                <ul class="list-unstyled mb-0">
                    @*
                        <li><a href="@Url.RouteUrl(RouteName.Features)">Features</a></li>*@
                    <li><a href="@Url.RouteUrl(RouteName.About)">About</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.FAQ, new {docName = " chocolatey-faqs"})">FAQ</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Pricing)">Need More Features?</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Pricing)">For Businesses</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Kickstarter)">Kickstarter</a></li>
                    @*
                        <li><a href="@Url.RouteUrl(RouteName.Terms)">Terms of Use</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Privacy)">Privacy Policy</a></li>*@
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h3>Resources</h3>
                <ul class="list-unstyled mb-0">
                    <li><a href="https://status.chocolatey.org">Status</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Docs, new {docName = " home"})">Documentation</a></li>
                    <li><a href="http://eepurl.com/4qUJH">Newsletter</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.BlogHome)">Blog</a> <a href="http://feeds.feedburner.com/ChocolateyBlog" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="Chocolatey Blog" style="vertical-align:middle;border:0" /></a></li>
                    <li><a href="https://groups.google.com/group/chocolatey">Mailing List</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Docs, new {docName = " security"})">Security</a></li>
                    @*
                        <li><a href="#">Site map</a></li>*@
                    <li><a href="@Url.Content(" ~/chocolatey-media-kit.zip")">Media Kit</a></li>
                    <li><a href="http://cafepress.com/chocolatey">Shop</a></li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h3>Connect</h3>
                <ul class="list-unstyled mb-0">
                    @*
                        <li><a href="@Url.RouteUrl(RouteName.Company)">Company</a></li>*@
                    <li><a href="@Url.RouteUrl(RouteName.ContactUs)">Contact Us</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Support)">Support</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.ReportIssue)">Report a Bug</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Pricing)">Compare</a></li>
                    @*
                        <li><a href="@Url.RouteUrl(RouteName.Press)">Press</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Partner)">Partner</a></li>*@
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://twitter.com/chocolateynuget" target="_blank" rel="noreferrer">
                            <i aria-hidden="true" class="icon-twitter mr-2 h3"></i>
                            <span class="sr-only">Follow Chocolatey Software on Twitter</span>
                        </a>
                        <a href="https://facebook.com/ChocolateySoftware" target="_blank" rel="noreferrer">
                            <i aria-hidden="true" class="icon-facebook mr-2 h3"></i>
                            <span class="sr-only">Follow Chocolatey Software on Facebook</span>
                        </a>
                        <a href="https://github.com/chocolatey" target="_blank" rel="noreferrer">
                            <i aria-hidden="true" class="icon-github mr-2 h3"></i>
                            <span class="sr-only">Find Chocolatey Software on GitHub</span>
                        </a>
                        <a href="https://www.youtube.com/channel/UCQmrYSJutTqenTDct39CcjQ" target="_blank" rel="noreferrer">
                            <i aria-hidden="true" class="icon-youtube h3"></i>
                            <span class="sr-only">Subscribe to Chocolatey Software on YouTube</span>
                        </a>
                    </li>
                    <li>
                        <p class="mb-0">Site made possible by the following sponsors</p>
                        <a href="#">
                            <img class="mr-2" width="70" alt="RealDimensions Software, LLC Logo" title="RealDimensions Software, LLC - the makers of Chocolatey!" src="@Url.Content("~/content/images/rd_logo.png")" />
                        </a>
                        <a href="https://turbo.net/" target="_blank" rel="noreferrer">
                            <img class="mr-2" width="40" alt="Turbo.Net Logo" title="Turbo" src="@Url.Content("~/content/images/turbo_logo.png")" />
                        </a>
                        <a href="https://appharbor.com/" target="_blank" rel="noreferrer">
                            <img width="50" alt="AppHarbor Logo" title="AppHarbor" src="@Url.Content("~/content/images/appharbor_logo.png")" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_CopyrightNavigation.cshtml")
</footer>