@using System.Configuration
@{
    Layout = "_BaseLayout.cshtml";
    Bundles.Reference("Scripts/CookiesNotice");
}
@{
    var noticeText = @"";
}
@section css
{
  @RenderSection("css", required: false)
}
@section ExtraHeaders
{
  @RenderSection("ExtraHeaders", required: false)
}
@section TopScripts
{
  @RenderSection("TopScripts", required: false)
}
<body class="bg-one">
  <div class="maintenance-message @if (string.IsNullOrEmpty(noticeText))
                      {
                          <text> hide</text>
                      }">
    <div class="p-l p-r p--s">
      <span><i class="icon-exclamation-triangle m-r"></i>@Html.Raw(noticeText)</span> @*<button class="right pointer" data-close-message>
                <i class="icon-close"></i>
            </button>*@
    </div>
  </div>
  <header class="bg-yellow p-b--s clearfix">
    <a class="logo left" href="@Url.Home()">
      <img class="hide-on-small" height="180px" alt="Logo" src="@Url.Content("~/content/images/logo_square.svg")" />
      <img class="hide-on-large" height="100px" alt="Logo" src="@Url.Content("~/content/images/logo_small.svg")" />
    </a>
    <nav class="text-right p">
      <ul class="inline-list main-menu m-r m-b--s m-t--s">
        <li><a class="bold m-l--s" href="@Url.RouteUrl(RouteName.Install)">Install</a></li>
        <li><a class="bold m-l--s" href="@Url.RouteUrl(RouteName.About)">About</a></li>   
        <li><a class="bold m-l--s" href="@Url.RouteUrl(RouteName.Kickstarter)">Kickstarter</a></li>        
        <li><a class="bold m-l--s" href="@Url.RouteUrl(RouteName.BlogHome)">Blog</a>&nbsp;<a href="http://feeds.feedburner.com/ChocolateyBlog" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0" /></a></li>           
        <li><a class="bold m-l--s" href="@Url.RouteUrl(RouteName.Pricing)">Pricing</a></li>
        <li><a class="bold m-l--s" href="@Url.RouteUrl(RouteName.ListPackages)">Packages</a></li>  
        @* todo NEWSITE need to figure out where Upload package goes now - perhaps shown when users login? *@
        @*<li><a class="bold m-l--s" href="@Url.UploadPackage()">Upload</a></li>*@
        @*<li><a class="bold m-l--s" href="@Url.RouteUrl(RouteName.Features)">Features</a></li>*@
        @*<li><a class="bold m-l--s" href="@Url.RouteUrl(RouteName.Business)">Business</a></li>*@
  
        <li><a class="bold m-l--s" href="@Url.RouteUrl(RouteName.FAQ)">FAQ</a></li>
        <li><a class="bold m-l--s" href="@Url.RouteUrl(RouteName.Docs, new
                                         {
                                             docName = "home"
                                         })">Docs</a></li>
        <li>@Html.Partial(MVC.Shared.Views.UserDisplay)</li>
      </ul>
    </nav>
  </header>
  <main>
        
      @if (TempData.ContainsKey("Message"))
      {
        <p class="message">@TempData["Message"]</p>
      }
      @if (TempData.ContainsKey("ErrorMessage"))
      {
        <p class="message error">@TempData["ErrorMessage"]</p>
      }
      @RenderBody()
  </main>
  <footer class="p-l--l p-r--l p-t--l p-b clearfix full-width">
    <ul class="small fourth left p">
      <li><h3 class="bold m-b--s">Chocolatey</h3></li>
      @*<li><a href="@Url.RouteUrl(RouteName.Features)">Features</a></li>*@
      <li><a href="@Url.RouteUrl(RouteName.About)">About</a></li>
      <li><a href="@Url.RouteUrl(RouteName.FAQ)">FAQ</a></li>
      <li><a href="@Url.RouteUrl(RouteName.Pricing)">Need More Features?</a></li>
      <li><a href="@Url.RouteUrl(RouteName.Pricing)">For Businesses</a></li>
      <li><a href="@Url.RouteUrl(RouteName.Kickstarter)">Kickstarter</a></li>
      @*<li><a href="@Url.RouteUrl(RouteName.Terms)">Terms of Use</a></li>
                <li><a href="@Url.RouteUrl(RouteName.Privacy)">Privacy Policy</a></li>*@
    </ul>
    <ul class="small fourth left p">
      <li><h3 class="bold m-b--s">Resources</h3></li>
      <li><a href="@Url.RouteUrl(RouteName.Docs, new
                   {
                       docName = "home"
                   })">Documentation</a></li>
      <li><a href="http://eepurl.com/4qUJH">Newsletter</a></li>
      <li><a href="@Url.RouteUrl(RouteName.BlogHome)">Blog</a></li>
      <li><a href="https://groups.google.com/group/chocolatey">Mailing List</a></li>
      <li><a href="@Url.RouteUrl(RouteName.Security)">Security</a></li>
      @*<li><a href="#">Site map</a></li>*@
      <li><a href="@Url.Content("~/chocolatey-media-kit.zip")">Media Kit</a></li>
      <li><a href="http://cafepress.com/chocolatey">Shop</a></li>
    </ul>
    <ul class="small fourth left p">
      <li><h3 class="bold m-b--s">Connect</h3></li>
      @*<li><a href="@Url.RouteUrl(RouteName.Company)">Company</a></li>*@
      <li><a href="@Url.RouteUrl(RouteName.ContactUs)">Contact Us</a></li>
      <li><a href="@Url.RouteUrl(RouteName.Support)">Support</a></li>
      <li><a href="@Url.RouteUrl(RouteName.ReportIssue)">Report a Bug</a></li>
      <li><a href="@Url.RouteUrl(RouteName.Pricing)">Compare</a></li>
      @*<li><a href="@Url.RouteUrl(RouteName.Press)">Press</a></li>
                <li><a href="@Url.RouteUrl(RouteName.Partner)">Partner</a></li>*@
    </ul>
    <ul class="small fourth left p line-height-normal">
      <li class="h2">
        <div>
          <a href="https://twitter.com/chocolateynuget" class="icon-twitter"></a> | <a href="https://facebook.com/ChocolateySoftware" class="icon-facebook"></a> | <a href="https://github.com/chocolatey" class="icon-github"></a>
        </div>
      </li>
      <li class="m-t small">
        <p>
          <strong>&copy; 2017</strong> Chocolatey Software, Inc.<br/>
          <strong>&copy; 2011 - 2017</strong> RealDimensions Software, LLC.
        </p>
        @{
            string commitId = ConfigurationManager.AppSettings["appharbor.commit_id"];
            string worker = ConfigurationManager.AppSettings["appharbor.worker_name"];
        }
        <p id="releaseTag">
          Deployed from <a href="https://github.com/chocolatey/chocolatey.org/commit/@commitId" title="View the commit.">@commitId.Substring(0, 10)</a>. You are on @worker. Page generated @DateTime.UtcNow.ToString("dd MMM yyyy HH:mm:ss") +00:00.
        </p>
      </li>
      <li class="m-t">
        Site made possible by the following sponsors<br />
        <a class="vertical-middle m-r m-t--s inline-block" href="#">
          <img width="70px" alt="RealDimensions Software, LLC Logo" title="RealDimensions Software, LLC - the makers of Chocolatey!" src="@Url.Content("~/content/images/rd_logo.png")" />
        </a>
        <a class="vertical-middle m-r m-t--s inline-block" href="https://turbo.net/">
          <img width="40px" alt="Turbo.Net Logo" title="Turbo" src="@Url.Content("~/content/images/turbo_logo.png")" />
        </a>
        <a class="vertical-middle m-t--s inline-block" href="https://appharbor.com/">
          <img width="50px" src="@Url.Content("~/content/images/appharbor_logo.png")" />
        </a>
      </li>
    </ul>
  </footer>
  @Bundles.RenderStylesheets("bottom")
  @Bundles.RenderScripts()
  
  @RenderSection("BottomScripts", required: false)
    
  <script language="javascript" type="text/javascript">
    ((window.gitter = {}).chat = {}).options = {
      room: 'chocolatey/chocolatey.org'
    };
  </script>

  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  @RenderPage("_CookiePolicy.cshtml")
  <script language="javascript">
      CookiesNotice.modal("chocolatey_hide_cookies_notice");
  </script>
</body>
@*
    <div id="layout-footer" class="group">
          <footer id="footer">
              <ul class="recommended">
                  <li><a name="newsletter" id="newsletter">Sign up for the Newsletter!</a>
                      <p>Be the first to know about upcoming features, security releases, and news about Chocolatey.</p>
                  </li>
                  <li> <!-- Begin MailChimp Signup Form -->
                      <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet"
                          type="text/css">
                      <style type="text/css">
                        #mc_embed_signup
                        {
                          font: 12px Helvetica,Arial,sans-serif;
                          width: 160px;
                        }
                        #mc_embed_signup input.email
                        {
                          min-width: 150px;
                        }
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                      </style>
                      <div id="mc_embed_signup">
                          <form action="//chocolatey.us8.list-manage.com/subscribe/post?u=86a6d80146a0da7f2223712e4&amp;id=73b018498d"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                          target="_blank" novalidate>
                          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your e-mail address"
                              required />
                          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                          <div style="position: absolute; left: -5000px;">
                              <input type="text" name="b_86a6d80146a0da7f2223712e4_73b018498d" tabindex="-1" value="">
                          </div>
                          <div class="clear">
                              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                  class="button" /></div>
                          </form>
                      </div>
                      <!--End mc_embed_signup-->
                  </li>
                  <li><a href="http://groups.google.com/group/chocolatey">Discussion</a>
                      <p>Find a possible bug? Got a feature request? Get involved in the discussion!</p>
                  </li>
                  <li><a href="@Url.RouteUrl(RouteName.FAQ)">FAQ</a>
                      <p>Read the Frequently Asked Questions about Chocolatey.</p>
                  </li>
              </ul>
              <div class="donate">
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="E8ZPVL5PNTABW">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
                      border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                      width="1" height="1">
                  </form>
              </div>
              <div class="newsletter">
              </div>

          </footer>
      </div>

*@