@{
    Layout = "_BaseLayout.cshtml";
}
@section css
{
    @RenderSection("css", required: false)
}
@section ExtraHeaders
{
    @RenderSection("ExtraHeaders", required: false)
}
@section TopScripts
{
    @RenderSection("TopScripts", required: false)
}

<body>
    <div id="loader">
        <div id="shadow"></div>
        <div id="shape"></div>
    </div>
    <header>
        @Html.Partial("~/Views/Shared/_AlertTop.cshtml")
    </header>
    <main class="my-auto">
        @if (TempData.ContainsKey("Message"))
        {
            <div class="modal fade" id="package-save" tabindex="-1" role="dialog" aria-labelledby="package-save" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <i class="icon-check-circle-o display-1" alt="Saved Successfully"></i>
                            <h3>@TempData["Message"]</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (TempData.ContainsKey("ErrorMessage"))
        {
            <div class="modal fade" id="package-save" tabindex="-1" role="dialog" aria-labelledby="package-save" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <i class="icon-times-circle-o display-1" alt="Saved Successfully"></i>
                            <h3>@TempData["ErrorMessage"]</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <section id="account" class="container py-3 py-md-5">
            <div class="row">
                <div class="col-sm-9 col-lg-6 col-xl-4 m-auto">
                    <div class="card">
                        <div class="card-header text-center bg-primary">
                            <img class="logo" alt="Chocolatey Software" src="@Url.Content("~/content/images/just-type-logo.svg")" />
                        </div>
                        <div class="card-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="bg-medium">
        @Html.Partial("~/Views/Shared/_CopyrightNavigation.cshtml")
    </footer>
    @RenderPage("_CookiePolicy.cshtml")

    @Bundles.RenderStylesheets("bottom")
    @Bundles.RenderScripts()

    @RenderSection("BottomScripts", required: false)

    <script language="javascript" type="text/javascript">
        ((window.gitter = {}).chat = {}).options = {
            room: 'chocolatey/chocolatey.org'
        };
    </script>

    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

    <script language="javascript" type="text/javascript">
        CookiesNotice.modal("chocolatey_hide_cookies_notice");
        if (!getCookie('chocolatey_hide_cookies_notice')) {
            $(".cookies-popup").css('display', 'block');
        }
    </script>
</body>