@{
    Layout = "_BaseLayout.cshtml";
}
@section css
{
    @RenderSection("css", required: false)
}
@section ExtraHeaders
{
    @RenderSection("ExtraHeaders", required: false)
}
@section TopScripts
{
    @RenderSection("TopScripts", required: false)
}

<body>
    @Html.Partial("~/Views/Shared/_Loader.cshtml")
    <header>
        @Html.Partial("~/Views/Shared/_AlertTop.cshtml")
    </header>
    <main class="my-auto">
        @if (TempData.ContainsKey("Message") || TempData.ContainsKey("ErrorMessage"))
        {
            <div class="modal fade" id="tempdata-message" tabindex="-1" role="dialog" aria-labelledby="tempdata-message" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            @if (TempData.ContainsKey("Message"))
                            {
                                <i class="fas fa-check-circle display-1 text-success" alt="Saved Successfully"></i>
                                <h3>@TempData["Message"]</h3>
                            }
                            else
                            {
                                <i class="fas fa-times-circle display-1 text-danger" alt="Not Saved"></i>
                                <h3>@TempData["ErrorMessage"]</h3>
                            }
                        </div>
                        <div class="modal-footer border-top-0">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <section id="account" class="container py-3 py-md-5">
            <div class="row">
                <div class="col-sm-9 col-lg-6 m-auto">
                    <div class="card">
                        <div class="card-header text-center bg-primary">
                            <img class="logo" alt="Chocolatey Software" src="@Url.Content("~/content/images/just-type-logo.svg")" />
                        </div>
                        <div class="card-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="bg-medium">
        @Html.Partial("~/Views/Shared/_CopyrightNavigation.cshtml")
    </footer>
    @RenderPage("_CookiePolicy.cshtml")

    @Bundles.RenderStylesheets("bottom")
    @Bundles.RenderScripts()

    @RenderSection("BottomScripts", required: false)
</body>