@using System.Configuration
@{
    Layout = "_BaseLayout.cshtml";
}
@section css
{
    @RenderSection("css", required: false)
}
@{
    var noticeText = ("");
    var noticeTextBottom = ("<a href='/compare' class='alert-link'>Pro</a> (for individuals like <em><strong>you</strong></em> that want more out of Chocolatey) and <a href='/compare' class='alert-link'>Chocolatey for Business</a> now available! Get your copy now!");
}
@section ExtraHeaders
{
    @RenderSection("ExtraHeaders", required: false)
}
@section TopScripts
{
    @RenderSection("TopScripts", required: false)
}

<body>
    <header>
        <div class="alert alert-primary alert-dismissible fade show mb-0 @if (string.IsNullOrEmpty(noticeText)) { <text> d-none</text> }" role="alert" aria-atomic="true">
            <strong><i class="icon-exclamation-triangle m-r"></i>@Html.Raw(noticeText)</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <nav class="navbar navbar-expand-xl navbar-dark bg-medium @if (!User.Identity.IsAuthenticated) { <text>mb-xl-3</text> }">
            <a class="navbar-brand" href="@Url.Home()">
                <img alt="Chocolatey Software" src="@Url.Content("~/content/images/logo_square.svg")" />
                @*<img class="d-xl-none" height="75" alt="Chocolatey Software" src="@Url.Content("~/content/images/logo_small.svg")" />*@
            </a>
            <form class="form-inline my-2 my-md-0 d-xl-none ml-auto">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-outline-light mr-2" href="@Url.LogOn()"><i class="icon-sign-in" alt="Login"></i> Login</a>
                    <a class="btn btn-light" href="@Url.Action(MVC.Users.Register())"><i class="icon-user-plus" alt="Signup"></i> Signup</a>
                }
                else
                {
                    <a class="btn btn-outline-light mr-2" href="@Url.LogOff()"><i class="icon-sign-out" alt="Log Off"></i> Log Off</a>
                    <a class="btn btn-light" href="@Url.Action(MVC.Users.Account())"><i class="icon-user" alt="Account"></i> Account</a>
                }
            </form>
            <button class="navbar-toggler form-inline my-2 my-md-0 ml-2" type="button" data-toggle="collapse" data-target="#navbarlogoff" aria-controls="navbarlogoff" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarlogoff">
                <ul class="navbar-nav ml-auto">
                    @*<li class="nav-item">
                        <a class="nav-link" href="@Url.RouteUrl(RouteName.Features)">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.RouteUrl(RouteName.Business)">Business</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Home()">Home <span class="sr-only">(current)</span></a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.RouteUrl(RouteName.Install)">Install</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.RouteUrl(RouteName.About)">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.RouteUrl(RouteName.Kickstarter)">Kickstarter</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link pr-0" href="@Url.RouteUrl(RouteName.BlogHome)">Blog</a><a class="nav-link pl-1" href="http://feeds.feedburner.com/ChocolateyBlog" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="Chocolatey Blog" style="vertical-align:middle;border:0" /></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.RouteUrl(RouteName.Pricing)">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.RouteUrl(RouteName.FAQ)">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.RouteUrl(RouteName.Docs, new {docName = "home"})">Docs</a>
                    </li>
                    <li class="nav-item d-xl-none">
                        <a class="nav-link" href="@Url.RouteUrl(RouteName.ListPackages)">Packages</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item d-none d-xl-block">
                            <a class="nav-link" href="@Url.RouteUrl(RouteName.ListPackages)">Packages</a>
                        </li>
                    }
                </ul>
                @if (!User.Identity.IsAuthenticated)
                {
                    <form class="form-inline my-2 my-md-0 d-none d-xl-inline">
                        <a class="btn btn-outline-light mr-2" href="@Url.LogOn()"><i class="icon-sign-in" alt="Login"></i> Login</a>
                        <a class="btn btn-light" href="@Url.Action(MVC.Users.Register())"><i class="icon-user-plus" alt="Signup"></i> Signup</a>
                    </form>
                    <form class="form-inline my-2 my-md-0 d-none d-xl-flex" role="search" action="@Url.SearchResults()" method="get">
                        <input class="form-control ml-2 search-input w-auto" name="q" type="text" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." placeholder="Search" value="@(String.IsNullOrEmpty(ViewBag.SearchTerm) ? "" : ViewBag.SearchTerm)">
                        <button class="btn btn-primary btn-search my-2 my-sm-0" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." type="submit" value=""><i class="icon-search" alt="Search"></i></button>
                    </form>
                }
            </div>
        </nav>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-dark bg-medium-dark d-none d-xl-flex">
                @*<a class="navbar-brand" href="@Url.Action(MVC.Users.Account())"> Welcome, Username!</a>*@
                <form class="form-inline ml-auto">
                    <a class="nav-link text-white" href="@Url.RouteUrl(RouteName.ListPackages)"><i class="icon-share" alt="View All Packages"></i> View All Packages</a>
                    <a class="btn btn-outline-light mr-2" href="@Url.LogOff()"><i class="icon-sign-out" alt="Log Off"></i> Log Off</a>
                    <a class="btn btn-light" href="@Url.Action(MVC.Users.Account())"><i class="icon-user" alt="Account"></i> Account</a>
                    <a class="btn btn-primary ml-2" href="@Url.UploadPackage()"><i class="icon-upload" alt="Upload"></i> Upload</a>
                </form>
                <form class="form-inline d-none d-xl-flex" role="search" action="@Url.SearchResults()" method="get">
                    <input class="form-control ml-2 search-input w-auto" name="q" type="text" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." placeholder="Search" value="@(String.IsNullOrEmpty(ViewBag.SearchTerm) ? "" : ViewBag.SearchTerm)">
                    <button class="btn btn-primary btn-search my-2 my-sm-0" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." type="submit" value=""><i class="icon-search" alt="Search"></i></button>
                </form>
            </nav>
        }
        <div class="bg-medium-dark d-xl-none">
            <section class="container py-2">
                <div class="row">
                    <div class="col-12">
                        <form class="form-inline justify-content-center" role="search" action="@Url.SearchResults()" method="get">
                            <input class="form-control search-input w-75" name="q" type="text" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." placeholder="Search Packages" value="@(String.IsNullOrEmpty(ViewBag.SearchTerm) ? "" : ViewBag.SearchTerm)">
                            <button class="btn btn-primary btn-search" title="Search by id only with 'id:searchValue'. Search by tags with 'tag:searchValue'." type="submit" value=""><i class="icon-search" alt="Search"></i></button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </header>
    <main class="my-auto">
        @if (TempData.ContainsKey("Message"))
        {
            <div class="modal fade" id="package-save" tabindex="-1" role="dialog" aria-labelledby="package-save" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <i class="icon-check-circle-o display-1" alt="Saved Successfully"></i>
                            <h3>@TempData["Message"]</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (TempData.ContainsKey("ErrorMessage"))
        {
            <div class="modal fade" id="package-save" tabindex="-1" role="dialog" aria-labelledby="package-save" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <i class="icon-times-circle-o display-1" alt="Saved Successfully"></i>
                            <h3>@TempData["ErrorMessage"]</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @RenderBody()
    </main>
    <div class="alert alert-primary alert-dismissible fade show mb-0 @if (string.IsNullOrEmpty(noticeTextBottom)) { <text> d-none</text> }" role="alert" aria-atomic="true">
        <strong><i class="icon-exclamation-triangle m-r"></i>@Html.Raw(noticeTextBottom)</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <footer class="bg-medium text-white">
        <section id="mc_embed_signup" class="container-fluid bg-primary py-2">
            <form action="//chocolatey.us8.list-manage.com/subscribe/post?u=86a6d80146a0da7f2223712e4&amp;id=73b018498d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="form-row align-items-center justify-content-center">
                    <div class="col-12 col-md-auto text-center text-md-left">
                        <h3 class="mb-0">Signup for the Newsletter!</h3>
                    </div>
                    <div class="col-12 col-md-3">
                        <label class="sr-only" for="mce-EMAIL">E-Mail</label>
                        <input type="email" class="form-control email mt-2 mt-md-0" id="mce-EMAIL" placeholder="Your e-mail address" value="" name="EMAIL" required>
                    </div>
                    <div style="position: absolute; left: -5000px;">
                        <input title="Invisible Field" type="text" name="b_86a6d80146a0da7f2223712e4_73b018498d" tabindex="-1" value="">
                    </div>
                    <div class="col-12 col-md-auto">
                        <button type="submit" class="btn btn-light col-12 mt-2 mt-md-0" id="mc-embedded-subscribe"><strong>Subscribe</strong></button>
                    </div>
                </div>
                <div class="form-row text-center mt-1 mt-md-0">
                    <div class="col-12">
                        <p class="mb-0"><i>Be the first to know about upcoming features, security releases, and news about Chocolatey.</i></p>
                    </div>
                </div>
            </form>
        </section>
        <section class="container py-5 text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <h3>Chocolatey</h3>
                    <ul class="list-unstyled mb-0">
                        @*<li><a href="@Url.RouteUrl(RouteName.Features)">Features</a></li>*@
                        <li><a href="@Url.RouteUrl(RouteName.About)">About</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.FAQ)">FAQ</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Pricing)">Need More Features?</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Pricing)">For Businesses</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Kickstarter)">Kickstarter</a></li>
                        @*<li><a href="@Url.RouteUrl(RouteName.Terms)">Terms of Use</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Privacy)">Privacy Policy</a></li>*@
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <h3>Resources</h3>
                    <ul class="list-unstyled mb-0">
                        <li><a href="https://status.chocolatey.org">Status</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Docs, new {docName = "home"})">Documentation</a></li>
                        <li><a href="http://eepurl.com/4qUJH">Newsletter</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.BlogHome)">Blog</a> <a href="http://feeds.feedburner.com/ChocolateyBlog" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="Chocolatey Blog" style="vertical-align:middle;border:0" /></a></li>
                        <li><a href="https://groups.google.com/group/chocolatey">Mailing List</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Security)">Security</a></li>
                        @*<li><a href="#">Site map</a></li>*@
                        <li><a href="@Url.Content("~/chocolatey-media-kit.zip")">Media Kit</a></li>
                        <li><a href="http://cafepress.com/chocolatey">Shop</a></li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <h3>Connect</h3>
                    <ul class="list-unstyled mb-0">
                        @*<li><a href="@Url.RouteUrl(RouteName.Company)">Company</a></li>*@
                        <li><a href="@Url.RouteUrl(RouteName.ContactUs)">Contact Us</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Support)">Support</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.ReportIssue)">Report a Bug</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Pricing)">Compare</a></li>
                        @*<li><a href="@Url.RouteUrl(RouteName.Press)">Press</a></li>
                        <li><a href="@Url.RouteUrl(RouteName.Partner)">Partner</a></li>*@
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://twitter.com/chocolateynuget" target="_blank" rel="noreferrer">
                                <i aria-hidden="true" class="icon-twitter mr-2 h3"></i>
                                <span class="sr-only">Follow Chocolatey Software on Twitter</span>
                            </a>
                            <a href="https://facebook.com/ChocolateySoftware" target="_blank" rel="noreferrer">
                                <i aria-hidden="true" class="icon-facebook mr-2 h3"></i>
                                <span class="sr-only">Follow Chocolatey Software on Facebook</span>
                            </a>
                            <a href="https://github.com/chocolatey" target="_blank" rel="noreferrer">
                                <i aria-hidden="true" class="icon-github mr-2 h3"></i>
                                <span class="sr-only">Find Chocolatey Software on GitHub</span>
                            </a>
                            <a href="https://www.youtube.com/channel/UCQmrYSJutTqenTDct39CcjQ" target="_blank" rel="noreferrer">
                                <i aria-hidden="true" class="icon-youtube h3"></i>
                                <span class="sr-only">Subscribe to Chocolatey Software on YouTube</span>
                            </a>
                        </li>
                        <li>
                            <p class="mb-0">Site made possible by the following sponsors</p>
                            <a href="#">
                                <img class="mr-2" width="70" alt="RealDimensions Software, LLC Logo" title="RealDimensions Software, LLC - the makers of Chocolatey!" src="@Url.Content("~/content/images/rd_logo.png")" />
                            </a>
                            <a href="https://turbo.net/" target="_blank" rel="noreferrer">
                                <img class="mr-2" width="40" alt="Turbo.Net Logo" title="Turbo" src="@Url.Content("~/content/images/turbo_logo.png")" />
                            </a>
                            <a href="https://appharbor.com/" target="_blank" rel="noreferrer">
                                <img width="50" alt="AppHarbor Logo" title="AppHarbor" src="@Url.Content("~/content/images/appharbor_logo.png")" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="container-fluid bg-medium-dark text-center py-3">
            <div class="row">
                <div class="col-12">
                    <p>
                        <strong>&copy; 2017 - @DateTime.UtcNow.Year</strong> Chocolatey Software, Inc.<br />
                        <strong>&copy; 2011 - 2017</strong> RealDimensions Software, LLC.
                    </p>
                    @{
                        string commitId = ConfigurationManager.AppSettings["appharbor.commit_id"];
                        string worker = ConfigurationManager.AppSettings["appharbor.worker_name"];
                    }
                    <p id="releaseTag" class="mb-0">
                        Deployed from <a href="https://github.com/chocolatey/chocolatey.org/commit/@commitId" title="View the commit.">@commitId.Substring(0, 10)</a>. You are on @worker. Page generated @DateTime.UtcNow.ToString("dd MMM yyyy HH:mm:ss") +00:00.
                    </p>
                </div>
            </div>
        </section>
    </footer>
    @RenderPage("_CookiePolicy.cshtml")

    @Bundles.RenderStylesheets("bottom")
    @Bundles.RenderScripts()

    @RenderSection("BottomScripts", required: false)

    <script language="javascript" type="text/javascript">
        ((window.gitter = {}).chat = {}).options = {
            room: 'chocolatey/chocolatey.org'
        };
    </script>

    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

    <script language="javascript" type="text/javascript">
        CookiesNotice.modal("chocolatey_hide_cookies_notice");
        if (!getCookie('chocolatey_hide_cookies_notice')) {
            $(".cookies-popup").css('display', 'block');
        }
    </script>
    <script>
        $(function () {
            $("#sortOrder,#prerelease,#moderatorQueue").change(function () {
                $(this).closest("form").submit();
            });
            Closeable.modal("chocolatey_hide_packages_disclaimer");
            if (!getCookie('chocolatey_hide_packages_disclaimer')) {
                $(".modal-closeable").css('display', 'block');
            }
        });
    </script>
</body>