@*When adding a new announcement, change the number on the end of the value to the next available. Example: 1 becomes 2, 2 becomes 3.*@
<input id="announcementCookie" value="chocolatey_announcement_0" type="hidden" />
@*When adding a new announcement, update the value number to the amount of new announcements added.*@
<input id="announcementCount" value="4" type="hidden" />

<div id="announcementCount"></div>
<div id="announcementCarousel" class="carousel slide carousel-fade information-carousel" data-ride="carousel" data-touch="true" data-interval="6000" style="height: auto;">
    <div class="carousel-inner px-3" style="height: auto;">
        <div class="carousel-item active">
            <div class="card bg-primary mb-0">
                <div class="card-body text-center">
                    <h3>Resources</h3>
                    <p>Watch videos, read documentation, and hear Chocolatey success stories from companies you trust.</p>
                    <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "home"})" class="btn btn-light">View Resources</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card bg-success text-white mb-0">
                <div class="card-body text-center">
                    <h3>Events</h3>
                    <p>Find past and upcoming webinars, workshops, and conferences. New events have recently been added!</p>
                    <a href="@Url.RouteUrl(RouteName.Events, new { eventName = "home" })" class="btn btn-light">View Events</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card bg-medium-dark mb-0">
                <div class="card-body text-center">
                    <h3>Courses</h3>
                    <p>Step-by-step guides for all things Chocolatey! Earn badges as you learn through interactive digital courses.</p>
                    <a href="@Url.RouteUrl(RouteName.Courses)" class="btn btn-light">View Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="shuffle">
    <div class="text-center">
        <a href="https://puppet.com/events/the-business-value-of-modernizing-your-windows-infrastructure/" rel="noreferrer" target="_blank">
            <img class="img-fluid mb-3" src="@Url.Content("~/content/images/events/01-04.jpg")" alt="The Business Value of Modernizing Your Windows Infrastructure and Bringing Linux & Windows Teams Closer" />
        </a>
        <p><strong>Tuesday, 22 September 2020<br />3 PM BST/GMT+1 / 4 PM CEST / 9 AM Central / 10 AM Eastern</strong></p>
        <p class="text-left">
            Standardising tool sets across different Teams is not always easy... especially when different Teams have traditionally used different approaches and methodologies.
            In this webinar we will unpack the advantages of a more standard, consistent approach with Puppet & Chocolatey.
        </p>
        <a href="https://puppet.com/events/the-business-value-of-modernizing-your-windows-infrastructure/" rel="noreferrer" target="_blank" class="btn btn-primary">Register Now</a>
        <hr />
    </div>
    <div class="text-center">
        <a href="@Url.RouteUrl(RouteName.Events, new { eventName= "chocolatey-deployments" })">
            <img class="img-fluid mb-3" src="@Url.Content("~/content/images/events/01-02.jpg")" alt="Webinar: Chocolatey Deployments - Easily Orchestrate Amazing Things!" />
        </a>
        <p><strong>Webinar Replay from<br />Tuesday, 23 June 2020</strong></p>
        <p class="text-left">Chocolatey Central Management now includes the premiere feature of managing endpoints through a Chocolatey-centered solution aka Deployments. We are excited to share what Deployments is all about!</p>
        <a href="@Url.RouteUrl(RouteName.Events, new { eventName= "chocolatey-deployments" })" class="btn btn-outline-primary">Learn More</a>
        <a href="https://chocolatey.zoom.us/webinar/register/WN_MPT5b34zQnud8R0nGgpe5A" rel="noreferrer" target="_blank" class="btn btn-primary">Watch Now</a>
        <hr />
    </div>
    <div class="text-center">
        <h3 class="mb-3"><a class="btn-link" href="@Url.RouteUrl(RouteName.Covid19)">COVID-19 Resources</a></h3>
        <p class="text-left">Chocolatey Software is working harder than ever to provide solutions and resources for our customers and community. We'll continue to add to this area so check back often.</p>
        <a href="@Url.RouteUrl(RouteName.Covid19)" class="btn btn-primary">Find Resources</a>
        <hr />
    </div>
    <div class="text-center">
        <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "features"})">
            <img class="img-fluid mb-3" src="@Url.Content("~/content/images/videos/04-01.jpg")" alt="Chocolatey for Business Feature Video Series" />
        </a>
        <p class="mb-3"><strong>Chocolatey for Business Feature Video Series</strong></p>
        <p class="text-left">
            In this video series, come take a tour of the many features available in our Chocolatey for Business offering.
            Many organizations choose Chocolatey for Business when they want to scale out their solution across thousands of nodes, deploy rapidly and reliably every time,
            mitigate risks with a greatly-simplified patching workflow, and access a Support Team that will guide you on your automation journey.
        </p>
        <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "features"})" class="btn btn-primary">Watch the Series</a>
        <hr />
    </div>
</div>