@{
    //ViewBag.Title = "Home";
    ViewBag.Tab = "Home";
}
<section class="featured">
    <div>
        <h1>Let's get Chocolatey!</h1>
        <p>Chocolatey NuGet is a Machine Package Manager, somewhat like apt-get, but built with Windows in mind.</p>
        <h2>Easy Install!</h2>
        <p style="vertical-align:bottom;font-size:18px">
            To install chocolatey now, open an <strong><em>administrative</em></strong> cmd.exe command prompt and paste the text from the box below and press enter (or click <input type="button" id="copyButton" class="copy-button" title="Copy To Clipboard" />).
            For <strong><em>administrative</em></strong> PowerShell copy the second box (<input type="button" id="copyButtonPS" class="copy-button" title="Copy To Clipboard" />) (Ensure Get-ExecutionPolicy is at least Bypass).
            If you need to install as a non-administrator or want more advanced options, see <span><a href="https://github.com/chocolatey/choco/wiki/Installation">Advanced</a></span>.
        </p>
    </div>
    <img src="@Url.Content("~/content/images/hero.png")" alt="Chocolatey install of Git (cinst git). Chocolatey benefits: 1. Sort of like yum or apt-get but for Windows; 2. Global silent installer; 3. Supports multiple package feeds, including private!; 4. Feeds can be local file/folder shares!; 5. NuGet Infrastructure + PowerShell Delivery" />
</section>
<div class="nuget-badge">
    <p>
        <code><span>C:\&gt;</span> @@powershell -NoProfile -ExecutionPolicy Bypass -Command "iex ((new-object net.webclient).DownloadString('https://chocolatey.org/install.ps1'))" &amp;&amp; SET PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin</code>
    </p>
    <p>
        <code><span>PS:\&gt;</span>iex ((new-object net.webclient).DownloadString('https://chocolatey.org/install.ps1'))</code>
    </p>
</div>

<section class="aggstats">
    <span class="stat">
        <span id="UniquePackages" class="num"></span> unique packages
    </span>
    <span class="stat">
        <span id="Downloads" class="num"></span>total downloads
    </span>
    <span class="stat">
        <span id="TotalPackages" class="num"></span>total packages
    </span>
</section>

<section class="release">
     <h2>Chocolatey v0.9.9 Released!</h2>
     <p>
         The latest version of Chocolatey uses the new choco.exe C# client. <strong>There are a few breaking changes you need to be aware of.</strong>
        If you are upgrading from an older version, take a moment to familiarize yourself with the <a href="https://github.com/chocolatey/choco/wiki/ReleaseNotes">release notes</a>.
        <em>chocolatey update (cup)</em> to get the latest version of chocolatey&nbsp;– <a href="https://github.com/chocolatey/choco/wiki/ReleaseNotes">More information?</a>
     </p>
</section>
<section class="info">
    <h3>About</h3>
    <p>When you use chocolatey to install applications/tools, nearly all you need to do is type one line and let it finish the rest! <a href="@Url.RouteUrl(RouteName.About)">Learn more</a>.
    Where did Chocolatey get it's name? What exactly is chocolatey anyway? Learn more on the <a href="https://github.com/chocolatey/choco/wiki">Wiki</a>!</p>

    <h3>Videos</h3>
    <p>Watch <a href="http://bit.ly/chocolateyVideo">Chocolatey in action.</a></p>

    <h3>Packages Missing? Want to contribute?</h3>
    <p>You can develop your own packages and share them via the Chocolatey Gallery. Read the documentation for more details on
    <a title="Creating and submitting a package" href="https://github.com/chocolatey/choco/wiki/CreatePackages">how to
    create and publish a package</a>.</p>

    <h3>Package Issues?</h3>
    <p>If you find something wrong with a package or the package is out of date and you would like it updated, please use the contact maintainers link on the package page. For follow up procedures, please see the <a title="Package Triage Process" href="https://github.com/chocolatey/choco/wiki/PackageTriageProcess">Package Triage Process</a>.</p>
</section>

@section BottomScripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/stats.js")"></script>
    <script type="text/javascript" >
        $(getStats);
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/ZeroClipboard.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            ZeroClipboard.setMoviePath('@Url.Content("~/Scripts/ZeroClipboard.swf")');
            var clip = new ZeroClipboard.Client();
            clip.setText('@@powershell -NoProfile -ExecutionPolicy Bypass -Command "iex ((new-object net.webclient).DownloadString(\'https://chocolatey.org/install.ps1\'))" && SET PATH=%PATH%;%ALLUSERSPROFILE%\\chocolatey\\bin');
            clip.setHandCursor(true);
            clip.glue('copyButton');

            var clipPS = new ZeroClipboard.Client();
            clipPS.setText('iex ((new-object net.webclient).DownloadString(\'https://chocolatey.org/install.ps1\'))');
            clipPS.setHandCursor(true);
            clipPS.glue('copyButtonPS');

            $(window).resize(function () {
                clip.reposition();
                clipPS.reposition();
            });
        });
    </script>

@*
    <script type="text/javascript">        var switchTo5x = true;</script>

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>

    <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

    <script type="text/javascript">
        var st_options = { "publisher": "ur-c2abd95b-4a79-34b2-10fc-622d72ca1889", "position": "right", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0 }, "chicklets": { "items": ["twitter", "linkedin", "instapaper", "delicious", "email", "sharethis"]}, "doNotHash": true, "doNotCopy": true, "hashAddressBar": false, "return": "" };
        var st_hover_widget = new sharethis.widgets.hoverbuttons(st_options);
    </script>
*@
}
