@{
  ViewBag.Title = "Kickstarter";
}
<section>
  <div class="container-wide p-t--l p-b--l kickstarter">
    <h1 class="text-center m-b">Kickstarter</h1>

    <p>
      In October 2014, we ran a highly successful <a href="https://www.kickstarter.com/projects/ferventcoder/chocolatey-the-alternative-windows-store-like-yum/description">Kickstarter campaign</a> to put the things in place for a viable future for Chocolatey for the next 20+ years!</p>
    <ul>
      <li>At the time the community repository had just over 5 million downloads of software/packages and 2,000+ unique packages. Compare that to just two years later at 60+ million downloads and over 4,000 unique packages!</li>
      <li>The team was attempting to raise at least $40,000.</li>
      <li>The Kickstarter campaign ran for 32 days.</li>
      <li>The campaign funded successfully with 3 days left in the campaign.</li>
      <li>We received backing from 1,044 folks and organizations totalling $51,071 (127% of goal)!</li>
      <li>This makes Chocolatey one of the first and few successful Kickstarters in the Microsoft .NET ecosystem.</li>
    </ul>
      
    <p>As a community, you told us you wanted us Chocolatey to stick around for the foreseeable future as much as we did and were willing to step up and make a difference. If you benefit from Chocolatey today, it is due in part to the amazing folks and organizations that stepped up and said "Yes!" Be sure to thank a backer if you happen to meet them!</p>    
    
    <p class="message quote">"If you were a backer at any level, thank you! Without your support, Chocolatey would have struggled to achieve what we've achieved together. Where we are today is a reflection of decisions we made yesterday. What you've enabled us to do has been awesome!" <br />-Rob Reynolds, CEO and Founder of Chocolatey</p>
  </div>
</section>
<div class="bg-two p-t--l p-b--l">
  <section class="clearfix p-l p-r p-t--l p-b--l container-wide">
    <h2 class="text-center m-b">Awesome Backers</h2>
    <p>Backers at this level supported Chocolatey with at least a $750 donation. These organizations are amazing and support automation on Windows and Chocolatey at the highest level! When you are looking for the best organizations to support, keep these organizations in mind.</p>
    
    <h3 class="text-center m-b text-underline">$1,200 Level</h3>
    <ul class="kickstarter-logos">
      <li><a href="https://puppet.com" title="Puppet, Inc"><img height="170px" src="@Url.Content("~/content/images/kickstarter/Puppet.png")" alt="Logo for Puppet, Inc" /></a></li>
    </ul>
   
    <h3 class="text-center m-b m-t text-underline">$999 Level</h3>
    <ul class="kickstarter-logos">
      <li><a href="https://chef.io" title="Chef Software, Inc"><img height="220px" src="@Url.Content("~/content/images/kickstarter/Chef.png")" alt="Logo for Chef Software, Inc" /></a></li>
      <li><a href="https://www.elastic.co" title="Elasticsearch BV"><img height="160px" src="@Url.Content("~/content/images/kickstarter/Elastic.png")" alt="Logo for Elastic"/></a></li>
      <li><a href="https://www.seek.com.au/" title="SEEK - Australia's number one jobs site"><img height="175px" src="@Url.Content("~/content/images/kickstarter/SEEK.png")" alt="Logo for SEEK" /></a></li>
    </ul>
   
    <h3 class="text-center m-b m-t text-underline">$750 Level</h3>
    <ul class="kickstarter-logos">
      <li><a href="https://www.ise.com/" title="Integrated Securities Exchange Holdings, Inc"><img height="100px" src="@Url.Content("~/content/images/kickstarter/ISE.png")" alt="Logo for Integrated Securities Exchange Holdings, Inc"/></a></li>
      <li><a href="https://www.myget.org/" title="MyGet Ltd"><img height="100px" src="@Url.Content("~/content/images/kickstarter/MyGet.png")" alt="Logo for MyGet" /></a></li>
      <li><a href="https://octopus.com/" title="Octopus Deploy"><img height="100px" src="@Url.Content("~/content/images/kickstarter/OctopusDeploy.png")" alt="Logo for Octopus Deploy" /></a></li>
      <li><a href="http://inedo.com/proget?utm_source=choco&utm_medium=txt&utm_campaign=chocospon" title="ProGet is from Inedo Software, Inc"><img height="60px" src="@Url.Content("~/content/images/kickstarter/ProGet.png")" alt="Logo for ProGet" /></a></li>
      <li><a href="https://www.sharebylink.com/" title="ShareByLink.com Open-Source File Sharing"><img height="100px" src="@Url.Content("~/content/images/kickstarter/ShareByLink.png")" alt="Logo for ShareByLink" /> <br /><span>ShareByLink</span></a></li>
      <li><a href="https://velocity.silverlakesoftware.com" title="Velocity by Silverlake Software LLC"><img height="100px" src="@Url.Content("~/content/images/kickstarter/Velocity.png")" alt="Logo for Velocity" /></a></li>
    </ul>
  </section>
</div>
<div class="bg-three p-t--l p-b--l kickstarter">
  <section class="clearfix p-l p-r p-t--l p-b--l container-wide">
    <h2 class="text-center m-b">Why did we do a Kickstarter?</h2>
    
    <p>The following were the original stated goals of the <a href="https://www.kickstarter.com/projects/ferventcoder/chocolatey-the-alternative-windows-store-like-yum/description">Kickstarter</a>:</p>
    <ul>
      <li>To <span style="font-weight: bold;">invest in non-free features</span> we believe bring more stability, safety, and security to Chocolatey.</li>
      <li>To <span style="font-weight: bold;">support improvements to the infrastructure</span>. We currently spend under $1K/month (this was in 2014, it has more than doubled as of 2016) and see a need to more than double that to support a staging environment, a build/test infrastructure, and load balancing needs as Chocolatey continues to increase steadily in popularity. Right now the costs are paid by me and the tremendous generosity of others, including <a href="https://appharbor.com">AppHarbor</a>. We believe there is a crucial need for Chocolatey to become self-sustaining to reduce unforeseen risks.</li>
      <li>To <span style="font-weight: bold;">give the Chocolatey team more freedom</span> to concentrate on Chocolatey so we can get these features to you faster.</li>
    </ul>

    <h2 class="text-center m-b m-t">Other Backers</h2>
    <p>With over 1,000 backers in October/November 2014, these were a percentage of the early adopters of Chocolatey! If we were to run a Kickstarter campaign now, based on the popularity of the site today, we believe we would have had over 10,000 backers!</p>
    <p>Checkout the full list at <a href="https://www.kickstarter.com/projects/ferventcoder/chocolatey-the-alternative-windows-store-like-yum/community">https://www.kickstarter.com/projects/ferventcoder/chocolatey-the-alternative-windows-store-like-yum/community</a>.</p>
  </section>
</div>
