@model MarkdownPostViewModel
@{
  ViewBag.Title = Model.Title;

  //css
  //Bundles.Reference("Content/highlight/solarized-dark.css", "bottom");
  Bundles.Reference("Content/highlight/vs.css", "bottom");
  //js
  Bundles.Reference("Scripts/highlight");
    
}

@section ExtraHeaders {  
  <link rel="canonical" href="https://chocolatey.org/blog/@Model.UrlPath" />
 @* @if (!string.IsNullOrWhiteSpace(Model.Keywords))
  {
  <meta property="og:keywords" content="@Model.Keywords"/>
  <meta property="keywords" content="@Model.Keywords"/>    
  }*@
  @if (!string.IsNullOrWhiteSpace(Model.Summary))
  {
  <meta property="og:description" content="@Model.Summary" />
  <meta property="description" content="@Model.Summary" />
  }
}

<div class="p-b p-l p-r">
  <h2>@Model.Title</h2>
  <h5>@Model.Author, @Model.Published.GetValueOrDefault().ToLongDateString()</h5>
  <section class="post">
      @Html.Raw(Model.Post)  
  </section>
  
</div>
<div class="bg-two p-t p-b">
  <section class="clearfix p-l p-r p-t p-b">
    Return to <a href="@Url.RouteUrl(RouteName.BlogHome)">Posts</a>
  </section>
</div>
<div class="bg-three p-t p-b">
    <section class="clearfix p-l p-r p-t p-b post">
        @{
            // var disqusUrl = "http://" + Request.Url.Host + @Url.Package(Model.Id);
            var disqusShortname = System.Configuration.ConfigurationManager.AppSettings["DisqusShortname"];
        }
        <a name="comments"></a>
        <div id="disqus_thread">
        </div>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
</div>
@section BottomScripts {

  <script type="text/javascript" language="javascript">
      var disqus_shortname = '@disqusShortname';

      (function () {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>

    <script type="text/javascript" language="javascript">
        window.onload = function () {
            // remove leading linebreaks from code blocks.
            var pre = document.getElementsByTagName("code");
            for (var i = 0, len = pre.length; i < len; i++) {
                var text = pre[i].firstChild.nodeValue;
                pre[i].firstChild.nodeValue = text.replace(/^\n+|\n+$/g, "");
            }
        }
        hljs.initHighlightingOnLoad();
    </script>

}
