@{
  ViewBag.Title = "Pricing";
  //css
  //Bundles.Reference("Content/pricing.css");
  //Bundles.Reference("Content/pricing-mega-v1.css");
}
<section>
  <div class="container-wide p-b--l">
    <a name="editions"></a>
    <h1 class="text-center">Editions</h1>
  
    <table class="m-b--l pricing-table">
      <thead>
        <th>Open Source</th>
        <th>Pro (Personal)</th>
        <th>Business (C4B)</th>
      </thead>
      <tbody>
        <tr>
          <td>For everyone</td>
          <td><strong>Personal, Named License for Individuals</strong> (not for organizational use)</td>
          <td><strong>For Organizations</strong> - Chocolatey for Business (C4B)</td>
        </tr> 
        <tr>
          <td>Free - No limit on machines</td>
          <td>$96 / year - Up to 8 of your own personal machines</td>
          <td>
            <ul class="docs p-l text-left">
              <li>Starter Pack (1-35 machines) - $600 / year</li>
              <li>Small (40-499) - $16 per license (retail)</li>
              <li>Medium (500+) - $15.60 / license</li>
              <li>Large (2,000+) - $15 / license</li>
              <li>Enterprise (10,000+) - $14.50 / license</li>
              <li>More on license counts, volume discounts, and special pricing in <a href="#faq">FAQs</a> below</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            Contribute:<br />
            <a href="https://www.gratipay.com/Chocolatey/"><img alt="gratipay shield" src="https://img.shields.io/gratipay/Chocolatey.svg" /></a><br />
          </td>
          <td>
            <a href='https://www.bluesnap.com/jsp/buynow.jsp?contractId=3284622' title='Secure Online Payments by BlueSnap'><img src='https://www.bluesnap.com/images/BuyNowBtns/b_order_s_icons.png' alt='Secure Online Payments and Credit Card Processing by BlueSnap' border='0' /></a>
          </td>
          <td>
            <ul>
              <li><a href="@Url.RouteUrl(RouteName.ContactUs)">Contact us for a demo/trial, special pricing, or more information</a></li>
            </ul>
            OR:<br />
            <a href='https://www.bluesnap.com/jsp/buynow.jsp?contractId=3284618' title='Secure Online Payments by BlueSnap'><img src='https://www.bluesnap.com/images/BuyNowBtns/b_order_s_icons.png' alt='Secure Online Payments and Credit Card Processing by BlueSnap' border='0' /></a>
          </td>
        </tr>
        <tr>
          <td colspan="3"><h2><a onclick="$('#div-compare').removeClass('hide')">Compare Editions</a></h2></td>
        </tr>
      </tbody>
    </table>
  </div>
  
   <a name="compare"></a>
  <div class="container-wide p-b--l hide" id="div-compare">
    <h1 class="text-center">Compare</h1>
  
    <table class="m-b--l compare-table">
      <thead>
        <th>&nbsp;</th>
        <th>Open Source</th>
        <th>Pro</th>
        <th>Business (C4B)</th>
      </thead>
      <tbody>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-host-feed" })">Host Your Own Package Repository</a> - Chocolatey supports <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-sources" })">multiple package sources</a> including your own internal (private and/or authenticated) feeds!</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-infrastructure-automation" })">Infrastructure Automation Integration</a> - Chocolatey works with all infrastructure management and RMM tools!</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-upgrade" })">Upgrade all software with one command</a> - it's like Windows Update, but for all your internal and 3rd party software!</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr> 
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "create-packages" })">Create Packages</a> / <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-create-custom-package-templates" })">Customize Packaging Templates</a></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr> 
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-reference" })">30+ built-in PowerShell functions</a> - turns complex software management tasks into one line function calls!</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr> 
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-create-extensions" })">PowerShell Extensions</a> - Extend Chocolatey with your own functions!</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <!-- reliability, security, -->
        <tr>
          <td>Enhanced functionality, additional PowerShell functions - giving you more control, reliability, smoother usage, and covering more scenarios that make sense for organizations!</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
         <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-automatically-recompile-packages" })">Package Internalizer</a> - automatic offline/internalization and recompile support removes internet access from existing packages!</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
        </tr> 
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-create-packages-from-installers" })">Package Builder</a> - Detect and create full software deployments in 5-10 seconds!</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
        </tr> 
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-create-packages-from-installers" })">Generate from Programs and Features</a> - create packages for all current installs in under 60 seconds?!</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
        </tr> 
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-agent-service" })">Background Mode / Self-Service Installer</a> - Chocolatey as a background service so admins and non-admins alike can manage software!</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-agent-service" })">Central Console Management UI</a> - Reporting and management of software for your entire organization from one location!</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>(est Q2 2017 around June 2017 for first availability)</td>
        </tr>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-create-packages-from-installers" })">Package Builder UI</a> - A visual interface to create packages!</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-synchronize" })">Package Synchronizer - Automatic Sync</a> - keep installed packages synced up with software they are tracking when upgrades and uninstalls are performed outside of Chocolatey!</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-synchronize" })#sync-command">Package Synchronizer - Sync Command</a> - create packages out of Programs and Features and bring existing software installations under Chocolatey management!</td>
          <td>&nbsp;</td>
          <td>(est Q3 2017, search in sources for existing packages only)</td>
          <td><span class="text-green icon-check"></span></td>
        </tr>    
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-install-directory-override" })">Install Directory Override</a> - one switch for all installers!</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-private-cdn" })">Private CDN Cache</a> - no more 404s!</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-virus-check" })">Runtime Malware/Virus Protection</a> - stay protected!</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr> 
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "commands-download" })">Package Downloader</a> - download existing packages with an easy command!</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>       
        <tr>
          <td>Priorization of Bugs and Features</td>
          <td>&nbsp;</td>
          <td><span class="text-green icon-check"></span></td>
          <td><span class="text-green icon-check"></span></td>
        </tr>      
        <tr>
          <td>Packaging Support Services - You upload your troublesome installers, we provide you fully automated packages</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>Add-on at any time</td>
        </tr>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "community-packages-disclaimer" })">Support for Community Packages</a></td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>        
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Support)">Email Support</a></td>
          <td>&nbsp;</td>
          <td>4 incidents</td>
          <td><span class="text-green icon-check"></span></td>
        </tr>
        <tr>
          <td><a href="@Url.RouteUrl(RouteName.Support)">Phone Support</a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>Available add-on w/Premium Support</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
            Contribute:<br />
            <a href="https://www.gratipay.com/Chocolatey/"><img alt="gratipay shield" src="https://img.shields.io/gratipay/Chocolatey.svg" /></a><br />
          </td>
          <td>
            <a href='https://www.bluesnap.com/jsp/buynow.jsp?contractId=3284622' title='Secure Online Payments by BlueSnap'><img src='https://www.bluesnap.com/images/BuyNowBtns/b_order_s_icons.png' alt='Secure Online Payments and Credit Card Processing by BlueSnap' border='0' /></a>
          </td>
          <td>
            <ul>
              <li><a href="@Url.RouteUrl(RouteName.ContactUs)">Contact us for a demo, special pricing, or more information</a></li>
            </ul>
            OR:<br />
            <a href='https://www.bluesnap.com/jsp/buynow.jsp?contractId=3284618' title='Secure Online Payments by BlueSnap'><img src='https://www.bluesnap.com/images/BuyNowBtns/b_order_s_icons.png' alt='Secure Online Payments and Credit Card Processing by BlueSnap' border='0' /></a>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan="3">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
 </section>

<div class="bg-two p-t--l p-b--l">
  <section class="clearfix p-l p-r p-t--l p-b--l container-wide">
    <a name="faq"></a>
    <h1>FAQ</h1>
    <a name="faq-features"></a>
    <h2>Features</h2>
    
    <h3>Explain the difference between open source and Chocolatey for Business (C4B) in a couple of sentences. Go!</h3>
    <p>Open source Chocolatey is strictly about package management. C4B takes that to the next level with complete software management. We are moving C4B to a complete batteries included approach with our upcoming central management web interface (Chocolatey Central Console).</p>

    <h3>What features do I get in Pro? In Chocolatey for Business (C4B)?</h3>
    <p>See <a href="#compare" onclick="$('#div-compare').removeClass('hide')">the comparison table.</a></p>
    
    <h3>That's a LOT of features! Are there any upcoming features?</h3>
    <p>Please see <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "road-map" })">our roadmap</a> (however, we do keep some upcoming features secret).<br />
    <strong>NOTE:</strong> Upcoming features could be changed, reprioritized and/or removed without notice.</p>
    
    <a name="faq-licensing"></a>
    <h2>Licensing</h2>
    
    <h3>Do I install Chocolatey on every machine where I manage software?</h3>
    <p>Yes, Chocolatey has a local client install on every machine where you will manage software with Chocolatey.</p>

    <h3>What Counts As a License?</h3>
    <p>We try to keep licensing very simple. Every machine that has or will have Chocolatey installed is part of the license count, whether that is for building packages, taking advantage of runtime features, or receiving packages built with Package Builder / Package Internalizer. Those machines can be physical, virtual, in the cloud, or in test environments. It does not matter if you deploy the license to these machines, they are still part of the count for licensing costs. An organization that needs to temporarily go over a license count while you bring up a server before destroying another does not incur a penalty as long as they are back in limits within 24 hours and the average count of licenses is below the threshold.</p>
    
    <p><strong>Note</strong>: Chocolatey Architect edition is the only exception, where the package you build are deployed to machines in external organizations that your organization has no control over (Chocolatey Architect Edition will be listed with pricing soon).</p>
 
    <h3>Tell Me More</h3>
    <p>
        Pro is for individuals (like <em><strong>you</strong></em>) that want the ultimate Chocolatey experience! Pro is a personal, named license that grants having licensed versions of Chocolatey on up to 8 machines for $8/month (about the price of a single lunch outing). You can use Chocolatey Pro at work provided you do not go over the 8 machine limit and are not using it for organizational use.
        <br />
        <br />
        When you purchase a Pro license, you are supporting the community - your money goes towards infrastructure costs/improvements surrounding the community repository!
    </p>

    <p>Business editions are for organizations and enterprises that need a complete software management lifecycle solution and want to really get a handle on the chaos.</p>
    <p>Architect editions are for devops consulting organizations, where software is being deployed to machines the organization does not own.</p>
    <p>All licensed versions build on top of the already great features that are available in the FOSS version. When you need more features and better integration with Windows systems, Pro, C4B, and Architect editions have you covered.</p>

    <h3>How long does it take to get my licenses?</h3>
    <p>Once we have received your order successfully, you will receive your licenses within 1-3 business days.</p>
    
    <h3>We're an organization, can we deploy Chocolatey Pro?</h3>
    <p>It is a violation of the Pro licensing to use it in an organizational context. We try to keep our offerings simple - Chocolatey for Business is what we offer for organizational use.</p>
    
    <h3>Do you have Perpetual Licensing available?</h3>
    <p>Yes, we have that option for the Business edition! Please <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us</a> for details.</p>
    
    <a name="faq-pricing"></a>
    <h2>Pricing</h2>
    <h3>How does pricing work with the Business edition?</h3>
    <p>We are excited to offer the following Business editions at a cost to you of around $16 per license annually, depending on volume. Retail costs:</p>
    <ul class="m-b p--s p-l--l docs">
      <li>Starter Pack - $600 covers you for 1-35 licenses</li>
      <li>Small - $16 / license / annually</li>
      <li>Medium - 500+ licenses - $15.60 / license</li>
      <li>Large - 2,000+ licenses - $15 / license</li>
      <li>Enterprise - over 10,000 licenses - $14.50 / license - <a href="@Url.RouteUrl(RouteName.ContactUs)">Contact us</a> for details</li>
    </ul>
    
    <h3>Do you have special pricing available?</h3>
    <p>We do - <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us</a> for details.</p>
    
    <h3>We are a non-profit/education/government institution. What special pricing do you have available?</h3>
    <p>Depending on volume, we have varying levels of special discounts available. <a href="@Url.RouteUrl(RouteName.ContactUs)">Contact us</a> for details.</p>
    
    <h3>We don't have budget this year - can you help us out on pricing?</h3>
    <p>We can to a degree. If you can come within 60-90% of the pricing above, <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us</a>.</p>

    <h3>We use ____ for configuration management. Does that qualify us for discounts?</h3>
    <p>We do have special discounts based on agreements with other organizations. <a href="@Url.RouteUrl(RouteName.ContactUs)">Contact us</a> for details.</p>
  
    <h3>My organization only has 20 machines. Do I really have to buy the full Starter Pack for $600? It seems like a waste if I don't get to use it for 35 machines</h3>
    <p>For smaller organizations, the value of Package Builder alone is over $5,000 per year (based on an ops engineer manually deploying 15 applications per month to 20 machines), however you get to take advantage of it (and all of the other features) for only $600! We have a minimum purchase required which allows you to take advantage of awesome features and you get access to support!</p>

    <h3>I have one machine I will use with Package Builder / Package Internalizer. How many licenses do I need?</h3>
    <p>See the license counts answer above. The answer is everywhere you have Chocolatey installed counts in licensing. Every machine where you will deploy those packages to, plus where you are running Package Builder / Package Internalizer.</p>
    
    <h3>Can I just buy Package Builder? Package Internalizer?</h3>
    <p>In short, you can purchase C4B to get Package Builder. We try to keep things very simple and use common sense as far as costs go. You purchase our C4B offering for the number of appropriate licenses (see licensing FAQs above) and that will get you Package Builder.</p>

    <h3>How are license counts kept track of?</h3>
    <p>It's an honor system. Most organizations have departments that handle license inventories. Instead of building some sort of DRM, we decided to focus on features to make Chocolatey better for you!</p>
    
    <h3>Can I temporarily go over my license count without cost?</h3>
    <p>Sure - our policy is that on average over the span of a week, you will be within the licensing counts.</p>
    
    <h3>I want to purchase Pro for my personal use, but I have 10 devices. Do I need to buy 2 licenses?</h3>
    <p>No, just one license is required.</p>
    
    <a name="faq-purchasing"></a>
    <h2>Purchasing</h2>

    <h3>Can I get a quote?</h3>
    <p>Absolutely, <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us for an official quotation</a> (organizational purchases only).</p>
    
    <h3>Can I get a trial?</h3>
    <p>We offer trials for the Business edition. Please <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us to get that started</a>.</p>
    
    <h3>I need an invoice after purchase.</h3>
    <p>We can hook you up.</p>
    
    <h3>Do you accept purchase orders?</h3>
    <p>Yes, we do for organizational purchases</p>    
    
    <h3>Can I pay by Credit Card, ACH, Wire transfer, check, etc?</h3>
    <p>For organizations, we support many payment methods. Please <a href="@Url.RouteUrl(RouteName.ContactUs)">contact sales</a> or reach out over phone/email.</p>
    
    <h3>What are your payment terms?</h3>
    <p>We default to NET 30 from the date the invoice is sent, but we can work with your organization if you require longer payment terms.</p>
    
    <h3>Are you a US-based business?</h3>
    <p>Yes, we are a Delaware C-Corporation.</p>
    
    <h3>I am purchasing C4B. I need your W-9.</h3>
    <p>Of course you do. When we get to the purchasing aspect, we can provide that.</p>
    
    <h3>Can I purchase perpetual?</h3>
    <p>Yes - please <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us</a> for details.</p>
    
    <h3>Can I purchase multi-year?</h3>
    <p>Yes you can.</p>

    <h3>We'd like to do ___ regarding purchasing. Can you support that?</h3>
    <p>Most likely, <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us with questions</a>.</p>
    
    <h3>I need to work through a reseller. Is that possible?</h3>
    <p>Absolutely. Have the reseller <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us</a> so we can get everything set up.</p>

    <h3>I have a client that is interested or ready to purchase Chocolatey for Business. What are my options?</h3>
    <p>Review our <a href="@Url.RouteUrl(RouteName.Partner)">Chocolatey Partner Ecosystem</a> page, then <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us</a> (select "Partnership Opportunities") so we can provide you with the most up to date options.</p>
    
    <h3>What is the refund policy?</h3>
    <p>For Pro, we provide a full refund the first 30 days. If you are an organization that purchases a starter pack without a trial, you are also granted a 30 day period. Please note we provide business trials so you can know it is right for your organization prior to an annual commitment.</p>
    
    <h3>How do renewals work?</h3>
    <p>Typically you would purchase again using the same method as you used previously. The expire date for the new license will take the old expiration date into account.</p>
  
    <a name="faq-support"></a>
    <h2>Support</h2>

    <h3>How does support work?</h3>
    <p>See our <a href="@Url.RouteUrl(RouteName.Support)">support page</a> for details.</p>
    
    <h3>What levels of support do you offer?</h3>
    <p>Please see our <a href="@Url.RouteUrl(RouteName.Support)">support page</a> for details. 
     <ul class="m-b p--s p-l--l docs">
      <li>Pro - included automatically for Professional customers</li>
      <li>Business Standard - included automatically for all organizational customers</li>
      <li>Business Standard+ - included automatically for all organizational customers with 100 licenses or more</li>
      <li>Business Premium - available for larger organizational customers at an additional cost</li>
    </ul>
    </p>
    
    <h3>Do you have 24/7 support available?</h3>
    <p>We do for premium customers. Please see the <a href="@Url.RouteUrl(RouteName.Support)">support page</a> for details.</p>

    <h3>How do I get support for a package?</h3>
    <p>We do not have support for packages found on Chocolatey.org - those are considered community packages and should not be used for commercial purposes. Package issues should follow the package triage proces. <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "community-packages-disclaimer" })">Read more...</a></p>
    <p>If you need support with packaging a piece of software and you are a business customer, please <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us</a>.</p>
    
    <a name="faq-architect"></a>
    <h2>DevOps Consultant / Contract-Organizations</h2>
    
    <h3>I'm an organization that provides CI / CD / DevOps services to external organizations/customers. What should I choose?</h3>
    <p>You are likely going to be most interested in Chocolatey Architect Edition, which has all of the fantastic packaging and build time features, but does not carry a runtime count as part of the licensing costs. That allows packages to be deployed to environments that your organization doesn't control, whether to environments that have Chocolatey open source or licensed.</p>
    
    <h3>What is the difference between Business and Architect?</h3>
    <p>Architect edition is for creating packages for external organizations or customers. Business edition is when those packages are being deployed to environments in your organization.</p>
    
    <h3>As an organization that is using Chocolatey, should I get Business or Architect?</h3>
    <p>If your organization owns/controls the environments, you should purchase Chocolatey for Business. It is a violation of licensing to deploy packages built by Architect edition into your environments, except for testing before providing those packages to your external customers.</p>

    <a name="faq-msp"></a>
    <h2>Managed Service Providers</h2>
   
    <h3>I'm an MSP. Is there an edition for managed service providers?</h3>
    <p>Yes, there is!</p>

    <h3>What is the difference between the MSP and Business editions?</h3>
    <ul class="m-b p--s p-l--l docs">
      <li>Features - The Business edition has features for managing and controlling the entire software management lifecycle. The MSP edition only has a subset of the features including synchronize and the directory switch.</li>
      <li>Support - Support in the MSP edition is limited to 4 support incidents annually, where Business editions come with standard support.</li>
      <li>Pricing - The pricing for Business editions are around $1.30 per license per month (price drops based on volume) where the MSP edition is priced at $0.50 per license per month.</li>
    </ul>

    <h3>How is the MSP Edition Priced?</h3>
    <p>The pricing for Chocolatey MSP Edition is competitively priced at $0.50 per license per month with features that service providers are looking to provide for their constituents. These are purchased in packs of 100. If you need 2,000 licenses, select Order Now and set the quantity to 20. Then update the total. Once everything looks good, continue with your order.</p>
    
    <h3>We Are Not a Managed Service Provider, Can We Purchase the MSP Edition?</h3>
    <p>The MSP edition requires verification. Please <a href="@Url.RouteUrl(RouteName.ContactUs)">contact us</a> to see if there are options we can work out with you regarding the Business edition.</p>

    <h3>How does support work for the MSP Edition?</h3>
    <p>You are limited to 4 support incidents annually. If an incident is found to be a bug with Chocolatey, it will not count towards your incident count.</p>
    
    <h3>We are an MSP, can we purchase the Business Edition for the better features and support?</h3>
    <p>Absolutely, <a href="@Url.RouteUrl(RouteName.ContactUs)">contact sales</a> for more details.</p>
    
    
    <a name="faq-general"></a>
    <h2>General</h2>

    <h3>I'm an organization ordering licenses for my development staff, any recommendations?</h3>
    <p>While you can purchase Pro licenses for each of your developers, we recommend you take a look at the Starter pack edition of the Business license. It is going to give you the best option at only $600 per year for up to 35 machines.</p>
    
    <h3>Will Package Builder / Package Internalizer / Package Synchronizer ever be in open source?</h3>
    <p>Unfortunately, they will not be. While some features we create do have a planned trickle down to FOSS, certain features are unlikely to ever be freely available. Chocolatey's ecosystem has significant costs to run and to ensure longevity of Chocolatey not all features can be offered for free.</p>
    
    <h3>Will Package Builder be offered in Pro?</h3>
    <p>Unfortunately we look at some features and determine where they go based on feasibility for a person versus an organization. If a feature makes sense in an organizational context only, that's where it ends up. Package Builder is great for rapidly building packages, which is something organizations highly need.</p>

    <h3>Is the open source license business friendly?</h3>
    <p>Yes, it is. Chocolatey carries a FOSS Apache 2.0 license, which is business friendly. You can use Chocolatey and most of its infrastructure without cost. However the Business edition offers better features and support that far outweigh any initial expenses! Given the Business features supporting package creation and maintenance alone, the time-savings is far greater than the cost!</p>
   
 </section>
</div>


  @* <!-- Pricing Mega v1 -->
    <div class="row no-space-pricing pricing-mega-v1">
      <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
        <div class="pricing hidden-area">
          <div class="pricing-head ">
            <h4 class="price">Monthly Price</h4>
          </div>
          <ul  class="pricing-content list-unstyled">
          <li>
            <i class="fa fa-users"></i>Pricing Details
          </li>
          <ul  class="pricing-content list-unstyled">
            <li class="bg-color">
              <i class="fa fa-users"></i>Advance Payment
            </li>
            <li>
              <i class="fa fa-cloud-upload"></i>Diskspace
            </li>
            <li class="bg-color">
              <i class="fa fa-briefcase"></i>Subdomains
            </li>
            <li>
              <i class="fa fa-envelope"></i>Email Addresses
            </li>
            <li class="bg-color">
              <i class="fa fa-inbox"></i> MySQL Databases
            </li>
            <li>
              <i class="fa fa-gift"></i>Google AdWords Credits
            </li>
            <li class="bg-color">
              <i class="fa fa-leaf"></i>Remote Desktop Widge
            </li>
            <li>
              <i class="fa fa-location-arrow"></i>Message from Users List
            </li>
            <li class="bg-color">
              <i class="fa fa-globe"></i>Google Adwords Voucher
            </li>
            <li>
              <i class="fa fa-dashboard"></i>Scheduled Lock Screen
            </li>
            <li class="bg-color">
              <i class="fa fa-wrench"></i>Customisable Toolbar
            </li>
            <li>
              <i class="fa fa-cogs"></i>Ports Controls
            </li>
            <li class="bg-color">
              <i class="fa fa-gavel"></i>Premium DNS
            </li>
            <li>
              <i class="fa fa-umbrella"></i>SSL Certificate
            </li>
            <li class="bg-color">
              <i class="fa fa-phone"></i>Worldwide Phone Support
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 block">
        <div class="pricing">
          <div class="pricing-head">
            <h3>
              FOSS<span>yeah</span>
            </h3>
            <h4 class="price">
              <i>$</i>0<i></i>
              <span class="hidden-md hidden-lg">Per Month</span>
            </h4>
          </div>
          <ul class="pricing-content list-unstyled ">
            <li>
              <span class="hidden-md hidden-lg">Detailed Pricing</span>
            </li>
            <li class="bg-color">
              <span class="hidden-md hidden-lg">Credit Card Requirement</span>
            </li>
            <li>
              5 GB<span class="hidden-md hidden-lg">Diskspace</span>
            </li>
            <li class="bg-color">
              10<span class="hidden-md hidden-lg">Subdomains</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Email Addresses</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg"> MySQL Databases</span>
            </li>
            <li>
              $50<span class="hidden-md hidden-lg">Google AdWords Credits</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Message from Users List</span>
            </li>
            <li class="bg-color">
              $25<span class="hidden-md hidden-lg">Google Adwords Voucher</span>
            </li>
            <li>
              <i class="fa fa-times"></i>
              <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-times">
              </i><span class="hidden-md hidden-lg">Customisable Toolbar</span>
            </li>
            <li>
              <i class="fa fa-times"></i>
              <span class="hidden-md hidden-lg">Ports Controls</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-times"></i>
              <span class="hidden-md hidden-lg">Premium DNS</span>
            </li>
            <li>
              <i class="fa fa-times"></i>
              <span class="hidden-md hidden-lg">SSL Certificate</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
            </li>
          </ul>
          <div class="btn-group btn-group-justified">
            <button type="button" class="btn-u btn-block dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-shopping-cart"></i>
              Sign Up
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">14 day Free Trial </a></li>
              <li><a href="#">$ 9.48 One Month</a></li>
              <li><a href="#">$ 50.00 Six Month</a></li>
              <li><a href="#">$ 99.99 One Year</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 block">
        <div class="pricing">
          <div class="pricing-head">
            <h3>
              Pro <span>Officia deserunt mollitia</span>
            </h3>
            <h4 class="price">
              <i>$</i>8<i>.00</i>
              <span class="hidden-md hidden-lg">Per Month</span>
            </h4>
          </div>
          <ul class="pricing-content list-unstyled ">
            <li>
              <span class="hidden-md hidden-lg">Detailed Pricing</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-times"></i>
              <span class="hidden-md hidden-lg">Credit Card Requirement</span>
            </li>
            <li>
              15 GB<span class="hidden-md hidden-lg">Diskspace</span>
            </li>
            <li class="bg-color">
              50<span class="hidden-md hidden-lg">Subdomains</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Email Addresses</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg"> MySQL Databases</span>
            </li>
            <li>
              $100<span class="hidden-md hidden-lg">Google AdWords Credits</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
            </li>
            <li>
              <i class="fa fa-check">
              </i><span class="hidden-md hidden-lg">Message from Users List</span>
            </li>
            <li class="bg-color">
              $75<span class="hidden-md hidden-lg">Google Adwords Voucher</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Customisable Toolbar</span>
            </li>
            <li>
              <i class="fa fa-times"></i>
              <span class="hidden-md hidden-lg">Ports Controls</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-times">
              </i><span class="hidden-md hidden-lg">Premium DNS</span>
            </li>
            <li>
              <i class="fa fa-times"></i>
              <span class="hidden-md hidden-lg">SSL Certificate</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
            </li>
          </ul>
          <div class="btn-group btn-group-justified">
            <button type="button" class="btn-u btn-block dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-shopping-cart"></i>
              Sign Up
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">14 Day Free Trial </a></li>
              <li><a href="#">$ 29.95 One Month</a></li>
              <li><a href="#">$ 99.00 Six Month</a></li>
              <li><a href="#">$ 180.99 One Year</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 block">
        <div class="pricing">
          <div class="pricing-head">
            <h3>
              Business <span>Officia deserunt mollitia</span>
            </h3>
            <h4 class="price">
              <i>$</i>50<i>+</i>
              <span class="hidden-md hidden-lg">Per Month</span>
            </h4>
          </div>
          <ul class="pricing-content list-unstyled ">
            <li>
              <button type="button" class="btn-u btn-block dropdown-toggle" data-toggle="dropdown">
                Details
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>Startup $50/mo</li>
                <li>Small $200/mo/pack</li>
                <li>Medium $650/mo/pack</li>
                <li>Large $2,500/mo/pack</li>
              </ul>
              <span class="hidden-md hidden-lg">Detailed Pricing</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-times"></i>
              <span class="hidden-md hidden-lg">Credit Card Requirement</span>
            </li>
            <li>
              50 GB<span class="hidden-md hidden-lg">Diskspace</span>
            </li>
            <li class="bg-color">
              150<span class="hidden-md hidden-lg">Subdomains</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Email Addresses</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg"> MySQL Databases</span>
            </li>
            <li>
              $200<span class="hidden-md hidden-lg">Google AdWords Credits</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Message from Users List</span>
            </li>
            <li class="bg-color">
              $250<span class="hidden-md hidden-lg">Google Adwords Voucher</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Customisable Toolbar</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Ports Controls</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-times"></i>
              <span class="hidden-md hidden-lg">Premium DNS</span>
            </li>
            <li>
              <i class="fa fa-times"></i>
              <span class="hidden-md hidden-lg">SSL Certificate</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
            </li>
          </ul>
          <div class="btn-group btn-group-justified">
            <button type="button" class="btn-u btn-block dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-shopping-cart"></i>
              Sign Up
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">14 Day Free Trial </a></li>
              <li><a href="#">$ 69.99 One Month</a></li>
              <li><a href="#">$ 250.50 Six Month</a></li>
              <li><a href="#">$ 420.99 One Year</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 block">
        <div class="pricing">
          <div class="pricing-head">
            <h3>
              Enterprise <span>Officia deserunt mollitia</span>
            </h3>
            <h4 class="price">
              <i>$</i>12.5<i>K</i>
              <span class="hidden-md hidden-lg">Per Month</span>
            </h4>
          </div>
          <ul class="pricing-content list-unstyled ">
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Detailed Pricing</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Credit Card Requirement</span>
            </li>
            <li>
              Unlimited<span class="hidden-md hidden-lg">Diskspace</span>
            </li>
            <li class="bg-color">
              2000<span class="hidden-md hidden-lg">Subdomains</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Email Addresses</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg"> MySQL Databases</span>
            </li>
            <li>
              $500<span class="hidden-md hidden-lg">Google AdWords Credits</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Message from Users List</span>
            </li>
            <li class="bg-color">
              $750<span class="hidden-md hidden-lg">Google Adwords Voucher</span>
            </li>
            <li>
              <i class="fa fa-check">
              </i><span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Customisable Toolbar</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Ports Controls</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Premium DNS</span>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">SSL Certificate</span>
            </li>
            <li class="bg-color">
              <i class="fa fa-check"></i>
              <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
            </li>
          </ul>
          <div class="btn-group btn-group-justified">
            <button type="button" class="btn-u btn-block dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-shopping-cart"></i>
              Sign Up
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">14 Day Free Trial </a></li>
              <li><a href="#">$ 99.99 One Month</a></li>
              <li><a href="#">$ 500.50 Six Month</a></li>
              <li><a href="#">$ 800.99 One Year</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Pricing Mega v1 -->*@