@model IEnumerable<ResourceViewModel>
@{
    ViewBag.Title = "Videos";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/CookiesNotice");
}
@section ExtraHeaders {
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}

<section class="py-3 py-lg-5">
    <div class="container">
        @Html.Partial("~/Views/Resources/_BreadCrumbs.cshtml")
        <div class="row resource-list">
            @foreach (var post in @Model)
            {

                <div class="col-lg-4 col-sm-6 mb-4">
                    <a href="
                       @if (post.Type.Contains("Customer Success Story"))
                        {
                            @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "success-stories", resourceName = post.UrlPath })
                        }
                        else if (post.Type.Contains("Video"))
                        {
                            @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "videos", resourceName = post.UrlPath })
                        }
                        else if (post.Type.Contains("Case Study"))
                        {
                            @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "case-studies", resourceName = post.UrlPath })
                        }
                    ">
                        <div class="card h-100">
                            <div class="card-header font-weight-bold bg-medium-light text-center">
                                @if (post.Type.Contains("Customer Success Story"))
                                {
                                    <span class="icon-star" alt="Customer Success Stories"></span>
                                }
                                else if (post.Type.Contains("Video"))
                                {
                                    <span class="icon-play" alt="Videos"></span>
                                }
                                else if (post.Type.Contains("Case Study"))
                                {
                                    <span class="icon-briefcase" alt="Case Studies"></span>
                                }
                                <span>@post.Type</span>
                            </div>
                            <div class="card-body p-0">
                                @if (post.Type.Contains("Customer Success Story"))
                                {
                                    @Html.Raw(post.Image)
                                }
                                else if (post.Type.Contains("Video"))
                                {
                                    @Html.Raw(post.Image)
                                }
                                else if (post.Type.Contains("Case Study"))
                                {
                                    @Html.Raw(post.Image)
                                }
                            </div>
                            <div class="card-footer">
                                @if (post.Type.Contains("Customer Success Story"))
                                {
                                    <h5>@post.Company</h5>
                                    <p><small><i>@post.Name, @post.Position</i></small></p>
                                }
                                else if (post.Type.Contains("Video") || post.Type.Contains("Case Study"))
                                {
                                    <h5>@post.Title</h5>
                                }
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>