@{
string currentUrl = Request.Url.AbsoluteUri;

if (currentUrl.ToLower().Contains("installation-in-detail"))
{
    <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName= "getting-started", courseModuleName = "home" })" class="btn btn-success mt-3">Review Unfinished Modules <span class="icon-chevron-right"></span></a>
}
else
{
    <a href="@if (currentUrl.ToLower().Contains("what-is-chocolatey")) {
    @Url.RouteUrl(RouteName.CourseName, new { courseName= "getting-started", courseModuleName = "requirements" })
}
else if (currentUrl.ToLower().Contains("requirements")) {
    @Url.RouteUrl(RouteName.CourseName, new { courseName= "getting-started", courseModuleName = "how-to-use" })
}
else if (currentUrl.ToLower().Contains("how-to-use")) {
    @Url.RouteUrl(RouteName.CourseName, new { courseName= "getting-started", courseModuleName = "terminology" })
}
else if (currentUrl.ToLower().Contains("terminology")) {
    @Url.RouteUrl(RouteName.CourseName, new { courseName= "getting-started", courseModuleName = "chocolatey-packages" })
}
else if (currentUrl.ToLower().Contains("chocolatey-packages")) {
    @Url.RouteUrl(RouteName.CourseName, new { courseName= "getting-started", courseModuleName = "how-chocolatey-works" })
}
else if (currentUrl.ToLower().Contains("how-chocolatey-works")) {
    @Url.RouteUrl(RouteName.CourseName, new { courseName= "getting-started", courseModuleName = "installation-in-detail" })
}" class="btn btn-success mt-3">Continue with Course<span class="icon-chevron-right"></span></a>
}
}