@model IEnumerable<EventViewModel>
@{
    ViewBag.Title = "12 Days of Chocolatey";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/jquery-countdown");

    var description = "We'll have a live daily event for an hour - every weekday from Dec 1 - Dec 16. While registration is optional, it is strongly encouraged as we plan to have prizes and giveaways and other fun things.";
}
@section ExtraHeaders {
    <meta property="og:description" content="@description" />
    <meta property="description" content="@description" />
    <meta property="og:image" content="https://chocolatey.org/content/images/events/01-06.jpg" />
}

@foreach (var post in @Model)
{
    if (post.Title.Equals("12 Days of Chocolatey"))
    {
        @* Used by JS to configure countdown clock *@
        <input class="date" type="hidden" value="2020/12/01" />
        <input class="hour" type="hidden" value="@post.EventDate.GetValueOrDefault().ToString("HH")" />
        <input class="minutes" type="hidden" value="@post.EventDate.GetValueOrDefault().ToString("mm")" />

        <div id="countdown-header" class="bg-medium-dark text-white border-top-dark text-center bg-snowflake">
            <section class="pt-3 pt-lg-5 pb-5">
                <div class="container-fluid pt-lg-3">
                    <div class="d-md-flex align-items-md-center justify-content-md-center">
                        <img class="img-fluid mr-5 d-none d-md-flex" width="150" height="143" src="@Url.Content("~/content/images/chocolatey-holiday-icon.svg")" />
                        <img class="img-fluid" width="450" height="214" src="@Url.Content("~/content/images/12-days-logo-light.svg")" />
                    </div>
                    <h5 class="countdown-date my-4 mb-md-5">
                        <span class="mr-lg-4 mb-3 mb-lg-0 d-inline-block"><i class="fas fa-calendar"></i> @post.EventDateRange</span>
                        <br class="d-lg-none" />
                        <span><i class="fas fa-clock"></i> Daily at 4-5 PM GMT / 8-9 AM PST / 10-11 AM CST / 11-12 AM EST</span>
                    </h5>
                    @*<a href="@post.RegisterLink" target="_blank" rel="noreferrer" class="btn btn-success btn-lg mb-4 mb-md-5"><span class="h2 font-weight-bold">Reserve My Spot Now</span></a>*@
                    <button class="btn btn-secondary btn-lg mb-3" disabled><span class="h2 font-weight-bold">Reserve My Spot Now</span></button>
                    <p style="max-width: 720px;" class="mb-4 mb-md-5 mx-auto">
                        Prizes for first 50 registrants! Registration opens on Tuesday at 12:30 PM CST during the live stream announcement. We'll update this page after on Tuesday Nov 24th. Join the live stream at 
                        <a class="btn btn-link text-success p-0" href="https://twitch.tv/chocolateysoftware">https://twitch.tv/chocolateysoftware</a> on Tuesday at 12:25 PM CST. <br class="d-none d-lg-block" />
                        <a class="btn btn-link p-0 text-success" href="https://everytimezone.com/s/37875715" target="_blank" rel="noreferrer">Convert to your time zone<i class="fas fa-angle-right"></i></a>
                    </p>
                </div>
            </section>
            <div class="position-relative"><div class="countdown-container countdown-container-range countdown-container-blocks countdown-container-absolute-center countdown-container-success"></div></div>
            <div class="shape-border shape-border-bottom"></div>
        </div>
        <section class="pb-3 pb-lg-5">
            <div class="container">
                <div class="mb-4 d-flex">
                    <div><img class="mr-1 img-berry" src="@Url.Content("~/content/images/holly.svg")" alt="Holiday Holly" /></div>
                    <h1 class="mb-0">12 Days - 1 Topic, 1 Hour, Each Day</h1>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <p>We'll have a live daily event for an hour - every weekday from Dec 1 - Dec 16. While registration is optional, it is strongly encouraged as we plan to have prizes and giveaways and other fun things.</p>
                        <div class="d-lg-none text-center">
                            <h3>Join Us Live On</h3>
                            @Html.Partial("~/Views/Shared/_LivestreamShare.cshtml")
                        </div>
                        <ul class="list-circle list-circle-success-fade list-circle-fa-check">
                            <li>Live streamed on all your favorite platforms</li>
                            <li>One hour each day <a href="#schedule" rel="nofollow">(see schedule below)</a></li>
                            <li>Chocolatey Central Management Deployments</li>
                            <li>Chocolatey &amp; Ansible</li>
                            <li>Building Packages</li>
                            <li>Self-Service Anywhere</li>
                            <li>NEW exciting Chocolatey announcements</li>
                        </ul>
                        <p>Can't attend live? We'll try to record for later, but you'll miss out on being able to contribute and shape the discussions during the live stream sessions! Plus you'll miss out on giveaways!</p>
                        @*<div class="text-center d-md-none"><a href="@post.RegisterLink" target="_blank" rel="noreferrer" class="btn btn-lg btn-success">Reserve My Spot Now</a></div>*@
                    </div>
                    <div class="col-lg-6 d-none d-md-block">
                        <div class="d-none d-lg-block">
                            <h3>Join Us Live On</h3>
                            @Html.Partial("~/Views/Shared/_LivestreamShare.cshtml")
                        </div>
                        <div>
                            <h3 class="mb-4">Event Speakers</h3>
                            <div class="row text-center">
                                <div class="col-6 col-md-4">
                                    <a href="#rob-reynolds">
                                        <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/rob-reynolds.jpg")" alt="Rob Reynolds" title="Rob Reynolds" />
                                        <p>Rob Reynolds</p>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a href="#paul-broadwith">
                                        <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/paul-broadwith.jpg")" alt="Paul Broadwith" title="Paul Broadwith" />
                                        <p>Paul Broadwith</p>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a href="#gary-ewan-park">
                                        <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/gary-ewan-park.jpg")" alt="Gary Ewan Park" title="Gary Ewan Park" />
                                        <p>Gary Ewan Park</p>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a href="#joel-sallow-francis">
                                        <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/joel-sallow-francis.jpg")" alt="Joel (Sallow) Francis" title="Joel (Sallow) Francis" />
                                        <p>Joel (Sallow) Francis</p>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a href="#adil-leghari">
                                        <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/adil-leghari.jpg")" alt="Adil Leghari" title="Adil Leghari" />
                                        <p>Adil Leghari</p>
                                    </a>
                                </div>
                                <div class="col-6 col-md-4">
                                    <a href="#stephen-valdinger">
                                        <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/stephen-valdinger.jpg")" alt="Stephen Valdinger" title="Stephen Valdinger" />
                                        <p>Stephen Valdinger</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="schedule" class="py-3 py-lg-5 bg-white">
            <div class="container">
                <div class="mb-4 d-flex">
                    <div><img class="mr-1 img-berry" src="@Url.Content("~/content/images/holly.svg")" alt="Holiday Holly" /></div>
                    <h1 class="mb-0">Daily Event Schedule</h1>
                </div>
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>1</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Keynote - "The Power of Simple"</h5>
                                <p class="mb-0">
                                    <span class="badge badge-pill text-right text-capitalize badge-secondary d-inline-block mb-2 mb-md-0 mr-md-3">Livestream</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speaker: Rob Reynolds</span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>2</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Redefining Chocolatey</h5>
                                <p class="mb-0">
                                    <span class="badge badge-pill text-right text-capitalize badge-secondary d-inline-block mb-2 mb-md-0 mr-md-3">Livestream</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Rob Reynolds, Adil Leghari</span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>3</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Chocolatey Central Managements Deployments Scheduling, Semi-Connected Environments, and API</h5>
                                <p>
                                    <span class="badge badge-pill text-right text-capitalize badge-success d-inline-block mb-2 mb-md-0 mr-md-3">Webinar</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Gary Ewan Park, Joel (Sallow) Francis</span>
                                </p>
                                <p>
                                    Chocolatey Central Management's premiere feature of Deployments now can work with schedules, semi-connected environments, and CCM (Chocolatey Central Management) overall has a published API so you can accomplish more, much more.
                                    <strong> Separate Registration Required!</strong>
                                </p>
                                <a class="btn btn-outline-secondary" href="https://chocolatey.zoom.us/webinar/register/6516058272049/WN__AtcpeIbQnGACco6PE2QbA">Register Now</a>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>4</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Chocolatey in the Organizations</h5>
                                <p class="mb-0">
                                    <span class="badge badge-pill text-right text-capitalize badge-secondary d-inline-block mb-2 mb-md-0 mr-md-3">Livestream</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Gary Ewan Park</span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>7</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Building Packages (Open Source and C4B)</h5>
                                <p class="mb-0">
                                    <span class="badge badge-pill text-right text-capitalize badge-secondary d-inline-block mb-2 mb-md-0 mr-md-3">Livestream</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Adil Leghari</span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>8</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Exploring Quick Deployment Environment (QDE) & Offline / Internal Environments</h5>
                                <p class="mb-0">
                                    <span class="badge badge-pill text-right text-capitalize badge-secondary d-inline-block mb-2 mb-md-0 mr-md-3">Livestream</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Stephen Valdinger</span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>9</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="text-break">Choco CCM Module (Deployments / Integrations / Reporting)</h5>
                                <p class="mb-0">
                                    <span class="badge badge-pill text-right text-capitalize badge-secondary d-inline-block mb-2 mb-md-0 mr-md-3">Livestream</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Stephen Valdinger, Joel (Sallow) Francis</span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>10</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Chocolatey & Ansible Webinar</h5>
                                <p>
                                    <span class="badge badge-pill text-right text-capitalize badge-success d-inline-block mb-2 mb-md-0 mr-md-3">Webinar</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Adil Leghari, Paul Broadwith</span>
                                </p>
                                <p><strong>Separate Registration Required!</strong></p>
                                <a class="btn btn-outline-secondary" href="https://chocolatey.zoom.us/webinar/register/9116058944622/WN_4sBxu-fqRRSL3-fglGqclQ">Register Now</a>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>11</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Chocolatey Integrations Discussion (including SCCM & Intune)</h5>
                                <p class="mb-0">
                                    <span class="badge badge-pill text-right text-capitalize badge-secondary d-inline-block mb-2 mb-md-0 mr-md-3">Livestream</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Chocolatey Team</span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>14</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Exploring Self-Service Anywhere</h5>
                                <p class="mb-0">
                                    <span class="badge badge-pill text-right text-capitalize badge-secondary d-inline-block mb-2 mb-md-0 mr-md-3">Livestream</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Paul Broadwith</span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>15</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Will be announced soon (and will be exciting!)</h5>
                                <p class="mb-0">
                                    <span class="badge badge-pill text-right text-capitalize badge-secondary d-inline-block mb-2 mb-md-0 mr-md-3">Livestream</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Rob Reynolds, Stephen Valdinger</span>
                                </p>
                            </div>
                        </div>
                        <hr class="my-4" />

                        <div class="d-flex flex-row mb-3">
                            <div>
                                <div class="calendar-date calendar-date-sm mr-3">
                                    <div>December</div>
                                    <div>16</div>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5>Q&A Panel Session & Wrap</h5>
                                <p class="mb-0">
                                    <span class="badge badge-pill text-right text-capitalize badge-secondary d-inline-block mb-2 mb-md-0 mr-md-3">Livestream</span>
                                    <br class="d-md-none" />
                                    <span><i class="fas fa-microphone text-secondary mr-1"></i>Speakers: Chocolatey Team</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="text-center d-md-none mt-3"><a href="@post.RegisterLink" target="_blank" rel="noreferrer" class="btn btn-lg btn-success">Reserve My Spot Now</a></div>*@
            </div>
        </section>
        <section class="py-3 py-lg-5 pb-lg-0">
            <div class="container">
                <div class="mb-4 d-flex">
                    <div><img class="mr-1 img-berry" src="@Url.Content("~/content/images/holly.svg")" alt="Holiday Holly" /></div>
                    <h1 class="mb-0">Event Speakers</h1>
                </div>
                <div class="row">
                    <div id="rob-reynolds" class="col-md-6 col-xl-4 mb-3 mb-md-5">
                        <div class="event-speaker">
                            <div class="d-flex mb-2 align-items-center">
                                <div class="mr-3">
                                    <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/rob-reynolds.jpg")" alt="Rob Reynolds" title="Rob Reynolds" />
                                </div>
                                <div>
                                    <h5 class="font-weight-bold text-success mb-0">Rob Reynolds</h5>
                                    <p class="mb-0"><strong>Chocolatey Founder</strong></p>
                                </div>
                            </div>
                            <div class="d-flex my-3">
                                <a class="btn btn-sm btn-secondary btn-linkedin mr-2" href="https://www.linkedin.com/in/robreynolds" target="_blank" rel="noreferrer" title="View more about Rob Reynolds on LinkedIn">Linked <i class="fab fa-linkedin"></i></a>
                                <a class="btn btn-sm btn-secondary btn-twitter" href="https://twitter.com/ferventcoder" target="_blank" rel="noreferrer" title="View more about Rob Reynolds on Twitter"><i class="fab fa-twitter"></i> Twitter</a>
                            </div>
                            <p class="mb-0">Rob is a developer turned founder with 14+ years experience in infrastructure automation and modern automation approaches. He excels in taking hard concepts and making them approachable and easy.</p>
                        </div>
                    </div>
                    <div id="paul-broadwith" class="col-md-6 col-xl-4 mb-3 mb-md-5">
                        <div class="event-speaker">
                            <div class="d-flex mb-2 align-items-center">
                                <div class="mr-3">
                                    <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/paul-broadwith.jpg")" alt="Paul Broadwith" title="Paul Broadwith" />
                                </div>
                                <div>
                                    <h5 class="font-weight-bold text-success mb-0">Paul Broadwith</h5>
                                    <p class="mb-0"><strong>Senior Technical Engineer at Chocolatey Software</strong></p>
                                </div>
                            </div>
                            <div class="d-flex my-3">
                                <a class="btn btn-sm btn-secondary btn-linkedin mr-2" href="https://www.linkedin.com/in/paulbroadwith" target="_blank" rel="noreferrer" title="View more about Paul Broadwith on LinkedIn">Linked <i class="fab fa-linkedin"></i></a>
                                <a class="btn btn-sm btn-secondary btn-twitter" href="https://twitter.com/pauby" target="_blank" rel="noreferrer" title="View more about Paul Broadwith on Twitter"><i class="fab fa-twitter"></i> Twitter</a>
                            </div>
                            <p class="mb-0">Paul Broadwith of Glasgow Scotland has 25+ years in IT in financial, government, manufacturing and services sectors. He is the Lead Engineer on Boxstarter and cChoco DSC Resource.</p>
                        </div>
                    </div>
                    <div id="gary-ewan-park" class="col-md-6 col-xl-4 mb-3 mb-md-5">
                        <div class="event-speaker">
                            <div class="d-flex mb-2 align-items-center">
                                <div class="mr-3">
                                    <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/gary-ewan-park.jpg")" alt="Gary Ewan Park" title="Gary Ewan Park" />
                                </div>
                                <div>
                                    <h5 class="font-weight-bold text-success mb-0">Gary Ewan Park</h5>
                                    <p class="mb-0"><strong>Senior Software Engineer at Chocolatey Software</strong></p>
                                </div>
                            </div>
                            <div class="d-flex my-3">
                                <a class="btn btn-sm btn-secondary btn-linkedin mr-2" href="https://www.linkedin.com/in/gep13" target="_blank" rel="noreferrer" title="View more about Gary Ewan Park on LinkedIn">Linked <i class="fab fa-linkedin"></i></a>
                                <a class="btn btn-sm btn-secondary btn-twitter" href="https://twitter.com/gep13" target="_blank" rel="noreferrer" title="View more about Gary Ewan Park on Twitter"><i class="fab fa-twitter"></i> Twitter</a>
                            </div>
                            <p class="mb-0">Gary Ewan Park has 10+ years working as a developer in the Oil and Gas Industry. He is the primary maintainer on the Chocolatey GUI project and the lead automation expert on Chocolatey Central Management.</p>
                        </div>
                    </div>
                    <div id="joel-sallow-francis" class="col-md-6 col-xl-4 mb-3 mb-md-5">
                        <div class="event-speaker">
                            <div class="d-flex mb-2 align-items-center">
                                <div class="mr-3">
                                    <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/joel-sallow-francis.jpg")" alt="Joel (Sallow) Francis" title="Joel (Sallow) Francis" />
                                </div>
                                <div>
                                    <h5 class="font-weight-bold text-success mb-0">Joel (Sallow) Francis</h5>
                                    <p class="mb-0"><strong>Software Engineer at Chocolatey Software</strong></p>
                                </div>
                            </div>
                            <div class="d-flex my-3">
                                <a class="btn btn-sm btn-secondary btn-linkedin mr-2" href="https://www.linkedin.com/in/joel-francis-356539128" target="_blank" rel="noreferrer" title="View more about Joel (Sallow) Francis on LinkedIn">Linked <i class="fab fa-linkedin"></i></a>
                                <a class="btn btn-sm btn-secondary btn-twitter" href="https://twitter.com/vexx32" target="_blank" rel="noreferrer" title="View more about Joel (Sallow) Francis on Twitter"><i class="fab fa-twitter"></i> Twitter</a>
                            </div>
                            <p class="mb-0">Joel is a PowerShell and C# developer, creator of PSKoans & always looking to learn more. Originally from Australia, hanging out in Florida, typically tinkering with something fun.</p>
                        </div>
                    </div>
                    <div id="adil-leghari" class="col-md-6 col-xl-4 mb-3 mb-md-5">
                        <div class="d-flex mb-2 align-items-center">
                            <div class="mr-3">
                                <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/adil-leghari.jpg")" alt="Adil Leghari" title="Adil Leghari" />
                            </div>
                            <div>
                                <h5 class="font-weight-bold text-success mb-0">Adil Leghari</h5>
                                <p class="mb-0"><strong>Senior Solutions Engineer at Chocolatey Software</strong></p>
                            </div>
                        </div>
                        <div class="d-flex my-3">
                            <a class="btn btn-sm btn-secondary btn-linkedin mr-2" href="https://www.linkedin.com/in/adilio" target="_blank" rel="noreferrer" title="View more about Adil Leghari on LinkedIn">Linked <i class="fab fa-linkedin"></i></a>
                            <a class="btn btn-sm btn-secondary btn-twitter" href="https://twitter.com/adilio" target="_blank" rel="noreferrer" title="View more about Adil Leghari on Twitter"><i class="fab fa-twitter"></i> Twitter</a>
                        </div>
                        <p class="mb-0">Adil Leghari is a 15-year Sysadmin who is super-passionate about PowerShell and automation. He is a co-founder of the Pacific Northwest PowerShell User Group and a co-host of BridgeConf. When not working at Chocolatey, he enjoys long walks on the beach, candlelit dinners, and designing stickers.</p>
                    </div>
                    <div id="stephen-valdinger" class="col-md-6 col-xl-4">
                        <div class="event-speaker">
                            <div class="d-flex mb-2 align-items-center">
                                <div class="mr-3">
                                    <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/stephen-valdinger.jpg")" alt="Stephen Valdinger" title="Stephen Valdinger" />
                                </div>
                                <div>
                                    <h5 class="font-weight-bold text-success mb-0">Stephen Valdinger</h5>
                                    <p class="mb-0"><strong>Solutions Engineer at Chocolatey Software</strong></p>
                                </div>
                            </div>
                            <div class="d-flex my-3">
                                <a class="btn btn-sm btn-secondary btn-linkedin mr-2" href="https://www.linkedin.com/in/stephenvaldinger" target="_blank" rel="noreferrer" title="View more about Stephen Valdinger on LinkedIn">Linked <i class="fab fa-linkedin"></i></a>
                                <a class="btn btn-sm btn-secondary btn-twitter" href="https://twitter.com/steviecoaster" target="_blank" rel="noreferrer" title="View more about Stephen Valdinger on Twitter"><i class="fab fa-twitter"></i> Twitter</a>
                            </div>
                            <p class="mb-0">Stephen has been messing with technology professionally since 2007, after a childhood of tearing apart anything that plugged into a wall to the chagrin of his parents. He's focused on PowerShell and automation the last 5 years, and always looks for creative ways to solve complex problems.</p>
                        </div>
                    </div>
                </div>
                @*<div class="text-center mt-3 mt-md-0"><a href="@post.RegisterLink" target="_blank" rel="noreferrer" class="btn btn-lg btn-success">Reserve My Spot Now</a></div>*@
            </div>
        </section>
    }
}
