@model IEnumerable<EventViewModel>
@{
    ViewBag.Title = "Webinar: Accelerate Automation of Windows with Ansible + Chocolatey";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/jquery-countdown");

    var description = "Together, Ansible and Chocolatey bring faster and more secure deployments to your Windows environments. Use Chocolatey for software/package management and Ansible to automate and guarantee the desired state of your Windows infrastructure, allowing your team to securely deploy applications faster than ever.";
}
@section ExtraHeaders {
    <meta property="og:description" content="@description" />
    <meta property="description" content="@description" />
    <meta property="og:image" content="https://chocolatey.org/content/images/events/01-07.jpg" />
}
@foreach (var post in @Model)
{
    if (post.Title.Equals("Accelerate Automation of Windows with Ansible + Chocolatey"))
    {
        @* Used by JS to configure countdown clock *@
        <input class="date" type="hidden" value="@post.EventDate.GetValueOrDefault().ToString("yyyy/MM/dd")" />
        <input class="hour" type="hidden" value="@post.EventDate.GetValueOrDefault().ToString("HH")" />
        <input class="minutes" type="hidden" value="@post.EventDate.GetValueOrDefault().ToString("mm")" />

        <div id="countdown-header" class="bg-dark text-white border-top-dark text-center">
            <section class="pt-3 pt-lg-5 pb-5">
                <div class="container-fluid pt-lg-3">
                    <h4 class="mb-0 text-muted-dark">WEBINAR</h4>
                    <h1 class="mb-0 display-4">Accelerate Automation <br class="d-none d-md-block" />of Windows with Ansible + Chocolatey</h1>
                    <hr class="d-sm-none mt-3 mb-4 mb-md-5 border-hr-lg">
                    <div class="d-none d-sm-flex align-items-sm-center justify-content-sm-center my-3">
                        <img class="img-fluid" width="150" height="143" src="@Url.Content("~/content/images/chocolatey-holiday-icon.svg")" />
                        <i class="fas fa-plus display-4 mx-4"></i>
                        <img class="img-fluid" width="150" height="150" src="@Url.Content("~/content/images/businesses/Ansible-red-sm.png")" />
                    </div>
                    <h5 class="countdown-date">
                        <span class="mr-lg-4 mb-3 mb-lg-0 d-inline-block"><i class="fas fa-calendar"></i> @post.EventDate.GetValueOrDefault().ToString("dddd, %d MMMM yyyy")</span>
                        <br class="d-lg-none" />
                        <span><i class="fas fa-clock"></i> @post.Time</span>
                    </h5>
                    <a href="@post.RegisterLink" target="_blank" rel="noreferrer" class="btn btn-success btn-lg my-4 mb-md-5"><span class="h2 font-weight-bold">Reserve My Spot Now</span></a>
                </div>
            </section>
            <div class="position-relative"><div class="countdown-container countdown-container-blocks countdown-container-absolute-center"></div></div>
            <div class="shape-border shape-border-bottom"></div>
        </div>
        <section class="pb-3 pt-lg-3 pb-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Overview</h3>
                        @Html.Raw(post.Post)
                        <a href="@post.RegisterLink" target="_blank" rel="noreferrer" class="btn btn-lg btn-success d-sm-none">Reserve My Spot Now</a>
                        <div class="countdown-details">
                            <hr class="my-4 d-sm-none" />
                            <h3 class="mt-sm-4">Event Details</h3>
                            <div class="row align-items-center">
                                <div class="d-none d-sm-block col-sm-4 col-md-3">
                                    <div class="calendar-date">
                                        <div>@post.EventDate.GetValueOrDefault().ToString("MMMM")</div>
                                        <div>@post.EventDate.GetValueOrDefault().ToString("%d")</div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-md-9">
                                    <ul class="list-unstyled mb-0 h5">
                                        <li class="mb-2"><strong>Title: </strong>@post.Title</li>
                                        <li class="mb-2"><strong>Date: </strong>@post.EventDate.GetValueOrDefault().ToString("dddd, %d MMMM yyyy")</li>
                                        <li class="mb-2"><strong>Time: </strong>@post.Time<br /><small><a href="https://everytimezone.com/s/b84effee" target="_blank" rel="noreferrer">Convert to your time zone<i class="fas fa-angle-right"></i></a></small></li>
                                        <li><strong>Duration: </strong>@post.Duration</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-center d-none d-sm-block">
                            <a href="@post.RegisterLink" target="_blank" rel="noreferrer" class="btn btn-success btn-lg mt-3"><span class="h2 font-weight-bold">Reserve My Spot Now</span></a>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-sm-4 mt-lg-0">
                        <hr class="my-4 d-sm-none" />
                        <h3>Speakers:</h3>
                        <div class="event-speaker">
                            <div class="d-flex mb-2 align-items-center">
                                <div class="mr-3">
                                    <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/paul-broadwith.jpg")" alt="Paul Broadwith" title="Paul Broadwith" />
                                </div>
                                <div>
                                    <h5 class="font-weight-bold text-primary mb-0">Paul Broadwith</h5>
                                    <p class="mb-0"><strong>Senior Technical Engineer at Chocolatey</strong></p>
                                </div>
                            </div>
                            <p class="mb-2">Paul Broadwith of Glasgow Scotland has 25+ years in IT in financial, government, manufacturing and services sectors. He is the Lead Engineer on Boxstarter and cChoco DSC Resource.</p>
                            <div class="d-flex">
                                <a class="btn btn-sm btn-secondary btn-linkedin mr-2" href="https://www.linkedin.com/in/paulbroadwith" target="_blank" rel="noreferrer" title="View more about Paul Broadwith on LinkedIn">Linked <i class="fab fa-linkedin"></i></a>
                                <a class="btn btn-sm btn-secondary btn-twitter" href="https://twitter.com/pauby" target="_blank" rel="noreferrer" title="View more about Paul Broadwith on Twitter"><i class="fab fa-twitter"></i> Twitter</a>
                            </div>
                        </div>
                        <div class="event-speaker">
                            <div class="d-flex mb-2 align-items-center">
                                <div class="mr-3">
                                    <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/adil-leghari.jpg")" alt="Adil Leghari" title="Adil Leghari" />
                                </div>
                                <div>
                                    <h5 class="font-weight-bold text-primary mb-0">Adil Leghari</h5>
                                    <p class="mb-0"><strong>Senior Solutions Engineer at Chocolatey Software</strong></p>
                                </div>
                            </div>
                            <div class="d-flex my-3">
                                <a class="btn btn-sm btn-secondary btn-linkedin mr-2" href="https://www.linkedin.com/in/adilio" target="_blank" rel="noreferrer" title="View more about Adil Leghari on LinkedIn">Linked <i class="fab fa-linkedin"></i></a>
                                <a class="btn btn-sm btn-secondary btn-twitter" href="https://twitter.com/adilio" target="_blank" rel="noreferrer" title="View more about Adil Leghari on Twitter"><i class="fab fa-twitter"></i> Twitter</a>
                            </div>
                            <p class="mb-0">Adil Leghari is a 15-year Sysadmin who is super-passionate about PowerShell and automation. He is a co-founder of the Pacific Northwest PowerShell User Group and a co-host of BridgeConf. When not working at Chocolatey, he enjoys long walks on the beach, candlelit dinners, and designing stickers.</p>
                        </div>
                        <div class="event-speaker">
                            <div class="d-flex mb-2 align-items-center">
                                <div class="mr-3">
                                    <img class="rounded shadow" width="75" src="@Url.Content("~/content/images/speakers/george-james.jpg")" alt="George James" title="George James" />
                                </div>
                                <div>
                                    <h5 class="font-weight-bold text-primary mb-0">George James</h5>
                                    <p class="mb-0"><strong>Solutions Architect (Global Partner, Solutions Architecture) at Red Hat</strong></p>
                                </div>
                            </div>
                            <div class="d-flex my-3">
                                <a class="btn btn-sm btn-secondary btn-linkedin" href="https://www.linkedin.com/in/george-james-171696168" target="_blank" rel="noreferrer" title="View more about George James on LinkedIn">Linked <i class="fab fa-linkedin"></i></a>
                            </div>
                            <p class="mb-0">George is a Solutions Architect for Red Hat (Global Partner, Solution Architecture). He has over 20 years experience in IT for a large financial services company. George Specializes in Network and Windows Automation with Ansible.</p>
                        </div>
                    </div>
                </div>
                <div class="text-center d-lg-none">
                    <a href="@post.RegisterLink" target="_blank" rel="noreferrer" class="btn btn-success btn-lg mt-3"><span class="h2 font-weight-bold">Reserve My Spot Now</span></a>
                </div>
            </div>
        </section>
    }
}